
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <h2 class="mb-0 p-1">Formulario Compra</h2>
    </div>
</header>
<!-- Forms Section-->
<section class="forms">
    <div class="container-fluid">
        <h1 align="center">Datos cliente</h1>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 66%">66%</div>
        </div>
        <div class="row">
            <!-- Basic Form-->
            <div class="col-lg-4">
                <br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="h4 mb-0">Los datos de tu reserva</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="text-sm">Entrada<br><b>mar, 6 sep 2022</b><br>12:00 - 17:00</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-sm">Salida<br><b>mié, 7 sep 2022</b><br>A 13:00</p>
                            </div>
                            <hr>
                            <p class="text-sm">Duración de la estancia:<br><b>2 noches</b></p>
                            <hr>
                            <p class="text-sm">Tu selección:<br><b>Habitación Triple</b></p>
                            <p class="text-sm">Capacidad máxima<br><b>3 adultos</b></p>
                            <div>
                                <p class="text-md text-success"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAANhJREFUSEvtlDEOgkAQRR8JCRYWexM5gh7Fylh5BOEGdpYeRY+gN9mCRmMiWQIGNyyzuNIYaGiG9zJ/hokY+YlG5jMJxISniKqI1Emp54NdsdG5nVlwRBX8zhlIeZEXW521JUGCDzjc4oSlXmv9E4EP3Ii+6sAX3iuYH1UWzzjYLQ+BOwUGTsQeuMYJq0YyFO4U1KALsGgkpvi9LY6Bdv3WzhnYkvrjlAFwcciWxNR3rmLfQRK3qCWha8+laycKmlNg3vZGSXAxIh+AVOPVgQQJmkEI/D8iKgHNW2kZYuGG4gAAAABJRU5ErkJggg==" /> ¡Esta opción encaja bien!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="h4 mb-0">Desglose del precio</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-7">
                                <p class="text-sm">Habitación Doble<br>16% IVA</p>
                            </div>
                            <div class="col-sm-5">
                                <p class="text-sm" align="right">HNL 1000.00 <br> HNL 160.00</p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-md"><b>Subtotal:</b></p>
                            </div>
                            <div class="col-sm-5">
                                <p class="text-md" align="right"><b>HNL 1160.00</b></p>
                            </div>
                            <hr>
                            <div>
                                <p class="text-md text-danger"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAblJREFUSEu9VUFSg0AQ7OELwFl9QZIXxCfoC8zVjVWSlyQ5BI/qC4w/0BdIfpCcWZ4gYw0BaiELhGjcKg7A7PT0TG8v4cyLzpwfnQAr3584aTpmoiEAeWRFxBx9A+uHJHlvK7IRIHTdGwBzEF22smTeApipJFnb4qwAT667YKLHfMMOgLx/TOM4km8r3x8S8zWAAMBFHrdQWs/qIAcAteQzpfWijUHoeQIylxhiXt4nibyXqwKQtYXoTf4y0aiouEsIOaOvLI751mxXFcDzpJ9C2Vp56HksOZTWB8xLJsxblSRXRVFloKiFmJ8B7JTW1sG2AUjCsCjQYFEChL7/Aua7puq72pQD7OdB9KrieJLNpdgYep4oZNCn93VQYxaR0npUB2jsr1FE7xiTQe/NtrbV59SrRV1DNlq0UVpnttJryF0ApVStQy4OWU3HZhuOANifI5tMKzr+zUGrnaP/tQphYZodEwXTOF7+mdkViSqOyrxlxxFH/TTtGsCY0jQo7gubk1ZUVK8yd1ZJXPh9E5EdmINeF05FOaIux7kBs+h6kP/bgChCmq6bEh+46TFmdkpM56V/SlJzzw/RHRko+BZp2AAAAABJRU5ErkJggg==" /> No reembolsable</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="h4 mb-0">Ingresa los siguientes datos</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Nombre</label><label class="text-danger">*</label>
                                    <input class="form-control" type="text" required>
                                    <br>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Apellido</label><label class="text-danger">*</label>
                                    <input class="form-control" type="text" required>
                                    <br>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label" for="exampleInputEmail1">E-mail</label><label class="text-danger">*</label>
                                <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" required>
                                <div class="form-text" id="emailHelp">El correo de confirmación se enviará a esta dirección.</div>
                                <br>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">¿Para quién es la reserva?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Para mí
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Para otra persona
                                    </label>
                                </div>
                                <br>
                            </div>
                            <div align="center" class="d-grid gap-2 col-4 mx-auto">
                                <button class="btn btn-primary" type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<!-- Page Footer-->
<footer class="position-absolute bottom-0 bg-darkBlue text-white text-center py-3 w-100 text-xs" id="footer">
    <div class="container-fluid">
        <div class="row gy-2">
            <div class="col-sm-6 text-sm-start">
                <p class="mb-0">Your company &copy; 2017-2021</p>
            </div>
            <div class="col-sm-6 text-sm-end">
                <p class="mb-0">Design by <a href="https://bootstrapious.com/p/admin-template" class="text-white text-decoration-none">Bootstrapious</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</footer>