@model AHM_TOTAL_TRAVEL_WEB.Models.TransportDetailsViewModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>
<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon car"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear
                    </div>
                    <p>Crear un nuevo detalle de transporte</p>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "TransportDetails")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <form asp-action="Update" id="FrmDetallesTranporte">
                <div class="ui form attached fluid segment">
                    <div class="content">
                        <div class="three fields">
                            <div class="required field">
                                <label>Tipo Transporte</label>
                                <select id="Tprt_ID" name="Tprt_ID" class="ui dropdown search" asp-items="ViewBag.Tprt_ID" asp-for="Tprt_ID">
                                    <option value="">Seleccione un tipo de transporte</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>Capacidad</label>
                                <input asp-for="DeTr_Capacidad" />
                            </div>
                            <div class="required field">
                                <label>Horario</label>
                                <select id="HoTr_ID" name="HoTr_ID" class="ui dropdown search" asp-for="HoTr_ID">
                                    <option value="">Seleccione un horario</option>
                                </select>
                            </div>
                        </div>
                        <div class="three fields">
                            <div class="field">
                                <label>Precio</label>
                                <input asp-for="DeTr_Precio" />
                            </div>
                            <div class="field">
                                <label>Matricula</label>
                                <input asp-for="DeTr_Matricula" />
                            </div>

                        </div>

                        <input id="btnGuardar" type="button" value="Guardar" class="btn btn-purple ui positive button" />

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var horarioID = '@ViewData["HorarioID"]';
    </script>
    <script src="~/js/TransportDetails/Update.js"></script>
    <script>

        $("#btnGuardar").click(() => {
            const ValidateArray = [
                { validateMessage: "Seleccione un tipo de transporte", Jqueryinput: $("#Tprt_ID") },
                { validateMessage: "Ingrese la cantidad", Jqueryinput: $("#DeTr_Capacidad") },
                { validateMessage: "Seleccione un horario", Jqueryinput: $("#HoTr_ID") },
                { validateMessage: "Ingrese el precio", Jqueryinput: $("#DeTr_Precio") },
                { validateMessage: "Ingrese la matricula", Jqueryinput: $("#DeTr_Matricula") }

            ];
            const userValidate = ValidateForm(ValidateArray);
            if (userValidate) {
                $("#FrmDetallesTranporte").submit();
            }
        });
    </script>
}