
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <h2 class="mb-0 p-1">DETALLES DE LOS HOTELES</h2>
    </div>
</div>

<br />

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row text-dark">
                <div class="col-md-6">
                    <dl>
                        <dt class="col-sm-4">
                            Nombre
                        </dt>
                        <dd class="col-sm-12">
                            Continental´s Traveler
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl>
                        <dt class="col-sm-4">
                            Descripción
                        </dt>
                        <dd class="col-sm-12">
                            Fundado en 1955 por Ronald Mcdonald es uno de los mejores hoteles
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl>
                        <dt class="col-sm-4">
                            Direccion
                        </dt>
                        <dd class="col-sm-12">
                            San Pedro Sula
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl>
                        <dt class="col-sm-4">
                            Partners
                        </dt>
                        <dd class="col-sm-12">
                            Pollos Hermanos
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="fs-3 text-dark">Auditoría</h4>
        </div>
        <div class="card-body">
            <table class="table table-responsive table-hover table-bordered thead-dark">
                <thead class="text-dark">
                    <tr>
                        <th>Acción</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    <tr>
                        <td>Creado</td>
                        <td>Claudia</td>
                        <td>7/9/2022</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div>
                @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>