@model AHM_TOTAL_TRAVEL_WEB.Models.userCodevalidation
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Travel </title>
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="../assets/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../assets/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../assets/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../assets/img/favicon.ico">
    <!-- Tweaks for older IEs-->

</head>
<body style="background-color: #e1e1e169; ">
    <div class="main">
        <div class="container-xxl d-flex align-items-center justify-content-md-center position-relative py-5">
            <div class="row justify-content-md-center py-5">
                <div class="col-md-12 py-5">
                    <div class="card rounded-3">
                        <div class="card-header align-items-center justify-content-md-center bg-primary rounded-top">
                            <div class="row">
                                <div class="col-md-12 align-items-md-center justify-content-md-center">
                                    <div class="align-items-center justify-content-md-center text-center">
                                        <img src="~/assets/img/AHM-Fondo-Nombre-transparente.png" width="200vw" height="auto" class="img-fluid mx-auto d-block" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <h2>Codigo de Verificacion</h2>
                            <form asp-controller="Access" asp-action="CodeConfirmX" method="post" class="login-form py-2 w-100 justify-content-md-center">
                                <div class="input-material-group mb-3">
                                    <input asp-for="userCode" type="text" class="input-material" id="userCode" type="number" autocomplete="off">
                                    <label class="label-material">XXX-XXX-XXX</label>
                                </div>
                                <label class="labelvalidator" id="labelvalidatorCode"></label>
                                <div>
                                    <small class="text-gray-500">No recibio el Codigo? <a href="@Url.Action("Login","Access")" class="text-primary">Reenviar Codigo</a></small><br><br>
                                    <button class="btn btn-primary" type="submit">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- JavaScript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/chart.js/Chart.min.js"></script>
    <script src="../assets/vendor/just-validate/js/just-validate.min.js"></script>
    <script src="../assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
    <!-- Main File-->
    <script src="~/js/main.js"></script>
    <script src="../assets/js/front.js"></script>
    @{
        <script>
            var labelEmail = document.getElementById("labelvalidatorCode");
            if ('@ViewData["labelValidator"]' != null) {
                    labelEmail.innerHTML = '@ViewData["labelValidator"]';
                } else {
                    labelEmail.innerHTML = "Ha ocurrido un error.";
                }
        </script>
    }

</body>
</html>
