
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Total Travel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <script src="https://kit.fontawesome.com/bdd89edb33.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
          rel="stylesheet" />
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="~/assets/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/assets/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="~/css/Landing.css">
</head>
<style>
    @@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}
@@media screen and (min-width: 348px) {
  :root {
    font-size: 16px;
  }
}

    .carde {
        background-color: #FFFFFF;
        box-shadow: 0.125rem 0.25rem 1rem rgba(0, 59, 92, 0.2);
        margin-bottom: 1.5rem;
        z-index: 1;
        min-width: 300px;
        max-width: 300px;
        height: 500px;
        font-family: "Roboto";
        border-radius: 0.25rem;
        overflow: hidden;
        margin-left:30px;
    }
.card__container {
  display: flex;
  flex-direction: column;
}
.card__icon, .card__heading, .card__dates, .card__content, .card__actions {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
}
.card__icon {
  padding-top: 1.5rem;
  text-align: center;
}
.card__heading {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #003B5C;
  padding-top: 1rem;
}
.card__content {
  color: #444444;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.card__image {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  height: 100%;
}
.card__image:after {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 48%);
}
.card__dates {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding-bottom: 0.75rem;
}
.card__actions, .card__dates {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.card__actions {
  padding-bottom: 1.5rem;
}
.card__actions a:first-of-type {
  margin-right: 1rem;
}
.card__actions.-attached {
  justify-content: stretch;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.card__actions.-attached .card__action {
  flex-grow: 1;
}
.card__action {
  flex-basis: max(9rem, 50%);
}
.card.-clickable {
  cursor: pointer;
}

.date {
  display: flex;
  align-items: center;
  color: white;
  flex-grow: 1;
}
.date__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-width: 2.5rem;
  min-height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.7em;
}
.date__details {
  display: flex;
  flex-direction: column;
}
.date__heading {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
}
.date__description {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.75rem;
}

svg {
  min-width: 1rem;
  min-height: 1rem;
}

.button {
  border: 0.0625rem solid #5f1d6d;
  padding: 1rem 2rem;
  cursor: pointer;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 0.25rem;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  transition: background-color 0.25s, color 0.25s;
  box-sizing: border-box;

}
.contenedor{
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}
.button.-primary {
  color: #00A9E0;
}
.button.-primary:hover, .button.-primary:focus {
  background-color: #00A9E0;
  color: #FFFFFF;
}
.button.-secondary {
  color: #373534;
  border: 0.0625rem solid #373534;
}
.button.-secondary:hover, .button.-secondary:focus {
  background-color: #444444;
  color: #FFFFFF;
}
.button[disabled] {
  pointer-events: none;
}
.button.-disabled {
  color: #fff;
  pointer-events: none;
}
</style>
<body>
    <!-- Main Navbar-->
    <header class="header z-index-50">
        <nav class="navbar py-3 px-0 shadow-sm text-white position-relative">
            <!-- Search Box-->
            
            <div class="container-fluid w-100">
                <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
                    <!-- Navbar Header-->
                    <div class="navbar-header">
                        <!-- Toggle Button--><a class="" id="toggle-btn" href="#"><span></span><span></span><span></span></a>
                    </div>
                    <!-- Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Logout    -->

                        <li class="nav-item">
                            <a class="btn btn-primary nav-link text-white boton" href="@Url.Action("LogIn","Access")">
                                <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                                    <use xlink:href="#security-1"> </use>
                                </svg>
                                <span class="d-none d-sm-inline">Iniciar Sesión</span>
                            </a>

                        </li>
                        <li style=" margin:0px, 3px;">|</li>
                        <li class="nav-item">

                            <a class="btn btn-primary nav-link text-white boton" href="@Url.Action("Register","Access")">
                                <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                                    <use xlink:href="#security-1"> </use>
                                </svg>
                                <span class="d-none d-sm-inline">Registrarse</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="section-plans" id="section-plans">



        <div class="u-center-text u-margin-bottom-big" id="logo">
            <img src="~/assets/img/AHM-FONDO-TEXTO.png" class="mi-imagen" alt="Logo de totaltravel" style="width: 55vw;max-width: 23vw;margin-top: 15px;">
            <h3 class="heading-vista" style="margin-top:15px">
                Ofertas de tus webs de reserva favoritas <br />
                Prueba a buscar una ciudad, un hotel ¡o un punto de interés!
            </h3>
            <br>
        </div>
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                <br> Paquetes más comprados
            </h2>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="card-slider" id="package-slider">


            </div>
        </div>
 
            <div class="carde">
                <div class="card__container">
                    <div class="card__image">
                        <img alt="" src="https://images.unsplash.com/photo-1499708544652-0e4c43899071?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGRyb25lfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
                        <div class="card__dates">
                            <div class=" date">
                                <div class="date__icon">
                                    <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.96429 8.39289H2.89286C2.71607 8.39289 2.57143 8.24222 2.57143 8.05807V6.942C2.57143 6.75785 2.71607 6.60718 2.89286 6.60718H3.96429C4.14107 6.60718 4.28571 6.75785 4.28571 6.942V8.05807C4.28571 8.24222 4.14107 8.39289 3.96429 8.39289ZM6.85714 8.05807V6.942C6.85714 6.75785 6.7125 6.60718 6.53571 6.60718H5.46429C5.2875 6.60718 5.14286 6.75785 5.14286 6.942V8.05807C5.14286 8.24222 5.2875 8.39289 5.46429 8.39289H6.53571C6.7125 8.39289 6.85714 8.24222 6.85714 8.05807ZM9.42857 8.05807V6.942C9.42857 6.75785 9.28393 6.60718 9.10714 6.60718H8.03571C7.85893 6.60718 7.71429 6.75785 7.71429 6.942V8.05807C7.71429 8.24222 7.85893 8.39289 8.03571 8.39289H9.10714C9.28393 8.39289 9.42857 8.24222 9.42857 8.05807ZM6.85714 10.7366V9.62057C6.85714 9.43642 6.7125 9.28575 6.53571 9.28575H5.46429C5.2875 9.28575 5.14286 9.43642 5.14286 9.62057V10.7366C5.14286 10.9208 5.2875 11.0715 5.46429 11.0715H6.53571C6.7125 11.0715 6.85714 10.9208 6.85714 10.7366ZM4.28571 10.7366V9.62057C4.28571 9.43642 4.14107 9.28575 3.96429 9.28575H2.89286C2.71607 9.28575 2.57143 9.43642 2.57143 9.62057V10.7366C2.57143 10.9208 2.71607 11.0715 2.89286 11.0715H3.96429C4.14107 11.0715 4.28571 10.9208 4.28571 10.7366ZM9.42857 10.7366V9.62057C9.42857 9.43642 9.28393 9.28575 9.10714 9.28575H8.03571C7.85893 9.28575 7.71429 9.43642 7.71429 9.62057V10.7366C7.71429 10.9208 7.85893 11.0715 8.03571 11.0715H9.10714C9.28393 11.0715 9.42857 10.9208 9.42857 10.7366ZM12 3.48218V13.3036C12 14.043 11.4241 14.6429 10.7143 14.6429H1.28571C0.575893 14.6429 0 14.043 0 13.3036V3.48218C0 2.74278 0.575893 2.14289 1.28571 2.14289H2.57143V0.691999C2.57143 0.507847 2.71607 0.357178 2.89286 0.357178H3.96429C4.14107 0.357178 4.28571 0.507847 4.28571 0.691999V2.14289H7.71429V0.691999C7.71429 0.507847 7.85893 0.357178 8.03571 0.357178H9.10714C9.28393 0.357178 9.42857 0.507847 9.42857 0.691999V2.14289H10.7143C11.4241 2.14289 12 2.74278 12 3.48218ZM10.7143 13.1362V4.82146H1.28571V13.1362C1.28571 13.2283 1.35804 13.3036 1.44643 13.3036H10.5536C10.642 13.3036 10.7143 13.2283 10.7143 13.1362Z" fill="#003B5C" />
                                    </svg>
                                </div>
                                <div class="date__details">
                                    <span class="date__heading">1st January 2021</span>
                                    <span class="date__description">Current AIRAC Date</span>
                                </div>
                            </div>
                            <div class=" date">
                                <div class="date__icon">
                                    <div width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9 8.45875V9.09796C9 9.27374 8.85536 9.41756 8.67857 9.41756H6.64286V11.4417C6.64286 11.6175 6.49821 11.7613 6.32143 11.7613H5.67857C5.50179 11.7613 5.35714 11.6175 5.35714 11.4417V9.41756H3.32143C3.14464 9.41756 3 9.27374 3 9.09796V8.45875C3 8.28297 3.14464 8.13915 3.32143 8.13915H5.35714V6.115C5.35714 5.93922 5.50179 5.7954 5.67857 5.7954H6.32143C6.49821 5.7954 6.64286 5.93922 6.64286 6.115V8.13915H8.67857C8.85536 8.13915 9 8.28297 9 8.45875ZM12 3.66472V13.0397C12 13.7455 11.4241 14.3181 10.7143 14.3181H1.28571C0.575893 14.3181 0 13.7455 0 13.0397V3.66472C0 2.95893 0.575893 2.38631 1.28571 2.38631H2.57143V1.00136C2.57143 0.825584 2.71607 0.681763 2.89286 0.681763H3.96429C4.14107 0.681763 4.28571 0.825584 4.28571 1.00136V2.38631H7.71429V1.00136C7.71429 0.825584 7.85893 0.681763 8.03571 0.681763H9.10714C9.28393 0.681763 9.42857 0.825584 9.42857 1.00136V2.38631H10.7143C11.4241 2.38631 12 2.95893 12 3.66472ZM10.7143 12.8799V4.94313H1.28571V12.8799C1.28571 12.9678 1.35804 13.0397 1.44643 13.0397H10.5536C10.642 13.0397 10.7143 12.9678 10.7143 12.8799Z" fill="#003B5C" />
                                    </div>
                                </div>
                                <div class="date__details">
                                    <div class="date__heading">20th August 2021</div>
                                    <div class="date__description">Upcoming AIRAC Date</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__heading">General Aviation Data</div>
                    <div class="card__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos et voluptatum
                        aliquam neque beatae. Elit vero est ipsa deleniti?
                    </div>
                    <div class="contenedor">
                        <a href="#" class="card__action button -primary">DOWNLOAD</a>
                    </div>
                </div>
            </div>
 


    </section>




    <!-- JavaScript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js'></script>
    <script src="./script.js"></script>

    <!-- Main File-->
    <script src="~/js/front.js"></script>

    <script src="~/js/main.js"></script>
    <script src="~/js/Landing.js"></script>

    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />


</body>
</html> 