
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Material Admin by Bootstrapious.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <script src="https://kit.fontawesome.com/bdd89edb33.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
          rel="stylesheet" />
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="~/assets/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/assets/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="~/css/Landing.css">
</head>
<body>
    <!-- Main Navbar-->
    <header class="header z-index-50">
        <nav class="navbar py-3 px-0 shadow-sm text-white position-relative">
            <!-- Search Box-->
            
            <div class="container-fluid w-100">
                <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
                    <!-- Navbar Header-->
                    <div class="navbar-header">
                        <!-- Toggle Button--><a class="" id="toggle-btn" href="#"><span></span><span></span><span></span></a>
                    </div>
                    <!-- Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Logout    -->

                        <li class="nav-item">
                            <a class="btn btn-primary nav-link text-white boton" href="@Url.Action("LogIn","Access")">
                                <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                                    <use xlink:href="#security-1"> </use>
                                </svg>
                                <span class="d-none d-sm-inline">Iniciar Sesión</span>
                            </a>

                        </li>
                        <li style=" margin:0px, 3px;">|</li>
                        <li class="nav-item">

                            <a class="btn btn-primary nav-link text-white boton" href="#">
                                <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                                    <use xlink:href="#security-1"> </use>
                                </svg>
                                <span class="d-none d-sm-inline">Registrarse</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="section-plans" id="section-plans">



        <div class="u-center-text u-margin-bottom-big" id="logo">
            <img src="~/assets/img/AHM-FONDO-TEXTO.png" class="mi-imagen" alt="Logo de totaltravel" style="width: 55vw;max-width: 23vw;margin-top: 15px;">
            <h3 class="heading-vista" style="margin-top:15px">
                Ofertas de tus webs de reserva favoritas <br />
                Prueba a buscar una ciudad, un hotel ¡o un punto de interés!
            </h3>
            <br>
        </div>
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                <br> Paquetes más comprados
            </h2>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="card-slider" id="package-slider">
                

            </div>
        </div>


    </section>




    <!-- JavaScript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js'></script>
    <script src="./script.js"></script>

    <!-- Main File-->
    <script src="~/js/front.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/Landing.js"></script>

    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />


</body>
</html> 