
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Total Travel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <script src="https://kit.fontawesome.com/bdd89edb33.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
          rel="stylesheet" />
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="~/assets/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/assets/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="~/css/Landing.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
   
</head>
<style>
    @@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
    @@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}
@@media screen and (min-width: 348px) {
  :root {
    font-size: 16px;
  }
}

    .carde {
        background-color: #FFFFFF;
        box-shadow: 0.125rem 0.25rem 1rem rgba(0, 59, 92, 0.2);
        margin-bottom: 1.5rem;
        z-index: 1;
        min-width: 300px;
        max-width: 300px;
        height: 500px;
        font-family: "Roboto";
        border-radius: 0.25rem;
        overflow: hidden;
        margin-left:30px;
    }
.card__container {
  display: flex;
  flex-direction: column;
}
.card__icon, .card__heading, .card__dates, .card__content, .card__actions {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
}
.card__icon {
  padding-top: 1.5rem;
  text-align: center;
}
    .card__heading {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        color: #5f1d6d;
        padding-top: 1rem;
    }

    .card__content {
        color: #444444;
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }

    .card__image {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        /*height: 100%;*/
        height: 180px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

        .card__image:after {
            content: "";
            position: absolute;
            height: 50%;
            width: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 48%);
        }

    .card__dates {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1;
        padding-bottom: 0.75rem;
    }

    .card__actions, .card__dates {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }

    .card__actions {
        padding-bottom: 1.5rem;
    }

        .card__actions a:first-of-type {
            margin-right: 1rem;
        }

        .card__actions.-attached {
            justify-content: stretch;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }

            .card__actions.-attached .card__action {
                flex-grow: 1;
            }

    .card__action {
        flex-basis: max(9rem, 50%);
    }

    .card.-clickable {
        cursor: pointer;
    }

    .date {
        display: flex;
        align-items: center;
        color: white;
        flex-grow: 1;
    }

    .date__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        min-width: 2.5rem;
        min-height: 2.5rem;
        border-radius: 50%;
        margin-right: 0.7em;
    }

    .date__details {
        display: flex;
        flex-direction: column;
    }

    .date__heading {
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1rem;
    }

    .date__description {
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 0.75rem;
    }

    svg {
        min-width: 1rem;
        min-height: 1rem;
    }

    .button {
        border: 0.0625rem solid #5f1d6d;
        padding: 1rem 2rem;
        cursor: pointer;
        font-family: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 0.25rem;
        font-weight: 800;
        font-size: 1rem;
        line-height: 1.5rem;
        overflow: hidden;
        white-space: nowrap;
        transition: background-color 0.25s, color 0.25s;
        box-sizing: border-box;
        position: absolute;
        bottom: 40px;
    }

    .contenedor {
        display: flex;
        justify-content: center;
        padding: 1rem 2rem;
    }

    .button.-primary {
        color: #5f1d6d;
    }

        .button.-primary:hover, .button.-primary:focus {
            background-color: #5f1d6d;
            color: #FFFFFF;
        }

    .button.-secondary {
        color: #373534;
        border: 0.0625rem solid #373534;
    }

        .button.-secondary:hover, .button.-secondary:focus {
            background-color: #444444;
            color: #FFFFFF;
        }

    .button[disabled] {
        pointer-events: none;
    }

    .button.-disabled {
        color: #fff;
        pointer-events: none;
    }
    .contenido {
        font-size: 15px;
        text-align:center;
    }
    .linea {
        border: 1px solid;
        border-radius: 3px;
    }
</style>
<body>
    <!-- Main Navbar-->
    <header class="header z-index-50">
        <nav class="navbar py-3 px-0 shadow-sm text-white position-relative">
            <!-- Search Box-->
            
            <div class="container-fluid w-100">
                <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
                    <!-- Navbar Header-->
                    <div class="navbar-header">
                        <!-- Toggle Button--><a class="" id="toggle-btn" href="#"><span></span><span></span><span></span></a>
                    </div>
                    <!-- Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Logout    -->

                        <li class="nav-item">
                            <a class="btn btn-primary nav-link text-white boton" href="@Url.Action("LogIn","Access")">
                                <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                                    <use xlink:href="#security-1"> </use>
                                </svg>
                                <span class="d-none d-sm-inline">Iniciar Sesión</span>
                            </a>

                        </li>
                        <li style=" margin:0px, 3px;">|</li>
                        <li class="nav-item">

                            <a class="btn btn-primary nav-link text-white boton" href="@Url.Action("Register","Access")">
                                <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                                    <use xlink:href="#security-1"> </use>
                                </svg>
                                <span class="d-none d-sm-inline">Registrarse</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="section-plans" id="section-plans">



        <div class="u-center-text u-margin-bottom-big" id="logo">
            <img src="~/assets/img/AHM-FONDO-TEXTO.png" class="mi-imagen" alt="Logo de totaltravel" style="width: 55vw;max-width: 23vw;margin-top: 15px;">
            <h3 class="heading-vista" style="margin-top:15px">
                Ofertas de tus webs de reserva favoritas <br />
                Prueba a buscar una ciudad, un hotel ¡o un punto de interés!
            </h3>
            <br>
        </div>
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                <br> Paquetes más comprados
            </h2>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="card-slider" id="package-slider">


            </div>
        </div>
 
          

    </section>




    <!-- JavaScript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js'></script>
    <script src="./script.js"></script>

    <!-- Main File-->
    <script src="~/js/front.js"></script>

    <script src="~/js/main.js"></script>
    <script src="~/js/Landing.js"></script>

    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />


</body>
</html> 