@model AHM_TOTAL_TRAVEL_WEB.Models.EmailVerificationModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Travel - Recuperar contraseña</title>
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="../assets/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../assets/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../assets/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../assets/img/favicon.ico">
    <!-- Tweaks for older IEs-->
</head>
<body style="background-color: #e1e1e169; ">
    <div class="container-xxl d-flex align-items-center justify-content-md-center position-relative py-5">
        <div class="pasword-forgot">
            <div class="row justify-content-md-center py-5">
                <div class="col-md-12 py-5">
                    <div class="card rounded-bottom">
                        <div class="card-header align-items-center justify-content-md-center bg-primary rounded-top">
                            <div class="row">
                                <div class="col-md-12 align-items-md-center justify-content-md-center">
                                    <div class="align-items-center justify-content-md-center text-center">
                                        <img src="~/assets/img/AHM-Fondo-Nombre-transparente.png" width="200vw" height="auto" class="img-fluid mx-auto d-block" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">



                            <form class="login-form py-2 w-100" asp-controller="Access" asp-action="EmailVerification">
                                <h4>Ingrese su Correo Electronico</h4>
                                <div class="input-material-group mb-3">
                                    <input asp-for="to" id="emailVerification" type="text" class="input-material" style="font-size: medium;" autocomplete="off">
                                    <label class="label-material" style="font-size: large;">Correo electrónico</label>
                                </div>
                                <label class="labelvalidator" id="labelvalidatorEmail"></label>
                                <div>
                                    <small class="text-gray-500">Se enviara un Codigo de Verificacion a tu Correo Electronico</small><br><br>
                                    <button class="btn btn-primary" type="submit">Enviar</button>
                                    <br><small class="text-gray-500">¿Ya recuerdas tu Contraseña? </small><a class="text-sm text-paleBlue" href="@Url.Action("Login","Access")">Ingresa</a>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript files-->
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/chart.js/Chart.min.js"></script>
    <script src="../assets/vendor/just-validate/js/just-validate.min.js"></script>
    <script src="../assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
    <!-- Main File-->
    <script src="../assets/js/front.js"></script>
    @{
        if (ViewData["EmailError"] != null)
        {
            <script>
            console.log("@ViewData["EmailError"]");

            var labelEmail = document.getElementById("labelvalidatorEmail");
            labelEmail.innerHTML = "@ViewData["EmailError"]";
            </script>

        }
        else
        {
            <script>
                var labelEmail = document.getElementById("labelvalidatorEmail");
                labelEmail.innerHTML = "";
            </script>
        }
    }

</body>
</html>