@model AHM_TOTAL_TRAVEL_WEB.Models.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Total Travel - Registrarse</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="~/assets/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/assets/css/style.default.css">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <!-- Frameworks alerts -->
    <link rel="stylesheet" href="~/assets/css/iziToast.min.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico">
    <!-- icons-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!--js-library css-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="register-base">
    <div class="register-page" style="background-color: #e1e1e169; ">
        <br /><br /><br />
        <div class="container d-flex align-items-center position-relative py-5">
            <div class="card shadow-sm w-100 rounded overflow-hidden bg-none">
                <div class="row">

                    <div class="card-header fs-4" style="text-align: center;padding-top: 50px;font-size: 2rem;background-color: #652d90;color: white;font-size: 2rem;display: flex;justify-content: center;align-content: center;">
                        <div class="align-items-center justify-content-center">
                            <img src="~/assets/img/AHM-FONDO-MORADITO-TRANSPARENTE-UWU.png" width="80vw" height="auto" />
                        </div>
                        <h1 style="font-size: 2rem; margin:5px;">Ingrese sus datos</h1>
                    </div>
                    <div class="card-body c-base" style="padding-left: 50px; padding-right: 50px; font-size: medium; background-color: white;">
                        <form>
                            <div class="ui form attached fluid segment">
                                <div class="content">


                                    <div class="required field">
                                        <label>DNI:</label>
                                        <input type="number"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); this.value = Math.abs(this.value);"  maxlength="13" id="txtDni" placeholder="Ingrese su DNI" />
                                    </div>
                                    <div class="field">
                                        <div class="two fields">
                                            <div class="required field">
                                                <label>Nombre:</label>
                                                <input id="txtNombre" type="text" placeholder="Ingrese su nombre" />

                                            </div>
                                            <div class="required field">
                                                <label>Apellido</label>
                                                <input id="txtApellido" type="text" placeholder="Apellido" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="two fields">
                                            <div class="required field">
                                                <label>Fecha de nacimiento:</label>
                                                <input type="date" id="txtFechaNac" placeholder="Ingresa tu fecha de nacimiento">
                                            </div>
                                            <div class=" field">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="two fields">
                                            <div class="required field">
                                                <label>Teléfono:</label>
                                                <input type="number" id="txtTelefono" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); this.value = Math.abs(this.value);" maxlength="20"  placeholder="Ingresa tu teléfono">
                                            </div>
                                            <div class="required field">
                                                <label>Sexo:</label>
                                                <div class="me-5">
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label me-5 fs-5">
                                                            <input type="radio" id="radio1" name="gender" value="F"> Femenino
                                                        </label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label ms-5 me-5 fs-5">
                                                            <input type="radio" id="radio2" name="gender" value="M"> Masculino
                                                        </label>
                                                    </div>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;<span class="labelvalidator" id="labelvalidatorSexo"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="required field">
                                        <label>Correo electrónico:</label>
                                        <input id="txtEmail" placeholder="Ingrese su correo electrónico" />
                                    </div>
                                    <div class="field">
                                        <div class="two fields">
                                            <div class="required field">
                                                <label>Contraseña:</label>
                                                <input id="txtPassword" type="password" placeholder="Ingresa tu contraseña">
                                            </div>
                                            <div class="required field">
                                                <label>Repetir contraseña:</label>
                                                <input id="txtPassword2" type="password" placeholder="Repite tu contraseña">
                                            </div>
                                        </div>
                                        <span class="labelvalidator" id="labelvalidatorPass"></span>
                                    </div>
                                    <div class="field">
                                        <div class="two fields">
                                            <div class="required field">
                                                <label>País</label>
                                                <select id="Count_ID" class="ui dropdown search" asp-items="ViewBag.Count_ID">
                                                    <option value="">Seleccione un pais</option>
                                                </select>
                                            </div>
                                            <div class="required field">
                                                <label>Ciudad</label>
                                                <select id="City_ID" class="ui dropdown search"><option value="">Seleccione una ciudad</option></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="required field">
                                        <label>Colonia</label>
                                        <select id="Col_ID" class="ui dropdown search"><option value="">Seleccione una colonia</option></select>
                                    </div>

                                    <div class="field">
                                        <div class="two fields">
                                            <div class="required field">
                                                <label>Calle</label>
                                                <input id="Calle" placeholder="Calle" />

                                            </div>
                                            <div class="required field">
                                                <label>Avenida</label>
                                                <input id="Avenida" placeholder="Avenida" />

                                            </div>
                                        </div>
                                    </div>
                                    <span class="labelvalidator" id="labelvalidatorError"></span>
                                    <div class="form-group mar mt-4" style="display: flex;justify-content: center;">
                                        <input type="button" value="Registrarse" onclick="registerUser()" style="width: 15vw" class="btn btn-purple ui positive button" />

                                    </div>
                                    <div class="form-group mar mt-3" style="display: flex;justify-content: center;">
                                        <small class="text-gray-500 fs-6 mt-1">¿Ya tienes una cuenta? </small><a class=" text-paleBlue fs-5 ms-2" href="@Url.Action("Login","Access")">Inicia sesión</a>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- frameworks -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- BOOTSTRAP DOCUMENTATION https://getbootstrap.com/docs/5.2/getting-started/introduction/ -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

    <!-- alerts Libraries -->
    <script src="~/assets/js/iziToast.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Libraries -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!--
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    -->
    <script type="text/javascript" src="~/js/Pagination.js"></script>

    <!-- Proyect files -->
    <script src="~/js/UsersJs/Register.js"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>
</html>