@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.RolListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="user icon"></i>
            <div class="content">
                <div class="header">
                    Roles
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <a class="ui small btn-edit text-white labeled icon button" id="createRoles">
                    <i class="plus icon"></i> Nuevo
                </a>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Buscar..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        <table class="ui compact selectable celled table" id="grdRoles">
            <thead>
                <tr>
                    <th>
                        Roles
                    </th>

                    <th width="200px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            <button class="ui large icon btn-edit button" onclick="GetRoles('@item.ID')">
                                <i class="pencil alternate icon  icon-crud"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>

    </div>
</div>

<div class="ui modal" id="modalCreate">
    <div class="header">
        Ingresa un rol
    </div>
    <form asp-action="Create" asp-controller="Roles" id="createRolesForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <label class="ui label">Rol</label>
                    <input name="Role_Descripcion" id="Role_Descripcion" />
                </div>

            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button btn-edit text-white" id="sendRoles">Guardar</button>
        <button class="ui button" id="closeRoles">Cancelar</button>
    </div>
</div>

<div class="ui modal" id="modalUpdate">
    <div class="header">
        Actualiza un roles
    </div>
    <form asp-action="Update" asp-controller="Roles" id="updateRolesForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="field">
                    <input name="Role_ID" id="Rol_ID" />
                    <label>Descripción</label>
                    <input name="Role_Descripcion" id="Rol_DescripcionUpdate" />
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button btn-edit text-white" id="sendEditRoles">Guardar</button>
        <button class="ui button" id="closeEditRoles">Cancelar</button>
    </div>
</div>

@section Scripts{
    <script src="~/js/RolesJs/Create.js"></script>
    <script src="~/js/RolesJs/Update.js"></script>
}
@section HighlightTile{
    <script>
        $("#AccessModule").addClass("active");
        $("#AccessModule").prop("aria-expanded");
        $("#AccessModule").attr("aria-expanded", "true");
        $("#Access_Schema").addClass("show");
        $("#AccessModule").addClass("expandedList");
        $("#RolesTile").addClass("activeTile");
    </script>
}