@model AHM_TOTAL_TRAVEL_WEB.Models.ReservationExtraActivitiesViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="frmCreateReservation">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon user-select-all"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear
                    </div>
                    <p>Ingresa un nuevo partner.</p>
                </div>
            </div>

            <!-- formulario-->
            <form>

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Reservacion</label>
                                    <input id="Resv_ID" placeholder="Reservacion" />
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorNombre"></span>
                                </div>
                                <div class="required field">
                                    <label>Actividad Extra</label>
                                    <input id="AcEx_ID" placeholder="Actividad Extra" />
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorEmail"></span>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Cantidad</label>
                                    <input id="ReAE_Cantidad" placeholder="Cantidad" />
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorTelefono"></span>
                                </div>
                                <div class="required field">
                                    <label>Fecha Reservacion</label>
                                    <input id="ReAE_FechaReservacion" placeholder="Fecha Reservacion" type="date" />
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorTelefono"></span>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                                <div class="required field">
                                    <label>Hora Reservacion</label>
                                    <input id="ReAE_HoraReservacion" placeholder="Hora Reservacion" />
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorTelefono"></span>
                                </div>
                                
                        </div>


                        <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorError"></span>

                        <input type="button" value="Crear" onclick="createreservationactividadesextra()" class="btn btn-purple ui positive button" />
                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
