@model AHM_TOTAL_TRAVEL_WEB.Models.PartnerTypeViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="user icon"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear
                    </div>
                    <p>Crear un nuevo tipo de socio</p>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "PartnerType")">
                        Back
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <form asp-action="Create" id="FrmTipoPartner">
                <div class="ui form attached fluid segment">
                    <div class="content">
                        <div class="three fields">
                            <div class="field">
                                <label>Descripcion</label>
                                <input asp-for="TiPar_Descripcion" />
                            </div>
                            <div class="required field">
                                <label>Tipo de Rol</label>
                                <select id="Rol_ID" class="ui dropdown search" asp-items="ViewBag.Rol_ID" asp-for="Rol_ID">
                                    <option value="">Seleccione un Rol</option>
                                </select>
                            </div>
                        </div>


                        <input id="btnGuardar" type="button" value="Crear" class="btn btn-primary ui positive button" />

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $("#btnGuardar").click(() => {
            const ValidateArray = [
                { validateMessage: "Ingrese una descripcion de tipo de socio", Jqueryinput: $("#TiPar_Descripcion") },
                { validateMessage: "Seleccione un Rol para el socio", Jqueryinput: $("#Rol_ID") }
            ];
            const userValidate = ValidateForm(ValidateArray);
            if (userValidate) {
                $("#FrmTipoPartner").submit();
            }
        });
        

    </script>
}




