@model AHM_TOTAL_TRAVEL_WEB.Models.PartnerTypeViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="user icon"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear
                    </div>
                    <p>Crear un nuevo tipo de socio</p>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "PartnerType")">
                        Back
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <form asp-action="Create">
                <div class="ui form attached fluid segment">
                    <div class="content">
                        <div class="three fields">

                            <div class="required field">
                                <label>Tipo de Socio</label>
                                <select id="TiPar_ID" name="TiPar_ID" class="ui dropdown search" asp-items="ViewBag.TiPar_ID">
                                    <option value="">Seleccione un tipo de Socio</option>
                                </select>
                                <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPartner"></span>
                            </div>
                            <div class="field">
                                <label>Rol</label>
                                <input asp-for="Rol_ID" />
                            </div>
                        </div>


                        <input type="submit" value="Crear" class="btn btn-primary ui positive button" />
                       
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





