@model AHM_TOTAL_TRAVEL_WEB.Models.RoomsViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon building"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear
                    </div>
                    <p class="text-capitalize">Ingresa una nueva Habitacion.</p>
                </div>
            </div>

            <!-- formulario-->
            <form>

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label asp-for="Habi_Nombre" class="form-control"></label>
                                    <input asp-for="Habi_Nombre" class="form-control" />
                                    <span asp-validation-for="Habi_Nombre" class="text-danger"></span>
                                </div>
                                <div class="field">
                                    <label asp-for="Habi_Descripcion" class="form-control"></label>
                                    <input asp-for="Habi_Descripcion" class="form-control" />
                                    <span asp-validation-for="Habi_Descripcion" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label asp-for="CaHa_ID" class="form-control"></label>
                                    <input asp-for="CaHa_ID" class="form-control" />
                                    <span asp-validation-for="CaHa_ID" class="text-danger"></span>
                                </div>
                                <div class="field">
                                    <label asp-for="Hote_ID" class="form-control"></label>
                                    <input asp-for="Hote_ID" class="form-control" />
                                    <span asp-validation-for="Hote_ID" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label asp-for="Habi_Precio" class="form-control"></label>
                                    <input asp-for="Habi_Precio" class="form-control" />
                                    <span asp-validation-for="Habi_Precio" class="text-danger"></span>
                                </div>

                                <div class="field">

                                    <label asp-for="Habi_UsuarioCreacion" class="form-control"></label>
                                    <input asp-for="Habi_UsuarioCreacion" class="form-control" />
                                    <span asp-validation-for="Habi_UsuarioCreacion" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>
            <!-- fin formulario-->
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
