@model AHM_TOTAL_TRAVEL_WEB.Models.RoomsListViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon building"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Actualizar Habitaciones
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "Rooms")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <!-- formulario-->
            <form>

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">
                            <div class=" two fields">
                                <div class="required field">
                                    <label class="ui label">Habitacion</label>
                                    <input id="Habi_Nombre" placeholder="Habitacion" />
                                </div>
                                <div class="required field">
                                    <label class="ui label">Hotel</label>
                                    <select id="Hote_ID" class="ui dropdown search" asp-items="ViewBag.Hote_ID">
                                        <option value="">Seleccione un hotel</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Categoria</label>
                                    <input id="CaHa_ID" placeholder="Categoria" />
                                </div>
                                <div class="required field">
                                    <label class="ui label">Precio</label>
                                    <input id="Habi_Precio" placeholder="Precio" />
                                </div>
                            </div>
                        </div>
                        <div class="required field">
                            <label class="ui label">Balcon</label>
                            <input id="Habi_balcon" placeholder="Balcon" />
                        </div>

                        <div class="field">
                            <div class="three fields">
                                <div class="required field">
                                    <label class="ui label">Wifi</label>
                                    <input id="Habi_wifi" placeholder="Wifi" />
                                </div>
                                <div class="required field">
                                    <label class="ui label">Cama</label>
                                    <input id="Habi_camas" placeholder="Cama" />
                                </div>
                                <div class="required field">
                                    <label class="ui label">Capacidad</label>
                                    <input id="Habi_capacidad" placeholder="Capacidad" />
                                </div>
                            </div>
                        </div>


                        <div class="ui grid three column stackable mt-4">

                            <div class="column">
                                <label class="ui label">Imagenes en fila.</label>
                                <div class="ui segment">
                                    <div class="ui middle aligned divided list" id="image-upload-list">

                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">
                                    <div class="ui icon header">
                                        <i class="pdf file outline icon"></i>
                                        Sube tus imagenes al sistema.
                                    </div>
                                    <input type="file" (change)="fileEvent($event)" class="inputfile"
                                           id="File" />
                                    <label for="File" class="ui primary button">
                                        Añade una imagen
                                    </label>
                                </div>

                            </div>

                            <div class="column">
                                <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">
                                    <div class="ui icon header" id="RoomsCarousel">
                                        <i class="images icon"></i>
                                        Tus imagenes aparecerán aquí.
                                    </div>

                                    <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" id="RoomsCarousel" data-auto="false">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <span class="labelvalidator" id="labelvalidatorError"></span>

                        <input type="button" value="Guardar" onclick="updateMenus()" class="btn btn-edit ui positive button" />
                        <a type="button" href="@Url.Action("Index", "Rooms")" class="ui button mb-3 ms-3">Cancelar</a>
                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{

    <script>
        var imagesArray = [];
        $('.ui.dropdown').dropdown();

        SetDropDownValue($("#Hote_ID"), hotelID);


        $(document).ready(async function () {
            await GetImage();

        });
        //FUNCIONES QUE SON ESPECIFICAS DEL ACTUALIZAR


        async function GetImage() {

            var responseImage = ajaxRequest("https://totaltravel.somee.com/API/RootFiles/GetAllImages?folderName=" + menuFolder)
            if (responseImage.code == 200) {
                var list = responseImage.data
                for (var i = 0; i < list.length; i++) {
                    var imageUrl = list[i].imageUrl;

                    var split = imageUrl.split("/");
                    var fileName = split[split.length - 1];
                    var file = await createBlob(imageUrl)
                        .then(function (data) {
                            return data;
                        });
                    const fileData = await convertImage(file)
                        .then(function (data) {
                            return data;
                        });
                    fileData.fileName = fileName;
                    imagesArray.push(fileData);
                }
                LoadImage();
            }
        }
        //FIN

        $("#File").change(async function () {

            const fileData = await convertImage($("#File").prop("files")[0])
                .then(function (data) {
                    return data;
                });
            imagesArray.push(fileData);
            LoadImage();

        });
        function LoadImage() {

            var RoomsCarousel = `<div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" id="RoomsCarousel" data-auto="false"></div>`;
            $("#MenusCarousel").replaceWith(RoomsCarousel);
            $("#image-upload-list").html("");

            for (let i = 0; i < imagesArray.length; i++) {
                var HTML_img = document.createElement('img');
                const item = imagesArray[i];

                HTML_img.src = item.src;
                const fileItem =
                    `<div class="item">
                                    <div class="right floated content">
                                        <button onclick="deleteImage(${i})" class="ui btn-purple icon button">
                                            <i class="trash icon"></i>
                                        </button>
                                    </div>
                                    <i class="image big icon"></i>
                                    <div class="content text-grap">
                                        ${item.fileName}
                                    </div>
                                </div>`;

                $("#image-upload-list").append(fileItem);
                $("#RoomsCarousel").append(HTML_img);
            }
            $("#RoomsCarousel").fotorama();
        }

        function deleteImage(index) {
            imagesArray.splice(index, 1);
            LoadImage();
        }

        function updateMenus() {


            validateArrayForm = [
                { validateMessage: "Seleccione una habitacion", Jqueryinput: $("#Habi_Nombre") },
                { validateMessage: "Seleccione un hotel", Jqueryinput: $("#Hote_ID") },
                { validateMessage: "Ingrese la capacidad", Jqueryinput: $("#Habi_capacidad") },
                { validateMessage: "Ingrese el descripcion", Jqueryinput: $("#Habi_Descripcion") },
                { validateMessage: "Ingrese la categoria", Jqueryinput: $("#CaHa_ID") },
                { validateMessage: "Seleccione un precio", Jqueryinput: $("#Habi_Precio") },
                { validateMessage: "Ingrese el balcon", Jqueryinput: $("#Habi_balcon") },
                { validateMessage: "Ingrese el wifi", Jqueryinput: $("#Habi_wifi") },
                { validateMessage: "Ingrese las camas", Jqueryinput: $("#Habi_camas") }
            ];

            // retorna bool
            const ValidateFormStatus = ValidateForm(validateArrayForm);

            if (ValidateFormStatus) {
                var data = new FormData();
                data.append("Hote_ID", $("#Hote_ID").val());
                data.append("Habi_Descripcion", $("#Habi_Descripcion").val());
                data.append("Habi_Nombre", $("#Habi_Nombre").val());
                data.append("CaHa_ID ", $("#CaHa_ID ").val());
                data.append("Habi_Precio", $("#Habi_Precio").val());
                data.append("Habi_balcon", $("#Habi_balcon").val());
                data.append("Habi_wifi", $("#Habi_wifi").val());
                data.append("Habi_camas", $("#Habi_camas ").val());
                data.append("Habi_capacidad", $("#Habi_capacidad").val());
                data.append("Habi_UsuarioModifica", UserID);

                for (let i = 0; i < imagesArray.length; i++) {
                    data.append("File", imagesArray[i].src);
                }
                var response = uploadFile("https://totaltravel.somee.com/API/Menus/Update?id=" + habiID, data, "PUT");

                if (response.data.codeStatus > 0) {
                    window.location.href = '/Rooms?success=true';
                }

            }
        }



    </script>
}
@section HighlightTile{
    <script>
        $("#HotelModule").addClass("active");
        $("#Hotel_Schema").addClass("show");
        $("#HotelModule").addClass("expandedList")
    </script>
}