@model AHM_TOTAL_TRAVEL_WEB.Models.PartnersViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="user icon"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear un socio
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "Partners")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <!-- formulario-->
            <form>

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Nombre</label>
                                    <input id="Nombre" placeholder="Nombre" />

                                </div>
                                <div class="required field">
                                    <label class="ui label">Correo electrónico</label>
                                    <input id="Email" type="email" placeholder="Email" />

                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Teléfono</label>
                                    <input id="Telefono" placeholder="Teléfono" min="1" type="number" />

                                </div>
                                <div class="required field">
                                    <label class="ui label">Tipo de socio</label>
                                    <select id="TiPart_Id" class="ui dropdown search" asp-items="ViewBag.TiPart_Id">
                                        <option value="">Seleccione el tipo de socio</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="ui grid three column stackable mt-4">

                            <div class="column">
                                <label class="ui label">Imágenes en fila.</label>
                                <div class="ui segment">
                                    <div class="ui middle aligned divided list" id="image-upload-list">

                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">
                                    <div class="ui icon header">
                                        <i class="pdf file outline icon"></i>
                                        Sube tus imágenes al sistema.
                                    </div>
                                    <input type="file" (change)="fileEvent($event)" class="inputfile"
                                           id="File" />
                                    <label for="File" class="ui btn-edit text-light button">
                                        Añade una imagen
                                    </label>
                                </div>
                            </div>


                            <div class="column">
                                <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">
                                    <div class="ui icon header" id="RestaurantCarousel">
                                        <i class="images icon"></i>
                                        Tus imágenes aparecerán aquí.
                                    </div>

                                    <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" id="PartnersCarousel" data-auto="false">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <input type="button" value="Guardar" onclick="createPartners()" class="btn btn-edit ui positive button" />
                        <a type="button" href="@Url.Action("Index", "Partners")" class="ui button mb-3 ms-3">Cancelar</a>

                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('.ui.checkbox').checkbox();
        const campoNumerico = document.getElementById('Telefono');

        campoNumerico.addEventListener('keydown', function (evento) {
            const teclaPresionada = evento.key;
            const teclaPresionadaEsUnNumero =
                Number.isInteger(parseInt(teclaPresionada));

            const sePresionoUnaTeclaNoAdmitida =
                teclaPresionada != 'ArrowDown' &&
                teclaPresionada != 'ArrowUp' &&
                teclaPresionada != 'ArrowLeft' &&
                teclaPresionada != 'ArrowRight' &&
                teclaPresionada != 'Backspace' &&
                teclaPresionada != 'Delete' &&
                teclaPresionada != 'Enter' &&
                !teclaPresionadaEsUnNumero;
            const comienzaPorCero =
                campoNumerico.value.length === 0 &&
                teclaPresionada == 0;

            if (sePresionoUnaTeclaNoAdmitida || comienzaPorCero) {
                evento.preventDefault();
            }

        });
    </script>
    <script src="~/js/PartnersJS/Create.js"></script>
    <script src="~/js/PartnersJS/Validaciones.js"></script>
}

@section HighlightTile{
    <script>
        highlightTile();
    </script>
}
