@model AHM_TOTAL_TRAVEL_WEB.Models.PartnersViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="frmCrateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon user-select-all"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear
                    </div>
                    <p>Ingresa un nuevo partner.</p>
                </div>
            </div>

            <!-- formulario-->
            <form>

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Nombre</label>
                                    <input id="Nombre" placeholder="Nombre" />
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorNombre"></span>
                                </div>
                                <div class="required field">
                                    <label>Email</label>
                                    <input id="Email"  placeholder="Email" />
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorEmail"></span>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Telefono</label>
                                    <input id="Telefono"  placeholder="Telefono" />
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorTelefono"></span>
                                </div>
                                <div class="required field">
                                    <label>Tipo de Partner</label>
                                    <select id="TiPart_Id" class="ui dropdown search" asp-items="ViewBag.TiPart_Id">
                                        <option value="">Seleccione el tipo de Partner</option>
                                    </select>
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorTiPar"></span>
                                </div>                         
                            </div>
                        </div>                                              
                        <div class="field">
                            <div class="required field">
                                <label>Imagen</label>
                                <input  id="File" type="file"  multiple />
                            </div>
                        </div>
                        <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorError"></span>

                        <input type="button" value="Crear" onclick="createPartners()" class="btn btn-purple ui positive button" />
                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/PartnersJS/Create.js"></script>
}



