@model AHM_TOTAL_TRAVEL_WEB.Models.PartnersViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="user icon"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Editar
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "Partners")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <!-- formulario-->
            <form asp-action="Update" asp-controller="Partners" id="frmUpdatePartners">

                <div class="ui form attached fluid segment">
                    <div class="content">
                        <div class="required field" hidden>
                            <label>ID</label>
                            <input asp-for="Part_ID" id="ID" class="form-control" />
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Nombre</label>
                                    <input asp-for="Part_Nombre" id="Nombre" placeholder="Nombre" />
                                </div>
                                <div class="required field">
                                    <label class="ui label">Correo electrónico</label>
                                    <input asp-for="Part_Email" id="Email" type="email" placeholder="Email" />

                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Teléfono</label>
                                    <input asp-for="Part_Telefono" min="1" id="Telefono" placeholder="Teléfono" type="number" />
                                </div>
                                <div class="required field">
                                    <label class="ui label">Tipo de socio</label>
                                    <select id="TiPart_Id" class="ui dropdown search" asp-items="ViewBag.TiPart_Id">
                                        <option value="">Seleccione el tipo de socio</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="ui grid three column stackable mt-4">

                            <div class="column">
                                <label class="ui label">Imágenes en fila.</label>
                                <div class="ui segment">
                                    <div class="ui middle aligned divided list" id="image-upload-list">

                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">
                                    <div class="ui icon header">
                                        <i class="pdf file outline icon"></i>
                                        Sube tus imágenes al sistema.
                                    </div>
                                    <input type="file" (change)="fileEvent($event)" class="inputfile"
                                           id="File" />
                                    <button for="File" class="btn btn-edit ui positive button w-100">
                                        Añade una imagen
                                    </button>
                                </div>

                            </div>

                            <div class="column">
                                <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">


                                    <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" id="PartnersCarousel" data-auto="false">
                                    </div>
                                </div>
                            </div>

                        </div>


                        <input type="button" value="Guardar" onclick="updatePartners()" class="btn btn-edit ui positive button" />
                        <a type="button" href="@Url.Action("Index", "Partners")" class="ui button mb-3 ms-3">Cancelar</a>

                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('.ui.checkbox').checkbox();
        const campoNumerico = document.getElementById('Telefono');

        campoNumerico.addEventListener('keydown', function (evento) {
            const teclaPresionada = evento.key;
            const teclaPresionadaEsUnNumero =
                Number.isInteger(parseInt(teclaPresionada));

            const sePresionoUnaTeclaNoAdmitida =
                teclaPresionada != 'ArrowDown' &&
                teclaPresionada != 'ArrowUp' &&
                teclaPresionada != 'ArrowLeft' &&
                teclaPresionada != 'ArrowRight' &&
                teclaPresionada != 'Backspace' &&
                teclaPresionada != 'Delete' &&
                teclaPresionada != 'Enter' &&
                !teclaPresionadaEsUnNumero;
            const comienzaPorCero =
                campoNumerico.value.length === 0 &&
                teclaPresionada == 0;

            if (sePresionoUnaTeclaNoAdmitida || comienzaPorCero) {
                evento.preventDefault();
            }

        });    
    </script>
    <script>
        const folderName = '@ViewData["PartnersFolder"]';
        const partnersID = '@ViewData["partnersID"]';

    </script>
    <script src="~/js/PartnersJS/Update.js"></script>
    <script src="~/js/PartnersJS/Validaciones.js"></script>
}
@section HighlightTile{
    <script>
        $("#GeneralModule").addClass("active");
        $("#General_Schema").addClass("show");
        $("#GeneralModule").addClass("expandedList")
    </script>
}


