@model AHM_TOTAL_TRAVEL_WEB.Models.PartnersViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<h4>PartnersViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Part_Nombre" class="control-label"></label>
                <input asp-for="Part_Nombre" class="form-control" />
                <span asp-validation-for="Part_Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Part_Email" class="control-label"></label>
                <input asp-for="Part_Email" class="form-control" />
                <span asp-validation-for="Part_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Part_Telefono" class="control-label"></label>
                <input asp-for="Part_Telefono" class="form-control" />
                <span asp-validation-for="Part_Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiPart_Id" class="control-label"></label>
                <input asp-for="TiPart_Id" class="form-control" />
                <span asp-validation-for="TiPart_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Part_Url" class="control-label"></label>
                <input asp-for="Part_Url" class="form-control" />
                <span asp-validation-for="Part_Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

