@model AHM_TOTAL_TRAVEL_WEB.Models.PartnersViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="user icon"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Editar
                    </div>
                    <p>Actualiza los detalles del socio.</p>
                </div>
            </div>

            <!-- formulario-->
           <form asp-action="Update" id="frmUpdatePartners">

                <div class="ui form attached fluid segment">
                    <div class="content">
                        <div class="required field" hidden>
                            <label>ID</label>
                            <input asp-for="Part_ID" id="ID" class="form-control" />                           
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Nombre</label>
                                    <input id="Nombre" placeholder="Nombre" />                                    
                                </div>
                                <div class="required field">
                                    <label>Email</label>
                                    <input id="Email"  placeholder="Email" />
                                   
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Teléfono</label>
                                    <input id="Telefono"  placeholder="Telefono" />                                 
                                </div>
                                <div class="required field">
                                    <label>Tipo de socio</label>
                                    <select id="TiPart_Id" class="ui dropdown search" asp-items="ViewBag.TiPart_Id">
                                        <option value="">Seleccione el tipo de socio</option>
                                    </select>                                
                                </div>                         
                            </div>
                        </div>                                              
                        <div class="field">
                            <div class="required field">
                                <label>Imagen</label>
                                <input  id="File" type="file"  multiple />
                            </div>
                        </div>
                        <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorError"></span>
                     
                        <input type="button" value="Actualizar" onclick="updateDefaultPackages()" class="btn btn-purple ui positive button" />
                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{
    <script>const partnersID = '@ViewData["partnersID"]';</script>
    <script src="~/js/PartnersJS/Create.js"></script>
}
@section HighlightTile{
    <script>
        $("#GeneralModule").addClass("active");
        $("#General_Schema").addClass("show");
        $("#GeneralModule").addClass("expandedList")
    </script>
}


