@model AHM_TOTAL_TRAVEL_WEB.Models.RestaurantViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
div id="frmCreateUser">
<div class="container card">
    <div class="ui basic segment">
        <div class="ui icon attached message">
            <i class="user plus icon"></i>
            <div class="content">
                <div class="header text-capitalize">
                    create a new users
                </div>
                <p class="text-capitalize">create a new user and/or add a partner account.</p>
            </div>
        </div>

        <!-- formulario-->
        <form>

            <div class="ui form attached fluid segment">
                <div class="content">

                    <div class="field">
                        <label>User Info</label>
                        <div class="two fields">
                            <div class="field">
                                <input id="Dire_ID" class="form-control" placeholder="Dirección (required)" />
                            </div>
                            <div class="field">
                                <input id="Rest_Nombre" class="form-control" placeholder="Restaurante(required)"/>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <input id="Part_ID" class="form-control" placeholder="Partner ID (required)"/>
                            </div>
                            <div class="field">
                    
                                <input id="Rest_UsuarioCreacion" class="form-control" placeholder="UsuarioCrea (required)"/>
                            </div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field">
                            <label class="control-label">File</label>
                            <input id="File" type="file" class="form-control" multiple />
                        </div>
                    </div>
                    <input type="button" value="Create" onclick="createRestaurant()" class="btn btn-primary ui positive button" />
                </div>
            </div>

        </form>
        <!-- fin formulario-->
    </div>
</div>
</div>
<script src="~/js/RestaurantJs/Create.js"></script>
