@model AHM_TOTAL_TRAVEL_WEB.Models.ReservationViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="frmCreateReservation">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="user plus icon"></i>
                <div class="content">
                    <div class="header">
                        Crea una reservación
                    </div>
                    @{
                        if (ViewBag.RouteValues.Command == "Update")
                        {
                            <p>Actualiza una reservación</p>
                        }
                        else
                        {
                            <p>Crea una nueva reservación</p>
                        }
                    }
                </div>
            </div>

            <!-- form-->
            @{
                var action = "";
                if (ViewBag.RouteValues.Command == "Update")
                {
                    action = "Update";
                }
                else
                {
                    action = "Create";
                }
            }

            <form asp-action="@action" asp-controller="Reservation" method="post" id="frmCreateReserv">
                <div class="ui form attached fluid segment">
                    <div class="content">
                        <input asp-for="CrearUsuario" type="checkbox" style="display:none" />
                        <input asp-for="CrearPersonalizado" type="checkbox" style="display:none" />
                        <input asp-for="EditarPersonalizado" type="checkbox" style="display:none" />
                        @{
                            RouteValuesModel routesValues = ViewBag.RouteValues;
                            if (routesValues.IsSuccess.Equals(true) && routesValues.Command == "userResponse")
                            {
                                <input id="createdUserID" type="number" value=@routesValues.responseID style="display:none" />
                            }
                        }

                        <!-- client data section -->
                        <div class="field">
                            <h3 class="ui block header">
                                Datos generales del cliente
                            </h3>

                            <div class="three fields required">
                                <!--DNI-->

                                <div class="field">
                                    <label>DNI</label>
                                    <select class="ui search dropdown" minlength="13" maxlength="13" asp-for="Usua_ID" autofocus runat="server">
                                        <option value="">Ingrese un DNI</option>
                                    </select>
                                    <a href="#" id="newUserLink"><small>¨¿Nuevo cliente? click aqui</small></a>
                                </div>

                                <!--First name-->
                                <div class="field">
                                    <label>Nombre</label>
                                    <input type="text" id="txtNombre" placeholder="Primer Nombre" readonly />
                                </div>
                                <!--Last name-->
                                <div class="field">
                                    <label>Apellido</label>
                                    <input type="text" id="txtApellido" placeholder="Apellido" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="three fields required">
                            <!--Phone number-->
                            <div class="field">
                                <label>Teléfono</label>
                                <input type="text" id="txtTelefono" placeholder="Teléfono" readonly runat="server">
                            </div>
                            <!--Email-->
                            <div class="field">
                                <label>Email</label>
                                <input type="text" id="txtEmail" placeholder="Email" readonly>
                            </div>
                            <!--Birth date-->
                            <div class="field">
                                <label>Fecha de nacimiento</label>
                                <input type="text" id="txtFechaNacimiento" placeholder="Fecha de nacimiento" readonly>
                            </div>
                        </div>

                        <div class="three fields required">
                            <!--Default or Personalized packages-->
                            <div class="field">
                                <label>Tipo de paquete</label>
                                <select class="ui search dropdown" id="ddlTipoPaquete" name="ddlTipoPaquete" runat="server">
                                    <option value="">Seleccione un tipo de paquete</option>
                                    <option value="1">Personalizado</option>
                                    <option value="2">Nuestras ofertas</option>
                                </select>
                            </div>
                            <div class="field" id="btnCustomPack" style="display: none;align-content: flex-end;align-items: flex-end;">
                                <div class="ui btn-edit text-white button" tabindex="0" onclick="personalizeRedirection()">Continuar</div>
                            </div>
                        </div>

                        <!-- General data of the reservation -->
                        <div id="frmReservData" style="display:none">
                            <div class="field">

                                <h3 class="ui block header">
                                    Datos generales de la reservación
                                </h3>

                                <div class="three fields required">
                                    <!--Amount of people-->
                                    <div class="field">
                                        <label>Cantidad de personas</label>
                                        <input type="number" min="1" max="100" asp-for="Resv_NumeroPersonas" placeholder="Cantidad de personas">
                                    </div>
                                    <!--Amount of payments-->
                                    <div class="field">
                                        <label>Cantidad de cuotas</label>
                                        <select class="ui search dropdown" asp-for="Resv_CantidadPagos">
                                            <option value="">Selecciona la cantidad de coutas</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="three fields required">
                                    <!--Filter by countries-->
                                    <div class="field">
                                        <label>Paises</label>
                                        <select class="ui search selection dropdown" id="ddlPaises" name="ddlPaises" autocomplete="off" runat="server">
                                            <option value="">Seleccione un país de destino </option>
                                        </select>
                                    </div>
                                    <!--Filter by cities-->
                                    <div class="field">
                                        <label>Ciudades</label>
                                        <select class="ui search dropdown" id="ddlCiudades" name="ddlCiudades" runat="server">
                                            <option value="">Seleccione una ciudad de destino</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Default packages selection -->
                        <div id="frmDefaultPackages" style="margin-bottom:20px;">
                            <h3 class="ui block header">
                                Selecciona alguno de nuestros paquetes para poder ver sus detalles
                            </h3>
                            <div class="field">
                                <div class="three fields required">
                                    <!--Select a package-->
                                    <div class="field">

                                        <label>Nuestros paquetes</label>
                                        <select class="ui search selection dropdown" id="Paqu_ID" name="Paqu_ID">
                                            <option value="">Selecciona paquete</option>
                                        </select>
                                    </div>
                                    <div class="field">
                                        <label>Fecha de Entrada - Salida</label>
                                        <input type="text" id="dateRangePicker" name="datefilter" value="" />
                                    </div>

                                </div>
                            </div>


                            <!-- Default package details-->
                            <div id="frmDefaultPackagesDetails">
                                <div class="ui segment">
                                    <h2 class="ui header" id="txtDefaultPackageName"></h2>
                                    <div class="field">
                                        <div class="ui very relaxed items">
                                            <div class="item">
                                                <div class="image" style="width:300px">
                                                    <img id="imgDefaultPackage" src="">
                                                </div>
                                                <div class="content">

                                                    <div class="ui card" style="width: auto;">
                                                        <div class="content">
                                                            <div class="header">Descripción:</div>
                                                            <div class="description">
                                                                <p id="txtDefaultPackageDesc"></p>
                                                                <p>Duración: <strong><span id="txtDefaultPackageDuracion"></span> días</strong></p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="ui list">
                                                        <div class="item">
                                                            <div class="header">Hotel: </div>
                                                            <span id="txtDefaultPackageHotel"></span>
                                                        </div>
                                                        <div class="item">
                                                            <div class="header">Restaurante: </div>
                                                            <span id="txtDefaultPackageRest"></span>
                                                        </div>
                                                        <div class="item">
                                                            <div class="header">Actividades incluidas</div>
                                                            <div class="description">
                                                                <div class="ui middle aligned divided list" id="txtDefaultPackagesActividades">

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="content">
                                                    <h2 style="text-align: center;">
                                                        Precio: L. <span id="lblDefaultPackagePrice" style="font-size: inherit;"></span>
                                                        <input type="number" name="txtDefaultPackagePrice" id="txtDefaultPackagePrice" style="display:none" runat="server" />
                                                    </h2>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <br>
                                <div class="field">
                                    <div class="two fields">
                                        <!--Add extra activities of the Hotel-->
                                        <div class="field">
                                            <div class="ui toggle button" id="btnShowExtraHotelActivities">+ Añadir actividades del hotel</div>
                                        </div>
                                        <!--Add extra activities on the zone-->
                                        <div class="field">
                                            <div class="ui toggle button" id="btnShowExtraActivities">+ Añadir actividades por la zona</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Add extra activities in the hotel-->
                            <div id="frmAddExtraHotelsActivities" style="margin-bottom:20px">
                                <div class="ui segment">
                                    <h3 class="ui block header">
                                        Selecciona algunas actividades para realizar en el hotel
                                    </h3>
                                    <div class="ui btn-edit text-white button" tabindex="0" id="btnHotelExtraActivities" style="margin: 10px 0px">+ Añadir una actividad</div>
                                    <div class="ui form " id="listHotelsExtraActivities">

                                    </div>

                                </div>
                                <br>
                            </div>
                            <!--Add extra activities in the zone-->
                            <div id="frmAddExtraActivities" style="margin-bottom:20px">
                                <div class="ui segment">
                                    <h3 class="ui block header">
                                        Selecciona algunas actividades para realizar en <span id="lblZone"></span>
                                    </h3>
                                    <div class="ui btn-edit text-white button" tabindex="0" id="btnExtraActv" style="margin: 10px 0px">+ Añadir una actividad</div>
                                    <div class="ui form " id="listExtraActivities">

                                    </div>

                                </div>
                                <br>
                            </div>

                            @*<!--Add or edit a restaurant-->
                                <div id="frmRestaurants" style="margin-bottom:20px">
                                    <div class="ui segment">
                                        <h3 class="ui block header">
                                            Selecciona algún restaurante para realizar la reservación
                                        </h3>
                                        <div class="ui btn-edit text-white button" tabindex="0" id="btnAddRestaurants" style="margin: 10px 0px">+ Añadir un restaurante</div>
                                        <div class="ui form " id="listRestaurants">
                                        </div>

                                    </div>
                                    <br>
                                </div>
                                <!--Add or edit a transport-->
                                <div id="frmTransports" style="margin-bottom:20px">
                                    <div class="ui segment">
                                        <h3 class="ui block header">
                                            Selecciona algunas actividades para realizar en el hotel
                                        </h3>
                                        <div class="ui btn-edit text-white button" tabindex="0" id="btnTransport" style="margin: 10px 0px">+ Añadir un transporte</div>
                                        <div class="ui form " id="listTransport">
                                        </div>

                                    </div>
                                    <br>
                                </div>*@
                        </div>
                        @{
                            if (ViewBag.RouteValues.Command == "Update")
                            {
                                <div class="ui btn-edit text-white button" tabindex="0" onclick="createReservation()">Actualizar reservación</div>
                                <div class="ui button" onclick="goBack()" tabindex="0">Cancelar</div>
                            }
                            else
                            {
                                <div class="ui btn-edit text-white button" tabindex="0" onclick="createReservation()" id="btnCreateReservation">Crear reservación</div>
                                <div class="ui button" onclick="goBack()" tabindex="0">Cancelar</div>
                            }
                        }


                    </div>
                </div>
            </form>
            <div class="ui negative attached message" id="msgErrorForm">
                <div class="header">
                    Ha ocurrido un error al intentar ejecutar la petición
                </div>
                <p></p>
            </div>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/ReservationJS/Create.js"></script>
    @{
        if (ViewBag.RouteValues.Command == "Update")
        {
            <script src="~/js/ReservationJS/Update2.js"></script>
        }
    }

}
@section HighlightTile{
    <script>
        highlightTile();
    </script>
}


