@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.CityListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{
    <style>
        .ui.modal {
            left: auto !important;
            top: auto !important;
            height: auto !important;
        }

        table thead tr th {
            background-color: #2b2b2b;
            color: white;
        }
    </style>
}


<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="user icon"></i>
            <div class="content">
                <div class="header">
                    Ciudad
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <button id="createCity" class="ui small btn-purple text-white labeled icon button"><i class="plus icon"></i>Nuevo</button>
            </div>

            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Search..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        <table class="ui compact selectable celled table" id="grdCity">
            <thead>
                <tr>
                    <th>
                        País
                    </th>
                    <th>
                        Ciudad
                    </th>
                    <th width="200px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Pais)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Ciudad)
                        </td>

                        <td>
                            <button class="ui large icon btn-edit button" id="UpdateCity" onclick="GetCity(@item.ID)">
                                <i class="pencil alternate icon icon-crud"></i>
                            </button>

                            <a class="ui large icon button" href="@Url.Action("Details", "City", new { id=item.ID })">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>

@*//////////////////////////////////////////////////////MODAL CREAR ////////////////////////////////////////////////////////////////////////////////////////*@

<div class="ui modal" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa una ciudad
    </div>
    <form asp-action="Create" asp-controller="City" id="createCityform">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="field">
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">Ciudad</label>
                            <input id="ciud_Descripcion" name="ciud_Descripcion" placeholder="Ciudad" />
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorCity"></label>
                        </div>
                        <div class="required field">
                            <label class="ui label">País</label>
                            <select id="pais_ID" name="pais_ID" class="ui dropdown search" asp-items="ViewBag.pais_ID">
                                <option value="">Seleccione un pais</option>
                            </select>
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPais"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button" id="sendCity">Guardar</button>
        <button class="ui button" id="closeCity">Cerrar</button>
    </div>

</div>



@*//////////////////////////////////////////////////////MODAL update ////////////////////////////////////////////////////////////////////////////////////////*@

<div class="ui modal" id="modalUpdate">
    <i class="close icon"></i>
    <div class="header">
        Edita una ciudad
    </div>
    <form asp-action="Update" asp-controller="City" id="updateCityform">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="field">
                    <div class="two fields">
                        <div class="required field">
                            <label class="ui label">Ciudad</label>
                            <input name="Ciud_ID" id="Ciud_ID" />
                            <input id="ciud_DescripUpdate" name="ciud_Descripcion" placeholder="Ciudad" />
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorCity"></label>
                        </div>

                        <div class="required field">
                            <label class="ui label">País</label>
                            <select id="pais_IdUpdate" name="pais_Id" class="ui dropdown search" asp-items="ViewBag.pais_ID">
                            </select>
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPais"></label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button" id="sendEditCity">Guardar</button>
        <button class="ui button" id="closeEditCity">Cerrar</button>
    </div>

</div>



@section Scripts{
    <script src="~/js/CityJs/City.js"></script>
    <script src="~/js/CityJs/Update.js"></script>



    <script>

        //$(document).ready(function () {
        //    $("#Ciud_ID").hide();

        //});
        //function GetCity(id) {

        //    var CityModel = CityListViewModel;
        //    var request = ajaxRequest("https://totaltravel.somee.com/API/Cities/Find?Id=" + id);
        //    var ciudad = request.data.ciudad;
        //    CityModel.id = request.data.id;
        //    CityModel.ciudad = request.data.ciudad;
        //    CityModel.iD_Pais = request.data.iD_Pais;

        //    $("#Ciud_ID").val(CityModel.id);
        //    $("#ciud_Descrip").val(CityModel.ciudad);
        //    SetDropDownValue($("#pais_Id"), CityModel.iD_Pais);


        //    $("#modalUpdate").modal('show');
        //}

        //$("#sendEditCity").click(() => {


        //    validateArrayForm = [
        //        { validateMessage: "Ingrese una ciudad.", Jqueryinput: $("#ciud_Descrip") },
        //        { validateMessage: "Seleccione un país.", Jqueryinput: $("#pais_Id") },
        //    ];

        //    // retorna bool
        //    const ValidateFormStatus = ValidateForm(validateArrayForm);

        //    if (ValidateFormStatus) {

        //        var City = CityListViewModel;
        //        City.id = parseInt($('#Ciud_ID').val());
        //        City.city_city = $('#ciud_Descrip').val();
        //        City.ciud_UsuarioCreacion = City.id;

        //        var responseAddress = ajaxRequest("https://totaltravel.somee.com/API/Cities/Update?id=" + City.id, City, "PUT");
        //        var CityID;
        //        if (responseAddress.code == 200) {

        //            window.location.href = '/Address?success=true';
        //        }

        //    }

        //});


        //$("#closeEditCity").click(() => {
        //    $(".ui.modal").modal('hide');
        //});




    </script>>
}


