@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div id="ErrorSection" class="loading" >
        <h1 style="margin-bottom: 12px; font-size: 8rem; font-style: italic; font-variant: petite-caps;">
            Error 500
        </h1>
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Código de seguimiento:</strong> <code>@Model.RequestId</code>
            </p>
        }
        <span style ="margin-bottom: 20px; font-size: 4rem;">
            Ha ocurrido un error al procesar la solicitud, refresque la página o inténtelo de nuevo más tarde. <b>:(</b>
            
        </span>
        <span style="margin-bottom: 40px;display: flex;justify-content: flex-end;">
            <a href="javascript:history.back()" class="ui button" style="font-size: 22px;margin-right: 13%;">Regresar</a>
        </span>
        
        <div class="gears">
            <div class="gear one">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear two">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear three">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>


