@model AHM_TOTAL_TRAVEL_WEB.Models.ReservationTransportationViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon alert-info"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear Reservacion Transporte
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "ReservationTransportation")">
                        Regresar
                        <i class="focus icon"></i>
                    </a>
                </div>
            </div>

            <!-- formulario-->
            <form asp-action="Create" asp-controller="ReservationTransportation" id="CreateReservationTransporte">

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">
                            <div class=" two fields">
                                <div class="required field">
                                    <label class="ui label">Destino</label>
                                    <select id="Detr_ID" name="Detr_ID" class="ui dropdown search" asp-items="ViewBag.Detr_ID">
                                        <option value="">Seleccione una reservacion</option>
                                    </select>
                                </div>
                                <div class="required field">
                                    <label class="ui label">Reservacion</label>
                                    <select id="Resv_ID" name="Resv_ID" class="ui dropdown search" asp-items="ViewBag.Resv_ID">
                                        <option value="">Seleccione una reservacion</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Cantidad Asientos</label>
                                    <input id="ReTr_CantidadAsientos" name="ReTr_CantidadAsientos" placeholder="Cantidad Asientos" />
                                </div>
                                <div class="required field">
                                    <label>Cancelado</label>
                                    <input id="ReTr_Cancelado" name="ReTr_Cancelado" placeholder="Cancelado"  />
                                </div>
                            </div>
                        </div>


                        <div class="field">
                            <div class="fields">
                                <div class="required field">
                                    <label>Fecha Cancelado</label>
                                    <input id="ReTr_FechaCancelado" name="ReTr_FechaCancelado" placeholder="Fecha Cancelado" type="date" />
                                </div>
                            </div>
                        </div>



                        <span class="labelvalidator" id="labelvalidatorError"></span>

                        <input type="button" value="Guardar" id="btnCreateReservationTransporte" class="btn btn-purple ui positive button" />
                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/ReservacionTransporte/Create.js"></script>
}

@section HighlightTile{
    <script>
        $("#ReservationModule").addClass("active");
        $("#Reservation_Schema").addClass("show");
        $("#ReservationModule").addClass("expandedList")
    </script>
}





