@model AHM_TOTAL_TRAVEL_WEB.Models.ReservationTransportationViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<h4>ReservationTransportationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Detr_ID" class="control-label"></label>
                <input asp-for="Detr_ID" class="form-control" />
                <span asp-validation-for="Detr_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resv_ID" class="control-label"></label>
                <input asp-for="Resv_ID" class="form-control" />
                <span asp-validation-for="Resv_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReTr_CantidadAsientos" class="control-label"></label>
                <input asp-for="ReTr_CantidadAsientos" class="form-control" />
                <span asp-validation-for="ReTr_CantidadAsientos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReTr_Cancelado" class="control-label"></label>
                <input asp-for="ReTr_Cancelado" class="form-control" />
                <span asp-validation-for="ReTr_Cancelado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReTr_FechaCancelado" class="control-label"></label>
                <input asp-for="ReTr_FechaCancelado" class="form-control" />
                <span asp-validation-for="ReTr_FechaCancelado" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
