@model AHM_TOTAL_TRAVEL_WEB.Models.ReservationTransportationViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="bus icon"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Editar
                    </div>
                    <p>Editar Reservacion Restaurante</p>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "ReservationTransportation")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>
            <form asp-action="Update" id="FrmReservationTransporte">
                <div class="ui form attached fluid segment">
                    <div class="content">
                        <div class="two fields">
                            <div class="required field">
                                <label>Reservacion</label>
                                <input id="TrasporteUpdateID">
                                <select id="Resv_ID" name="Resv_ID" class="ui dropdown search" asp-items="ViewBag.Resv_ID" asp-for="Resv_ID">
                                    <option value="">Seleccione una Reservacion</option>
                                </select>
                            </div>
                            <div class="required field">
                                <label>Transporte</label>
                                <select id="Detr_ID" name="Detr_ID" class="ui dropdown search" asp-items="ViewBag.Detr_ID" asp-for="Detr_ID">
                                    <option value="">Seleccione un Restaurante</option>
                                </select>
                            </div>

                        </div>
                        <div class="two fields">

                            <div class="required field">
                                <label>Cantidad Asientos</label>
                                <input asp-for="ReTr_CantidadAsientos" id="ReTr_CantidadAsientos" />
                            </div>
                            <div class="required field">
                                <label>Fecha Cancelado</label>
                                <input asp-for="ReTr_FechaCancelado" id="ReTr_FechaCancelado" type="date" />
                            </div>
                        </div>
                        <div class="ui segment">
                            <div class="grouped fields">
                                <div class="field">
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" value="false" id="ReTr_Cancelado" name="ReTr_Cancelado" tabindex="0" class="hidden">
                                        <label>Cancelado</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button class="ui button btn-edit text-white" id="btnGuardar">Guardar</button>
                        <a type="button" href="@Url.Action("Index", "ReservationTransportation")" class="ui button mb-3 ms-3">Cancelar</a>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        $('.ui.checkbox').checkbox();
    </script>

    <script src="~/js/ReservacionTransporte/Update.js"></script>

    @*<script>

            $("#btnGuardar").click(() => {
                const ValidateArray = [
                    { validateMessage: "Seleccione una reservacion", Jqueryinput: $("#Resv_ID") },
                    { validateMessage: "Seleccione un transporte", Jqueryinput: $("#Detr_ID") },
                    { validateMessage: "Ingrese una Fecha cancelado", Jqueryinput: $("#ReTr_FechaCancelado") },
                    { validateMessage: "Ingrese una cantidad asientos", Jqueryinput: $("#ReTr_CantidadAsientos") },
                    { validateMessage: "Ingrese si fue cancelado", Jqueryinput: $("#ReTr_CantidadAsientos") },


                ];
                const userValidate = ValidateForm(ValidateArray);
                if (userValidate) {
                    $("#FrmReservationTransporte").submit();
                }
            });
        </script>*@

}


@section HighlightTile{


    <script>

        $("#ReservationModule").addClass("active");
        $("#ReservationModule").addClass("expandedList");
        $("#ReservationModule").prop("aria-expanded");
        $("#ReservationModule").attr("aria-expanded", "true");

        $("#Reservation_Schema").addClass("show");

        $("#ReservationRestaurantTile").addClass("activeTile");
    </script>
}
