@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.TypesActivitiesListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="child icon"></i>
            <div class="content">
                <div class="header">
                    Tipos de Actividades
                </div>

            </div>
        </div>

        <br>
        <div class="ui grid mb-3">
            <div class="eight wide column">
                <button id="createTypesActivities" class="ui small btn-edit text-white labeled icon button"><i class="plus icon"></i>Nuevo</button>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table id="grdTypeActivities" class="display ui compact selectable celled table" style="width:100%;">
            <thead>
                <tr>
                    <th>
                        Descripción
                    </th>
                    <th width="300px">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>

                        <td>
                            <button class="ui large icon btn-edit button" onclick="editar(@item.ID)">
                                <i class="pencil alternate icon icon-crud"></i>
                            </button>
                            <button class="ui large icon btn-delete button" onclick="Delete(@item.ID)">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a class="ui large icon button" href="@Url.Action("Details", "TypesActivities", new { id=item.ID })">
                                <i class="bi bi-info-circle fa-lg icon-crud"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<br>

<div class="ui modal longer" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa un Tipo de Actividad
    </div>
    <form asp-action="Create" asp-controller="TypesActivities" id="createTypesActivitiesForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="field">
                        <div class="required field">
                            <label class="ui label">Descripción</label>
                            <input name="TiAc_Descripcion" id="TiAc_Descripcion" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">

        <button class="btn-edit ui button text-white" id="send" onclick="validar()">Guardar</button>
        <button class="ui button deny" id="close">Cancelar</button>
    </div>
</div>


<div class="ui modal longer" id="modalUpdate">
    <i class="close icon"></i>
    <div class="header">
        Actualiza un Tipo de Actividad
    </div>
    <form asp-action="Update" asp-controller="TypesActivities" id="updateTypesActivitiesForm">
        <div class="ui form attached fluid segment">
            <div class="content">

                <div class="required field">
                    <div class="field">
                        <div class="required field">
                            <label class="ui label">Descripción</label>
                            <input name="TiAc_Descripcion" id="TiAc_Descripcion" class="form-control" />                          
                        </div>
                        <div class="required field">
                            <input id="TiAc_ID" name="TiAc_ID" hidden />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="btn-edit ui button text-white" id="send" onclick="actualizar()">Guardar</button>
        <button class="ui button deny" id="close">Cancelar</button>
    </div>
</div>


@section Scripts{
    <script src="~/js/TypesActivites/TypesActivities.js"></script>
    <script>
        // ----------------------------------- EVENTS ------------------------------------

        $(document).ready(function () {

            var table = $("#grdTypeActivities").DataTable({
                stateSave: true,
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                },
                //Aqui se ingresa el numero de columnas que tiene la tabla
                columns: [
                    {},
                    {}
                ],
                order: [[1, 'asc']],
                dom: 'Bfrtip',

                //Son los botones de acciones para exportar
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        text: '<i class= "file pdf icon"></i> Exportar como PDF',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                        exportOptions: {
                            columns: [0, 1]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="file excel icon"></i> Exportar a excel',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                        exportOptions: {
                            columns: [0, 1]
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="file csv icon"></i> Exportar como CSV',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2"
                    },
                ]
            });
        });


    </script>
    <script>
        const params = new URLSearchParams(window.location.search);
        const izziSuccess = params.get("success");

        if (izziSuccess == "true") {
            iziToastAlert(title = "Proceso completado", message = "La acción se ha completado exitosamente.", type = "success");
        }
        function Delete(id) {
            const capsula1 = () => {
                ajaxRequest("/TypesActivities/Delete?id=" + id, null, "POST")
                window.location.href = '/TypesActivities?success=true';
            };

            sweetAlertconfirm("¿Desea eliminar el registro seleccionado?", "Este registro se borrará permanentemente", "warning", capsula1);


        };


    </script>
    <script>
        const campoNumerico = document.getElementById('TiAc_Descripcion');

        campoNumerico.addEventListener('keydown', function (evento) {
            const teclaPresionada = evento.key;
            const teclaPresionadaEsUnNumero =
                Number.isInteger(parseInt(teclaPresionada));

            const sePresionoUnaTeclaNoAdmitida =
                teclaPresionada != 'ArrowDown' &&
                teclaPresionada != 'ArrowUp' &&
                teclaPresionada != 'ArrowLeft' &&
                teclaPresionada != 'ArrowRight' &&
                teclaPresionada != 'Backspace' &&
                teclaPresionada != 'Delete' &&
                teclaPresionada != 'Enter' &&
                teclaPresionada != 'Space' &&
                teclaPresionadaEsUnNumero;
            const comienzaPorCero =
                campoNumerico.value.length === 0 &&
                teclaPresionada == 0;

            if (sePresionoUnaTeclaNoAdmitida || comienzaPorCero) {
                evento.preventDefault();
            }

        });
    </script>

}

@section HighlightTile{
    <script>
        highlightTile();
    </script>
}