@model AHM_TOTAL_TRAVEL_WEB.Models.ActivitiesViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Create</h1>

    <h4>ActivitiesViewModel</h4>
    <hr />
    <div class="row container">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Actv_Descripcion" class="control-label"></label>
                    <input asp-for="Actv_Descripcion" class="form-control" />
                    <span asp-validation-for="Actv_Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TiAc_ID" class="control-label"></label>
                    <input asp-for="TiAc_ID" class="form-control" />
                    <span asp-validation-for="TiAc_ID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Actv_UsuarioCreacion" class="control-label"></label>
                    <input asp-for="Actv_UsuarioCreacion" class="form-control" />
                    <span asp-validation-for="Actv_UsuarioCreacion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Actv_UsuarioModifica" class="control-label"></label>
                    <input asp-for="Actv_UsuarioModifica" class="form-control" />
                    <span asp-validation-for="Actv_UsuarioModifica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
