@model AHM_TOTAL_TRAVEL_WEB.Models.ActivitiesViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon camera"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear
                    </div>
                    <p>Ingresa una nueva actividad.</p>
                </div>
            </div>

            <!-- formulario-->
            <form>

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">
                            <label class="control-label">Actividades</label>
                            <div class="two fields">
                                <div class="field">
                                    <input id="Actividad" class="form-control" placeholder="Descripcion de la Actividad" />
                                </div>
                                <div class="field">
                                    <select id="tipoActividad" class="ui dropdown search" asp-items="ViewBag.TiAc_ID">
                                        <option value="">Seleccione el tipo de Actividad</option>
                                    </select>
                                </div>

                            </div>
                        </div>



                        <input type="button" value="Crear" onclick="validar()" class="btn btn-primary ui positive button" />
                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function validar() {
            if ($("#Actividad").val() == 0) {
                iziToastAlert("Error", "Campos Actividad Vacio", "error");
            }
            else {

            }
            if ($("#tipoActividad").val() == 0) {
                iziToastAlert("Error", "Seleccione un tipo de Actividad", "error");
            }
            else {

            }
            

        }
    </script>
}