@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-inner w-100">
    <!-- Page Header-->
    <header class="bg-white shadow-sm px-4 py-3 z-index-20">
        <div class="container-fluid px-0">
            <h2 class="mb-0 p-1">Actividades que hacer en tus viajes </h2>
        </div>
    </header>
    <!-- Dashboard Counts Section-->
    <div class="container-fluid">
        <div class="row gy-4">

            <!-- Tab links -->
            <div class="tab">
                <center><H1>Actividades</H1></center>
            </div>

            <!-- Tab content -->
            <div id="Actividades " class="tabcontent principal" style="padding: 0px;">
                <div class="containerActividades">
                    <div id="rowActividades " class="row">
                        @*prueba*@

                        <div class="col-lg-6">
                            <div class="card mb-0">
                                <div class="Actividades  card mb-3 mt-3">
                                    <div class="row g-0">
                                        <center>
                                            <div class="col-md-4 imgContainer">
                                                <h3 class="card-title" style="margin-bottom: 15px;">Parasailing</h3>
                                                <img src="https://res.klook.com/image/upload/c_fill,w_750,h_500,f_auto/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/mnmd78u86wxscief3lmy.jpg"
                                                     class="img-fluid rounded-start imgActividades "
                                                     alt="Imagen de Actividades ">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardActividades ">
                                                    <p class="card-text">
                                                        El parasailing es su oportunidad única de ver la belleza de esta isla desde lo alto. Navegue en paracaídas por encima de la bahía de
                                                        Honduras y llene sus sentidos de asombro desde 800 pies mirando hacia abajo sobre nuestros magníficos arrecifes vivos y volando a la
                                                        altura de las montañas cubiertas de jungla. Con nuestro equipo experimentado, nuestra avanzada tecnología de despegue y aterrizaje y
                                                        nuestro historial de seguridad impecable de más de 20 años de vuelo sin accidentes, le brinda la confianza para disfrutar plenamente
                                                        de su aventura. ¡Marque esto de su lista de deseos!
                                                    </p>

                                                    <p class="card-text">
                                                        Detalles:

                                                        Duración  60 minutos,

                                                        Mínimo máximo  capacidad:  1-6 personas - 2 días de anticipación,

                                                        Qué llevar ropa cómoda y calzado resistente, traje de baño y bloqueador solar,

                                                        Reembolsos recibirá un reembolso completo si las condiciones climáticas hacen que cancelemos su reserva.
                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>


                                                    <div class="col-md-5" align="center">
                                                        <br>
                                                        <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                        <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>

                                <div class="Actividades  card mb-3 mt-3">
                                    <div class="row g-0">
                                        <center>
                                            <div class="col-md-4 imgContainer">
                                                <h3 class="card-title" style="margin-bottom: 15px;">Snorkeling (Día|Noche)</h3>
                                                <img src="https://i.pinimg.com/originals/7d/38/aa/7d38aa475178ddb63a576cb733a336bb.jpg"
                                                     class="img-fluid rounded-start imgActividades "
                                                     alt="Imagen de Actividades ">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardActividades ">
                                                    <p class="card-text">
                                                        Descubre lo mejor de la vida marina de Sataya en un tour en bote por la noche. Su aventura sin estrés comienza con el traslado de su hotel al bote, que sirve de
                                                        hogar para pasar la noche. Disfrute de múltiples oportunidades para nadar con delfines y explorar los vibrantes arrecifes. Lleve equipo de buceo o snorkel para
                                                        obtener una visión aún más cercana del mundo submarino. Entre excursiones de agua, comer comidas abundantes a bordo del barcoObservar la vida marina en su entorno
                                                        natural.Pasa la noche a bordo del barco,Disfrute de comidas y bocadillos de cortesía,Relájese en el hotel de recogida y devolución.


                                                    </p>

                                                    <p class="card-text">
                                                        Acerca de esta actividad
                                                        Duración 1 hora,Nivel de actividad media,Transporte incluido no
                                                        Información adicional
                                                        Traiga su protector solar, lentes de sol, repelente de insectos, traje de baño y toalla.
                                                        Preparación
                                                        Para aprovechar al máximo su próximo viaje de esnórquel y dejar a los novatos.

                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>


                                                    <div class="col-md-5" align="center">
                                                        <br>
                                                        <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                        <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>

                                <div class="Actividades card mb-3 mt-3">
                                    <div class="row g-0">
                                        <center>
                                            <div class="col-md-4 imgContainer">
                                                <h3 class="card-title" style="margin-bottom: 15px;">Snuba</h3>
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThfJJ7TGIR8zQZQ_LOtWnO2RQOBk4ObxFU4s_mVrdMnBMFodziBYR7JWLqnkNBqTRVkyg&usqp=CAU"
                                                     class="img-fluid rounded-start imgActividades "
                                                     alt="Imagen de Actividades ">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardActividades ">
                                                    <p class="card-text">
                                                        Aborda una cómoda embarcación y disfruta de un tranquilo paseo hasta el arrecife Barracuda, frente a la costa de Xcaret.
                                                        Al llegar al lugar, sumérgete y admira con ayuda de la tecnología Snuba, uno de los arrecifes mejor conservados en México.
                                                        Snuba® consiste en un visor parecido al del snorkel y una máscara similar a la del buceo, con la diferencia de que aquí el
                                                        tanque de oxígeno flota en la superficie, esto te permite desplazarte con libertad hasta el fondo y apreciar la belleza del
                                                        arrecife Barracuda a poca distancia.

                                                    </p>

                                                    <p class="card-text">
                                                        Detalles:

                                                        Horario: debes elegir tu horario al llegar al parque (sujeto a condiciones del clima).
                                                        Duración: 1 h 15 min (25 min instrucciones / 10 min traslado en barco al arrecife / 30 min en el agua y 10 min de traslado de regreso).
                                                        Edad mínima requerida: 12 años (todos los participantes deben saber nadar).
                                                        Profundidad máxima: 7 m.
                                                        Capacidad máxima: 8 personas.
                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>


                                                    <div class="col-md-5" align="center">
                                                        <br>
                                                        <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                        <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>

                                <div class="Actividades  card mb-3 mt-3">
                                    <div class="row g-0">
                                        <center>
                                            <div class="col-md-4 imgContainer">
                                                <h3 class="card-title" style="margin-bottom: 15px;">Nadadar con delfines</h3>
                                                <img src="https://cruceroadicto.com/wp-content/uploads/2018/11/nadando-con-delfines-Cozumel-02.jpg"
                                                     class="img-fluid rounded-start imgActividades "
                                                     alt="Imagen de Actividades ">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardActividades ">
                                                    <p class="card-text">
                                                        Esta dinámica actividad con delfines comienza con una breve presentación de dos delfines, quienes lo recibirán en la plataforma con
                                                        un apretón de manos, un beso y una sonrisa amistosa. Luego entrará al agua para nadar de manera divertida y experimentar un emocionante
                                                        "Footpush", mientras los delfines lo empujan con los pies por encima y alrededor de la superficie del agua, ¡permitiéndole sentir su
                                                        velocidad y fuerza! Luego, tómatelo con calma en un paseo alrededor de la laguna, mientras sostienes sus suaves aletas dorsales para el
                                                        famoso "Paseo Dorsal". Además, te divertirán con varios comportamientos acuáticos, habilidades vocales, chapoteos en la cola y aplausos.
                                                        Se tomarán fotos profesionales para capturar su tiempo increíble.
                                                    </p>

                                                    <p class="card-text">
                                                        Detalles:

                                                        Duración una hora y media,
                                                        Nivel de actividad baja
                                                        Transporte incluido Sí. Desde el hotel hasta nuestra ubicación, ida y vuelta.


                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>


                                                    <div class="col-md-5" align="center">
                                                        <br>
                                                        <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                        <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>

                                <div class="Actividades  card mb-3 mt-3">
                                    <div class="row g-0">
                                        <center>
                                            <div class="col-md-4 imgContainer">
                                                <h3 class="card-title" style="margin-bottom: 15px;">Flyboard</h3>
                                                <img src="https://www.watersports-bali.com/wp-content/uploads/2017/01/flyboard.jpg"
                                                     class="img-fluid rounded-start imgActividades "
                                                     alt="Imagen de Actividades ">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardActividades ">
                                                    <p class="card-text">
                                                        Puede que volar no esté tan fuera de vuestro alcance. En esta actividad, practicaréis flyboard en la bahía de West Bay y
                                                        disfrutaréis de la isla de Roatán como nunca antes lo habíais imaginado.
                                                    </p>

                                                    <p class="card-text">
                                                        Detalles:
                                                        Medidas Covid-19
                                                        Antes de viajar, revisa las restricciones locales. Todos nuestros servicios cumplen las recomendaciones para evitar el coronavirus.

                                                        Duración
                                                        15 - 25m.

                                                        Idioma La actividad se realiza con un guía que habla español e inglés.
                                                        La actividad se realiza con un guía que habla español e inglés.

                                                        Incluido
                                                        Recogida y traslado de regreso al hotel.

                                                        Guía en español.

                                                        Equipo necesario para practicar flyboard.

                                                        Cuándo reservar
                                                        Puedes reservar hasta 9 horas antes si quedan plazas. Reserva ya y asegura tu plaza.

                                                        Tipo de bono
                                                        Electrónico. Llévalo en tu móvil.

                                                        Accesibilidad
                                                        No es accesible en silla de ruedas.

                                                        Sostenibilidad
                                                        Todos los servicios cumplen nuestro Código de Sostenibilidad.

                                                        No requiere imprimir documentación.
                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>


                                                    <div class="col-md-5" align="center">
                                                        <br>
                                                        <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                        <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>

                                <div class="Actividades  card mb-3 mt-3">
                                    <div class="row g-0">
                                        <center>
                                            <div class="col-md-4 imgContainer">
                                                <h3 class="card-title" style="margin-bottom: 15px;">Zip Line | Canopy</h3>
                                                <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/07/30/52/70.jpg"
                                                     class="img-fluid rounded-start imgActividades "
                                                     alt="Imagen de Actividades ">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardActividades ">
                                                    <p class="card-text">
                                                        Disfruta de una experiencia turística alternativa de la notable isla de Roatán en un emocionante Zip op n ’Dip Canopy Tour. Vuela sobre
                                                        el denso dosel de la exótica jungla de Roatán en un curso de tirolesa en esta aventura aventura en la costa; recorra el paisaje en busca
                                                        de especies raras de vida silvestre y luego sumérjase en las aguas cristalinas del Mar Caribe para darse un baño revitalizante después de
                                                        su aventura.Volar a través de las copas de los árboles en una tirolesa Disfruta del tiempo libre en la playa y refréscate en el mar Caribe
                                                        Recogida en el puerto de cortesía y entrega incluida Cubierto por la política sin preocupaciones de Viator: retorno a tiempo garantizado a
                                                        su barco.
                                                    </p>

                                                    <p class="card-text">
                                                        Información adicional. La confirmación se recibirá cuando se realice la reserva La edad mínima es de 5 años. Te recomendamos traer crema solar, repelente
                                                        de insectos, bañador, toalla, sandalias y una cámara. No está adaptado para personas en silla de ruedas Los bebés deben ir sentados en el regazo de un
                                                        adulto


                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>


                                                    <div class="col-md-5" align="center">
                                                        <br>
                                                        <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                        <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>

                        </div>
                        @*segundacolumna*@
                        @*<div class="container-fluid">
                            <div class="row gy-4">*@



                        <div class="col-lg-6">
                            <div class="card mb-0">


                                <div class="Actividades  card mb-3 mt-3">
                                    <div class="row g-0">
                                        <center>
                                            <div class="col-md-4 imgContainer">
                                                <h3 class="card-title" style="margin-bottom: 15px;">Sky Swing</h3>
                                                <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/09/73/34/3c.jpg"
                                                     class="img-fluid rounded-start imgActividades "
                                                     alt="Imagen de Actividades ">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardActividades ">
                                                    <p class="card-text">
                                                        Experimenta algo completamente diferente en el Sky Swing de Queenstown en The Ledge. No es exactamente el swing que tenías en tu patio
                                                        trasero, The Ledge Swing lleva tu zambullida a un nivel completamente nuevo: 1.312 pies (400 metros) sobre Queenstown. Aproveche y luego
                                                        caiga al cielo y tire del cable de liberación para balancearse en un columpio estilo cuerda, con vistas privilegiadas sobre el lago Wakatipu.
                                                        La experiencia Ledge Sky Swing en Queenstown Gire por encima del lago Wakatipu desde una plataforma especialmente diseñada llamada The Ledge
                                                        Siente la emoción de volar a gran altura. Equipo de seguridad y briefing incluido.Ubicado en la cima de la góndola en Queenstown Ubicado en la cima de
                                                        la góndola en Queenstown.


                                                    </p>

                                                    <p class="card-text">
                                                        Detalles:

                                                        1 hora 30 minutos (aprox.)
                                                        Idiomas disponibles: Inglés
                                                        Ideal para evitar 
                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>


                                                    <div class="col-md-5" align="center">
                                                        <br>
                                                        <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                        <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>



                                <div class="Actividades  card mb-3 mt-3">
                                    <div class="row g-0">
                                        <center>
                                            <div class="col-md-4 imgContainer">
                                                <h3 class="card-title" style="margin-bottom: 15px;">Paseo en Banana</h3>
                                                <img src="https://www.dresseldivers.com/wp-content/uploads/Banana-Rides-Dressel-Divers-3.jpg"
                                                     class="img-fluid rounded-start imgActividades "
                                                     alt="Imagen de Actividades ">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardActividades ">
                                                    <p class="card-text">
                                                        Sujete con fuerza mientras combina la emoción y la diversión de un paseo en bote banana con un recorrido turístico por la costa de
                                                        Gran Bahama. Disfrute de las vistas del canal de Lucayan y de las aguas cristalinas. El tubo inflable con forma de banana, remolcado
                                                        por una lancha rápida, tiene capacidad para ocho personas, para que pueda disfrutar de la experiencia con amigos y familiares. Emocionante
                                                        paseo en bote banana Crucero por la costa de Gran Bahama Familiar, popular entre los niños Equipo de seguridad y chalecos salvavidas.
                                                        La confirmación se recibirá cuando se realice la reserva No está adaptado para personas en silla de ruedas Esta actividad puede tener un mínimo
                                                        de pasajeros requeridos para operar.No es recomendable para viajeros con problemas de espalda
                                                        No es recomendable para embarazadas

                                                    </p>

                                                    <p class="card-text">
                                                        Detalles:
                                                        Hora de inicio
                                                        Horario de apertura
                                                        11/08/2018 - 31/12/2025
                                                        Punto de finalización
                                                        Esta actividad finaliza en el punto.

                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>


                                                    <div class="col-md-5" align="center">
                                                        <br>
                                                        <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                        <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>

                                <div class="Actividades  card mb-3 mt-3">
                                    <div class="row g-0">
                                        <center>
                                            <div class="col-md-4 imgContainer">
                                                <h3 class="card-title" style="margin-bottom: 15px;">Pesca (Normal | Flat)</h3>
                                                <img src="https://freedeportes.com/wp-content/uploads/2021/10/%C2%BFQue-es-Flats-Fishing.jpg"
                                                     class="img-fluid rounded-start imgActividades "
                                                     alt="Imagen de Actividades ">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardActividades ">
                                                    <p class="card-text">
                                                        Este viaje de medio día a Fort Lauderdale es una excelente introducción a la pesca en alta mar. Pase por las mansiones de
                                                        "Millionaire's Row" en el camino hacia el primer lugar de entrada y prepárese para dar vueltas. Los compañeros están disponibles
                                                        en todo momento para ofrecer consejos y ayudar con los cebos. De vuelta en el puerto deportivo, también limpiarán su pescado y
                                                        ofrecerán sugerencias de restaurantes locales que prepararán su pesca. Carta de pesca en alta mar de medio día de 4 o 6 horas en
                                                        Fort Lauderdale Opciones de salida por la mañana, por la tarde o por la noche Bait & Tackle y Coolers & Ice incluidos a bordo
                                                        Pescado para pargo de cola amarilla, manglares, pargo de cordero, mero, porgies, jureles, pez rey Actividad para familias y niños

                                                    </p>

                                                    <p class="card-text">
                                                        Detalles:

                                                        Medidas de seguridad
                                                        4 horas (aprox.)
                                                        Entrada para dispositivos móviles
                                                        Idiomas disponibles: Inglés
                                                        Ideal ver.
                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>


                                                    <div class="col-md-5" align="center">
                                                        <br>
                                                        <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                        <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>

                                <div class="Actividades  card mb-3 mt-3">
                                    <div class="row g-0">
                                        <center>
                                            <div class="col-md-4 imgContainer">
                                                <h3 class="card-title" style="margin-bottom: 15px;">Rafting El Cangrejal</h3>
                                                <img src="https://visitatlantida.com/wp-content/uploads/2019/12/rafting-Omega-Tours-4.jpg"
                                                     class="img-fluid rounded-start imgActividades "
                                                     alt="Imagen de Actividades ">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardActividades ">
                                                    <p class="card-text">
                                                        ¿Quieres vivir una experiencia increíble en un entorno de lo más privilegiado? Disfruta de esta actividad de rafting en el río
                                                        Cangrejal y observa la riqueza de dos parques naturales separados por su cauce.
                                                    </p>

                                                    <p class="card-text">
                                                        Detalles:
                                                        Medidas Covid-19
                                                        Antes de viajar, revisa las restricciones locales. Todos nuestros servicios cumplen las recomendaciones para evitar el coronavirus. Ver más

                                                        Duración
                                                        5h 30m.

                                                        Idioma La actividad se realiza con un guía que habla español e inglés.
                                                        La actividad se realiza con un guía que habla español e inglés.

                                                        Incluido
                                                        Transporte en coche o minibús, según el tamaño del grupo.

                                                        Guía en español.

                                                        Equipo de rafting.

                                                        Degustación de frutas tropicales.

                                                        Cuándo reservar
                                                        Puedes reservar hasta 24 horas antes si quedan plazas. Reserva ya y asegura tu plaza.

                                                        Tipo de bono
                                                        Electrónico. Llévalo en tu móvil.

                                                        Accesibilidad
                                                        No es accesible en silla de ruedas.

                                                        Sostenibilidad
                                                        Todos los servicios cumplen nuestro Código .

                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>


                                                    <div class="col-md-5" align="center">
                                                        <br>
                                                        <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                        <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                                <div class="Actividades  card mb-3 mt-3">
                                    <div class="row g-0">
                                        <center>
                                            <div class="col-md-4 imgContainer">
                                                <h3 class="card-title" style="margin-bottom: 15px;">Barco de Cristal</h3>
                                                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/bb/63/34/caption.jpg?w=1200&h=-1&s=1"
                                                     class="img-fluid rounded-start imgPaquetes"
                                                     alt="Imagen del Paquetes">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardActividades ">
                                                    <p class="card-text">
                                                        Descubriréis la belleza del Mar Caribe en todo su esplendor en este paseo en barco con fondo de cristal por la costa de Roatán.
                                                        A la hora acordada, pasaremos a recogeros por vuestro hotel de Roatán. Desde allí.
                                                    </p>

                                                    <p class="card-text">
                                                        Detalles:

                                                        Medidas Covid-19
                                                        Antes de viajar, revisa las restricciones locales. Todos nuestros servicios cumplen las recomendaciones para evitar el coronavirus.

                                                        Duración
                                                        45 minutos.

                                                        Idioma La actividad se realiza con un guía que habla español e inglés.
                                                        La actividad se realiza con un guía que habla español e inglés.

                                                        Incluido
                                                        Guía profesional en español.

                                                        Recogida y traslado al hotel.

                                                        Paseo en barco con fondo de cristal.

                                                        Cuándo reservar
                                                        Puedes reservar hasta 9 horas antes si quedan plazas. Reserva ya y asegura tu plaza.

                                                        Tipo de bono
                                                        Electrónico. Llévalo en tu móvil.

                                                        Accesibilidad
                                                        No es accesible en silla de ruedas.

                                                        Sostenibilidad
                                                        Todos los servicios cumplen nuestro Código de Sostenibilidad.

                                                        


                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>


                                                    <div class="col-md-5" align="center">
                                                        <br>
                                                        <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                        <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>

                                <div class="Actividades  card mb-3 mt-3">
                                    <div class="row g-0">
                                        <center>
                                            <div class="col-md-4 imgContainer">
                                                <h3 class="card-title" style="margin-bottom: 15px;">Buggies de Arena</h3>
                                                <img src="https://us.123rf.com/450wm/jkraft5/jkraft51504/jkraft5150400133/38695157-buggy-al-pie-de-una-gran-duna-de-arena-en-huacachina-per%C3%BA.jpg"
                                                     class="img-fluid rounded-start imgPaquetes"
                                                     alt="Imagen de Actividades ">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardActividades ">
                                                    <p class="card-text">
                                                        Explore el campo dominicano durante una aventura en un buggy Polaris de Punta Cana que funciona con adrenalina. Conduce tu propio
                                                        buggy o viaja como pasajero por senderos escénicos a través del interior de la isla, pasando por pequeños pueblos y tierras de
                                                        cultivo, y explora una cueva oculta y uno de los últimos tramos de costa libres de complejos turísticos. Durante el recorrido,
                                                        también visitarás un rancho típico dominicano y una escuela primaria rural.
                                                    </p>

                                                    <p class="card-text">
                                                        Detalles:
                                                        De 4 a 99 años, máximo 14 por grupo,
                                                        Duración
                                                        4 h,
                                                        Hora de inicio ver disponibilidad,
                                                        Tipo de entrada,
                                                        móvil.
                                                        No es accesible para sillas de ruedas
                                                        Los bebés deben ir sentados en el regazo
                                                        Si tiene alguna pregunta sobre la accesibilidad, estaremos encantados de ayudarle. Solo tiene que llamar al siguiente número e indicar el código del producto: 2476P114
                                                        La confirmación se recibirá en el momento en que se realice la reserva
                                                        Use lentes de sol, traje de baño, protector solar y calzado cómodo (se recomienda calzado).

                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>


                                                    <div class="col-md-5" align="center">
                                                        <br>
                                                        <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                        <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*</div>
                            </ul>*@
                        @*</div>*@
                    </div>
                    @*cierra segundo bloque*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card-body cardActividades ">
        <h3 class="card-title" style="margin-bottom: 15px;">Visitas y Paseos</h3>
        <p class="card-text">
            Isla de Roatán,
            Isla de Utila,
            Little French Key,
            Day Trips La Ceiba,
            Naufragio en Palmetto Bay,
            Manglares en Roatán,
            Banco de Estrellas Marinas,
            Granja de Iguanas,
            Gumbalimba Park,
            Mayan Eden Eco Park,
            Cayos Cochinos,
            Pigeon Cay,
        </p>
        <p class="card-text"><small class="text-muted"></small></p>
    </div>
    <center>
        <div class="col-md-4 imgContainer">
            <img src="https://elcomercio.pe/resizer/FNb4Mf8ma7lFSiCUJoll4V-SghI=/980x0/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/5NZNJKX2HZEIVL6NICNOYVTRSI.jpg"
                 class="img-fluid rounded-start imgActividades "
                 alt="Imagen de Actividades">
        </div>
    </center>
</div>

<!-- Page Footer-->
<footer class="position-absolute bottom-0 bg-darkBlue text-white text-center py-3 w-100 text-xs" id="footer">
    <div class="container-fluid">
        <div class="row gy-2">
            <div class="col-sm-6 text-sm-start">
                <p class="mb-0">Your company &copy; 2017-2021</p>
            </div>
        </div>
    </div>
</footer>

@section Scripts{
    <script>
        $("#predetbb").addClass("active");
    </script>
}
@section CSS{

    <style>
        * {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: large;
        }

        #rowActividades {
            margin: auto;
        }

        .cardActividades {
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            margin-left: 10px;
            margin-top: 3px;
            margin-bottom: 3px;
        }

        .imgContainer {
            align-self: center;
            max-width: 500px;
        }

        .imgActividades {
            align-self: center;
            max-width: 200px;
        }

        .containerActividades {
            font-size: 40px;
            overflow-y: scroll;
            max-height: 80vh;
            align-content: center;
            margin-left: 6px;
            scroll-behavior: smooth;
        }

        .Actividades {
            padding: 5px;
            border: 1px solid #17171746;
        }

        .Actividades:hover {
            background-color: #b6b6b628;
        }

        input {
            border: 0;
        }

        label {
            color: gray;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }
    </style>

}