@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <h2 class="mb-0 p-1">ACTIVIDADES</h2>
    </div>
</div>

<br />

<div class="container">
    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Nuevo</button>
        </div>
        <div class="col-lg-12">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-md dataTables-example" id="example">
                        <thead style="font-size: large;">
                            <tr class="btn-dark">
                                <th scope="col">Descripcion</th>
                                <th scope="col">Precio</th>
                                <th scope="col">IDHotel</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: medium;">
                            <tr>
                                <th class="border-bottom-0" scope="row">Alpinismo</th>
                                <td class="border-bottom-0">400</td>
                                <td class="border-bottom-0">3</td>
                                <td>
                                    <button type="button" class="bx bxs-edit btn btn-light" style="background-color: #F7F5F8; border-color: #EFECF2;"> Editar</button>
                                    | <button type="button" class="bx bx-detail btn btn-light" style="background-color: #E2E3E1;"> Detalles</button>
                                    | <button type="button" class="bx bx-message-square-x btn btn-danger"> Eliminar</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Lecciones de surf</th>
                                <td>400</td>
                                <td>2</td>
                                <td>
                                    <button type="button" class="bx bxs-edit btn btn-light" style="background-color: #F7F5F8; border-color: #EFECF2;"> Editar</button>
                                    | <button type="button" class="bx bx-detail btn btn-light" style="background-color: #E2E3E1;"> Detalles</button>
                                    | <button type="button" class="bx bx-message-square-x btn btn-danger"> Eliminar</button>
                                </td>
                            </tr>
                            <tr>

                                <th scope="row">Nadar con tiburones</th>
                                <td>500</td>
                                <td>1</td>
                                <td>
                                    <button type="button" class="bx bxs-edit btn btn-light" style="background-color: #F7F5F8; border-color: #EFECF2;" data-bs-toggle="modal" data-bs-target="#exampleModal1"> Editar</button>
                                    | <a asp-action="Details" class="bx bx-detail btn btn-light" style="background-color: #E2E3E1;"> Detalles</a>
                                    | <button type="button" class="bx bx-message-square-x btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2"> Eliminar</button>
                                </td>

                              
                            </tr>
                            <tr>
                                <th scope="row">Caminata</th>
                                <td>300</td>
                                <td>4</td>
                                <td>
                                    <button type="button" class="bx bxs-edit btn btn-light" style="background-color: #F7F5F8; border-color: #EFECF2;"> Editar</button>
                                    | <button type="button" class="bx bx-detail btn btn-light" style="background-color: #E2E3E1;"> Detalles</button>
                                    | <button type="button" class="bx bx-message-square-x btn btn-danger"> Eliminar</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Nadar con delfines</th>
                                <td>700</td>
                                <td>5</td>
                                <td>
                                    <button type="button" class="bx bxs-edit btn btn-light" style="background-color: #F7F5F8; border-color: #EFECF2;"> Editar</button>
                                    | <button type="button" class="bx bx-detail btn btn-light" style="background-color: #E2E3E1;"> Detalles</button>
                                    | <button type="button" class="bx bx-message-square-x btn btn-danger"> Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Crear-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Agregar Actividad</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row text-dark">
                        <div class="form-group">
                            <label class="control-label">Descripcion <label class="text-danger">*</label></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class='bx bx-world bx-xl'></i></span>
                                <input type="text" class="form-control bg-white text-dark" maxlength="50" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label">Precio <label class="text-danger">*</label></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class='bx bx-map-alt bx-xl'></i></span>
                                <input type="text" class="form-control bg-white text-dark" maxlength="3" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label">IDHotel <label class="text-danger">*</label></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class='bx bx-map-alt bx-xl'></i></span>
                                <input type="text" class="form-control bg-white text-dark" maxlength="3" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>



<!-- Modal Editar-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Editar Actividad</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row text-dark">
                        <div class="form-group">
                            <br />
                            <label class="control-label">Descripcion <label class="text-danger">*</label></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class='bx bx-world bx-xl'></i></span>
                                <input type="text" class="form-control bg-white text-dark" maxlength="50" required value="Nadar con tiburones">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <br />
                            <label class="control-label">Precio <label class="text-danger">*</label></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class='bx bx-map-alt bx-xl'></i></span>
                                <input type="text" class="form-control bg-white text-dark" maxlength="3" required value="500">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <br />
                            <label class="control-label">IDHotel <label class="text-danger">*</label></label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1"><i class='bx bx-map-alt bx-xl'></i></span>
                                <input type="text" class="form-control bg-white text-dark" maxlength="3" required value="1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>



<!-- Modal Eliminar-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Eliminar actividad</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Eliminar</button>
            </div>
        </div>
    </div>



@section Scripts{
    <script>
        $("#predetbb").addClass("active");
    </script>
}