@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.categoryroomsListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="icon building"></i>
            <div class="content">
                <div class="header">
                    Categoria Habitación
                </div>
            </div>
        </div>

        <br>
        <div class="ui grid mb-3">
            <div class="eight wide column">
                <button id="createCategoryrooms" class="ui small btn-edit text-white labeled icon button"><i class="plus icon"></i>Nuevo</button>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>
        <table id="grdcategorye" class="display ui compact selectable celled table" style="width:100%;">
                <thead>
                    <tr>
                        <th>
                            Descripción
                        </th>

                        <th width="200px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                <a class="ui large icon btn-edit button" id=" Updatecategory" onclick=" Updatecategory(@item.ID)">
                                    <i class="pencil alternate icon icon-crud"></i>
                                </a>
                                <button class="ui large icon btn-delete button" onclick=" DeleteCategoriesRooms(@item.ID)">
                                    <i class="trash alternate icon icon-crud"></i>
                                </button>
                                <a href="@Url.Action("details","CategoriesRooms",new {  id=item.ID})" class="ui large icon button">
                                    <i class="bi bi-info-circle fa-lg icon-crud"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br>
    </div>
</div>
<br>


<br>

<div class="ui modal " id="modalCreate">

    <div class="header">
        Ingresa una categoria de habitacion
    </div>
    <form asp-action="Create" asp-controller="CategoriesRooms" id="createCategoryroomsForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <label class="ui label">Descripción</label>
                    <div class="two fields">
                        <div class="field">
                            <label></label>
                            <input id="category" name="CaHa_Descripcion" placeholder="Descripción del categoria habitacion" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">

        @*<button class="ui button " id="closeCategoryrooms">Cancelar</button>
            <button class="ui button btn-purple text-white" id="sendCategoryrooms" onclick="validar()">Guardar</button>*@

        <button class="ui button btn-edit text-white" id="sendCategoryrooms" onclick="validar()">Guardar</button>
        <button class="ui button" id="closeCategoryrooms">Cancelar</button>
    </div>
</div>


<div class="ui modal" id="modalUpdate">
    <div class="header">
        Actualiza una categoria de habitacion
    </div>
    <form asp-action="Update" asp-controller="CategoriesRooms" id="updateCategoryroomsForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <input name="CaHa_ID" id="CaHa_ID" style="visibility:hidden" />
                <div class="required field">
                    <label class="ui label">Descripción</label>
                    <input name="CaHa_Descripcion" id="CaHa_DescripcionUpdate" />
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        @*<button class="ui button btn-purple text-white" id="sendEditCategoryrooms">Guardar</button>
            <button class="ui button" id="closeEditCategoryrooms">Cancelar</button>*@


        <button class="ui button btn-edit text-white" id="sendEditCategoryrooms">Guardar</button>
        <button class="ui button" id="closeEditCategoryrooms">Cancelar</button>
    </div>
</div>

@section HighlightTile{
    <script>

        $("#HotelModule").addClass("active");
        $("#HotelModule").addClass("expandedList");
        $("#HotelModule").prop("aria-expanded");
        $("#HotelModule").attr("aria-expanded", "true");

        $("#Hotels_Schema").addClass("show");

        $("#CategoriesRoomsTile").addClass("activeTile");
    </script>
}


@section Scripts{
    <script src="~/js/CategoriesRooms/Update.js"></script>
    <script>

        function validar() {
            const userValidateArray = [
                { validateMessage: "Ingrese una categoria '", Jqueryinput: $("#category") }
            ];

            const userValidate = ValidateForm(userValidateArray);

            if (userValidate) {

                var data = categorysroomsViewModel;
                data.CaHa_Descripcion = $("#category").val();

                const response = ajaxRequest(
                    "https://apitotaltravel.azurewebsites.net/API/Categoriesrooms/Insert",
                    data, "POST"
                );
                if (response.code == 200) {
                    window.location.href = '/CategoriesRooms?success=true';
                }
            }
        }
        $("#createCategoryrooms").click(() => {
            $("#modalCreate").modal("show")
        })

        $("#closeCategoryrooms").click(() => {
            $("#modalCreate").modal('hide');
        });
        // ----------------------------------- EVENTS ------------------------------------
        
        $(document).ready(function () {

            var table = $("#grdcategorye").DataTable({
                stateSave: true,
                language: {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                },
                //Aqui se ingresa el numero de columnas que tiene la tabla
                columns: [
                    {},
                    {}
                ],
                order: [[1, 'asc']],
                dom: 'Bfrtip',

                //Son los botones de acciones para exportar
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        text: '<i class= "file pdf icon"></i> Exportar como PDF',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                        exportOptions: {
                            columns: [0, 1]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="file excel icon"></i> Exportar a excel',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2",
                        exportOptions: {
                            columns: [0, 1]
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="file csv icon"></i> Exportar como CSV',
                        className: "btn-primary ui small btn-grey text-purple icon ui button mb-2"
                    },
                ]
            });
        });

        function DeleteCategoriesRooms(id) {
            const CategoriesRooms = () => {
                const result = ajaxRequest("/CategoriesRooms/Delete?id=" + id, null, "POST");
                if (result > 0) {
                    window.location.href = '/CategoriesRooms?success=true';
                }
            };

            sweetAlertconfirm("Estas Seguro de Eliminar el Registro Seleccionado?", "Este registro se borrara permanentemente", "warning", CategoriesRooms);

        };
   

        const params = new URLSearchParams(window.location.search);
        const izziSuccess = params.get("success");

        if (izziSuccess == "true") {
            iziToastAlert(title = "Proceso completado", message = "La acción se ha completado exitosamente.", type = "success");
        }



        var send = false;
    </script>
}