@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.TypesTransportListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container card">
    <div class="ui basic segment">

        <div class="ui icon attached message">
            <i class="bus icon"></i>
            <div class="content">
                <div class="header">
                    Transportes
                </div>

            </div>
        </div>

        <br>
        <div class="ui grid">
            <div class="eight wide column">
                <button id="createTypesTransport" class="ui small primary labeled icon btn-purple button"><i class="user icon"></i>Nuevo</button>
            </div>
            <div class="eight wide column">
                <div class="ui icon input" style="float:right;">
                    <input type="text" placeholder="Search..." id="txtSearch">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <style>
            table thead tr th {
                background-color: #2b2b2b;
                color: white;
            }
        </style>

        <table class="ui compact selectable celled table" id="tabla">
            <thead>
                <tr>
                    <th>
                        Transporte
                    </th>

                    <th width="300px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trasporte)
                        </td>

                        <td>
                            <button class="ui large icon negative button" onclick="Delete(@item.ID)">
                                <i class="trash alternate icon icon-crud"></i>
                            </button>
                            <a href="@Url.Action("Details","TypesTransport",new {  id=item.ID})" class="ui large icon button"><i class="bi bi-info-circle fa-lg icon-crud"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table><br>

    </div>
</div>
<div class="ui modal longer" id="modalCreate">
    <i class="close icon"></i>
    <div class="header">
        Ingresa un tipo de transporte
    </div>
    <form asp-action="Create" asp-controller="TypesTransport" id="createTypesTransportForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <label>Tipo Transporte</label>
                    <div class="two fields">
                        <div class="field">
                            <input id="Transporte" name="TiTr_Descripcion" placeholder="Descripcion del tipo de transporte" />
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatort"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button" id="closeTypesTransport">Cerrar</button>
        <button class="ui button" id="sendTypesTransport" onclick="validar()">Guardar</button>
    </div>
</div>



@section Scripts{
    <script src="~/js/TypesTransport/Create.js"></script>
    <script>
        // ----------------------------------- EVENTS ------------------------------------
        $("#txtSearch").keyup(function () {
            _this = this;
            $.each($("#grdRestaurants tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });

            $("#grdRestaurants").paginationTdA({
                elemPerPage: 5
            });
        });

        $("#grdRestaurants").paginationTdA({
            elemPerPage: 5
        });

        //------------------------------------Funciones------------------------

        function Delete(id) {
            const capsula2 = () => {
                ajaxRequest("/TypesTransport/Delete?id=" + id, null, "POST")
            };

            sweetAlertconfirm("Estas Seguro de Eliminar el Registro Seleccionado?", "Este registro se borrara permanentemente", "warning", capsula2);

        };
    </script>

}
@section HighlightTile{
    <script>
        $("#TransportModule").addClass("active");
        $("#Transport_Schema").addClass("show");
        $("#TransportModule").addClass("expandedList")
    </script>
}