
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-inner w-100">
    <!-- Page Header-->
    <header class="bg-white shadow-sm px-4 py-3 z-index-20">
        <div class="container-fluid px-0">
            <h2 class="mb-0 p-1">Paquetes específicos</h2>
        </div>
    </header>
    <!-- Dashboard Counts Section-->
    <section class="pb-0">
        <div class="container-fluid">
            <div class="row gy-4">

                <!-- Tab links -->
                <div class="tab">
                    <center><H1>Paquetes de Viaje</H1></center>
                </div>

                <!-- Tab content -->
                <div id="Paquetes" class="tabcontent principal" style="padding: 0px;">
                    <div class="containerPaquetes">
                        <div id="rowPaquetes" class="row">
                            @*prueba*@

                            <div class="col-lg-6">
                                <div class="card mb-0">
                                    <div class="Paquetes card mb-3 mt-3">
                                        <div class="row g-0">
                                            <div class="col-md-4 imgContainer">
                                                <img src="https://sites.google.com/site/turismoenhondurasana88/_/rsrc/1472760267327/home/Nueva%20imagen.png"
                                                     class="img-fluid rounded-start imgPaquetes"
                                                     alt="Imagen del Paquetes">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardPaquetes">
                                                    <h3 class="card-title" style="margin-bottom: 15px;">HONDURAS </h3>
                                                    <p class="card-text">
                                                        Incluye:
                                                        Tres tiempos de alimentacion, 3 Noches de alojamiento en un hotel ,Entradas a areas Protegidas,
                                                        Rafting, Charla de introduccion,Traslado hasta lugar del rafting,Guias capacitados
                                                        para las actividades.
                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>
                                                </div>
                                            </div>

                                            <center>
                                                <div class="col-md-5" align="center">
                                                    <br>
                                                    <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                    <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                    <br>
                                                    <b class="text-success" style="font-size: 30px;">$ 00,000.00</b> <br>
                                                    <button class="btn btn-primary w-100">RESERVAR</button>
                                                    <br>
                                                    <br>
                                                </div>
                                            </center>
                                        </div>
                                    </div>



                                    <div class="Paquetes card mb-3 mt-3">
                                        <div class="row g-0">
                                            <div class="col-md-4 imgContainer">
                                                <img src="https://mipaissv.com/wp-content/uploads/2020/07/El-Salvador.jpg"
                                                     class="img-fluid rounded-start imgPaquetes"
                                                     alt="Imagen del Paquetes">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardPaquetes">
                                                    <h3 class="card-title" style="margin-bottom: 15px;">EL SALVADOR</h3>
                                                    <p class="card-text">
                                                        Incluye: Tres noches de alojamiento en hotel,Desayuno,Almuerzo,
                                                        Cena estilo buffet incluido,Bebidas de la casa ilimitadas,Actividades
                                                        de animacion en el dia y noche,Uso de las instalaciones.

                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>
                                                </div>
                                            </div>

                                            <center>
                                                <div class="col-md-5" align="center">
                                                    <br>
                                                    <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                    <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                    <br>
                                                    <b class="text-success" style="font-size: 30px;">$ 00,000.00</b> <br>
                                                    <button class="btn btn-primary w-100">RESERVAR</button>
                                                    <br>
                                                    <br>
                                                </div>
                                            </center>
                                        </div>
                                    </div>

                                    <div class="Paquetes card mb-3 mt-3">
                                        <div class="row g-0">
                                            <div class="col-md-4 imgContainer">
                                                <img src="https://lugaresturisticos365.com/wp-content/uploads/mejores-lugares-turisticos-de-guatemala.jpg"
                                                     class="img-fluid rounded-start imgPaquetes"
                                                     alt="Imagen del Paquetes">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardPaquetes">
                                                    <h3 class="card-title" style="margin-bottom: 15px;">GUATEMALA</h3>
                                                    <p class="card-text">
                                                        Incluye: Alojamiento 4 dias y tres noches,Alimentacion completa tipo buffet,
                                                        Bebidas ilimitadas de todas las marcas,Fiesta en la playa y show de noche,
                                                        Actividades de animacion de dia y de noche.

                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>
                                                </div>
                                            </div>
                                            <center>
                                                <div class="col-md-5" align="center">
                                                    <br>
                                                    <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                    <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                    <br>
                                                    <b class="text-success" style="margin-top: 10px;">$ 00,000.00</b> <br>
                                                    <button class="btn btn-primary w-100">RESERVAR</button>
                                                    <br>
                                                    <br>
                                                </div>
                                            </center>
                                        </div>
                                    </div>

                                    <div class="Paquetes card mb-3 mt-3">
                                        <div class="row g-0">
                                            <div class="col-md-4 imgContainer">
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7xTEGPKYh37TgL3gNBQLDywHBd3eq_VYXyQ&usqp=CAU"
                                                     class="img-fluid rounded-start imgPaquetes"
                                                     alt="Imagen del Paquetes">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardPaquetes">
                                                    <h3 class="card-title" style="margin-bottom: 15px;">MEXICO</h3>
                                                    <p class="card-text">
                                                        Incluye: Tres noches y cautro dias de hospedaje,Coctel de bienvenidad,
                                                        Desayuno gratuito diario,Caminata guiada por senderos,Visita guiada reserva natural,
                                                        Uso libre de las instalaciones.

                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>
                                                </div>
                                            </div>
                                            <center>
                                                <div class="col-md-5" align="center">
                                                    <br>
                                                    <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                    <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                    <br>
                                                    <b class="text-success" style="font-size: 30px;">$ 00,000.00</b> <br>
                                                    <button class="btn btn-primary w-100">RESERVAR</button>
                                                    <br>
                                                    <br>
                                                </div>
                                            </center>
                                        </div>
                                    </div>

                                    <div class="Paquetes card mb-3 mt-3">
                                        <div class="row g-0">
                                            <div class="col-md-4 imgContainer">
                                                <img src="https://lugaresturisticos365.com/wp-content/uploads/mejores-lugares-turisticos-de-argentina.jpg"
                                                     class="img-fluid rounded-start imgPaquetes"
                                                     alt="Imagen del Paquetes">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardPaquetes">
                                                    <h3 class="card-title" style="margin-bottom: 15px;">ARGENTINA</h3>
                                                    <p class="card-text">
                                                        Incluye: Hospedaje maximo de 4 personas,Desayuno tipico,
                                                        Coctel de bienvenidad,Caminata guiada,Dos noches de espectaculo
                                                        Uso libre de las instalaciones,Uso libre del bar.
                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>
                                                </div>
                                            </div>

                                            <center>
                                                <div class="col-md-5" align="center">
                                                    <br>
                                                    <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                    <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                    <br>
                                                    <b class="text-success" style="font-size: 30px;">$ 00,000.00</b> <br>
                                                    <button class="btn btn-primary w-100">RESERVAR</button>
                                                    <br>
                                                    <br>
                                                </div>
                                            </center>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            @*segundacolumna*@
                            @*<div class="container-fluid">
                                <div class="row gy-4">*@
                            <div class="col-lg-6">
                                <div class="card mb-0">


                                    <div class="Paquetes card mb-3 mt-3">
                                        <div class="row g-0">
                                            <div class="col-md-4 imgContainer">
                                                <img src="https://www.caracteristicas.co/wp-content/uploads/2018/09/Inglaterra-1-e1579225431994.jpg"
                                                     class="img-fluid rounded-start imgPaquetes"
                                                     alt="Imagen del Paquetes">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardPaquetes">
                                                    <h3 class="card-title" style="margin-bottom: 15px;">INGLATERRA </h3>
                                                    <p class="card-text">
                                                        Incluye:
                                                        Tres tiempos de alimentacion, 3 Noches de alojamiento en un hotel ,Entradas a areas Protegidas,
                                                        Rafting, Charla de introduccion,Traslado hasta lugar del rafting,Guias capacitados
                                                        para las actividades.
                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>
                                                </div>
                                            </div>

                                            <center>
                                                <div class="col-md-5" align="center">
                                                    <br>
                                                    <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                    <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                    <br>
                                                    <b class="text-success" style="font-size: 30px;">$ 00,000.00</b> <br>
                                                    <button class="btn btn-primary w-100">RESERVAR</button>
                                                    <br>
                                                    <br>
                                                </div>
                                            </center>
                                        </div>
                                    </div>



                                    <div class="Paquetes card mb-3 mt-3">
                                        <div class="row g-0">
                                            <div class="col-md-4 imgContainer">
                                                <img src="https://media.istockphoto.com/photos/aerial-view-of-famous-victoria-falls-zimbabwe-and-zambia-picture-id1081365424?b=1&k=20&m=1081365424&s=170667a&w=0&h=Vt91q703ipqLjceT3pvm2s-a5NAkjqIAKJ_ePfRJ9hk="
                                                     class="img-fluid rounded-start imgPaquetes"
                                                     alt="Imagen del Paquetes">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardPaquetes">
                                                    <h3 class="card-title" style="margin-bottom: 15px;">ZAMBIA</h3>
                                                    <p class="card-text">
                                                        Incluye: Tres noches de alojamiento en hotel,Desayuno,Almuerzo,
                                                        Cena estilo buffet incluido,Bebidas de la casa ilimitadas,Actividades
                                                        de animacion en el dia y noche,Uso de las instalaciones.

                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>
                                                </div>
                                            </div>
                                            <center>
                                                <div class="col-md-5" align="center">
                                                    <br>
                                                    <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                    <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                    <br>
                                                    <b class="text-success" style="font-size: 30px;">$ 00,000.00</b> <br>
                                                    <button class="btn btn-primary w-100">RESERVAR</button>
                                                    <br>
                                                    <br>
                                                </div>
                                            </center>
                                        </div>
                                    </div>

                                    <div class="Paquetes card mb-3 mt-3">
                                        <div class="row g-0">
                                            <div class="col-md-4 imgContainer">
                                                <img src="https://image.shutterstock.com/image-photo/montego-bayjamaica-july-2019-large-260nw-1230607144.jpg"
                                                     class="img-fluid rounded-start imgPaquetes"
                                                     alt="Imagen del Paquetes">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardPaquetes">
                                                    <h3 class="card-title" style="margin-bottom: 15px;">JAMAICA</h3>
                                                    <p class="card-text">
                                                        Incluye: Alojamiento 4 dias y tres noches,Alimentacion completa tipo buffet,
                                                        Bebidas ilimitadas de todas las marcas,Fiesta en la playa y show de noche,
                                                        Actividades de animacion de dia y de noche.

                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>
                                                </div>
                                            </div>
                                            <center>
                                                <div class="col-md-5" align="center">
                                                    <br>
                                                    <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                    <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                    <br>
                                                    <b class="text-success" style="font-size: 30px;">$ 00,000.00</b> <br>
                                                    <button class="btn btn-primary w-100">RESERVAR</button>
                                                    <br>
                                                    <br>
                                                </div>
                                            </center>
                                        </div>
                                    </div>

                                    <div class="Paquetes card mb-3 mt-3">
                                        <div class="row g-0">
                                            <div class="col-md-4 imgContainer">
                                                <img src="https://media.istockphoto.com/photos/ait-benhaddou-ancient-city-in-morocco-north-africa-picture-id982105760?k=20&m=982105760&s=612x612&w=0&h=gheGJi_2vF29VX1VZ6lTf8IIPrPk8Nc2FkAl6AE94Hc="
                                                     class="img-fluid rounded-start imgPaquetes"
                                                     alt="Imagen del Paquetes">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardPaquetes">
                                                    <h3 class="card-title" style="margin-bottom: 15px;">MARRUECOS</h3>
                                                    <p class="card-text">
                                                        Incluye: Tres noches y cautro dias de hospedaje,Coctel de bienvenidad,
                                                        Desayuno gratuito diario,Caminata guiada por senderos,Visita guiada reserva natural,
                                                        Uso libre de las instalaciones.

                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>
                                                </div>
                                            </div>

                                            <center>
                                                <div class="col-md-5" align="center">
                                                    <br>
                                                    <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                    <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                    <br>
                                                    <b class="text-success" style="font-size: 30px;">$ 00,000.00</b> <br>
                                                    <button class="btn btn-primary w-100">RESERVAR</button>
                                                    <br>
                                                    <br>
                                                </div>
                                            </center>
                                        </div>
                                    </div>

                                    <div class="Paquetes card mb-3 mt-3">
                                        <div class="row g-0">
                                            <div class="col-md-4 imgContainer">
                                                <img src="https://againstthecompass.com/wp-content/uploads/2018/02/is-pakistan-safe-to-visit.jpg"
                                                     class="img-fluid rounded-start imgPaquetes"
                                                     alt="Imagen del Paquetes">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body cardPaquetes">
                                                    <h3 class="card-title" style="margin-bottom: 15px;">PAKISTAN</h3>
                                                    <p class="card-text">
                                                        Incluye: Hospedaje maximo de 4 personas,Desayuno tipico,
                                                        Coctel de bienvenidad,Caminata guiada,Dos noches de espectaculo
                                                        Uso libre de las instalaciones,Uso libre del bar.
                                                    </p>
                                                    <p class="card-text"><small class="text-muted"></small></p>
                                                </div>
                                            </div>

                                            <center>
                                                <div class="col-md-5" align="center">
                                                    <br>
                                                    <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                                    <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                                    <br>
                                                    <b class="text-success" style="font-size: 30px;">$ 00,000.00</b> <br>
                                                    <button class="btn btn-primary w-100">RESERVAR</button>
                                                    <br>
                                                    <br>
                                                </div>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*</div>
                                </ul>*@
                            @*</div>*@
                        </div>

                        @*cierra segundo bloque*@
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="col-md-12">
    <div class="card-body cardPaquetes">
        <h3 class="card-title" style="margin-bottom: 15px;">¿Por qué comprar paquetes de viaje?</h3>
        <p class="card-text">
            Al comprar tus paquetes turísticos puedes conseguir un valor más bajo en tu viaje, ya que al sumar
            un alojamiento o un auto, obtienes un descuento significativo. ¡Comprar paquetes de viaje siempre
            te va a resultar más barato! Puedes armar tu paquete a medida, ahorrar en el valor total y gastar
            ese dinero en tu viaje. ¡Aprovecha viajes baratos a un sinfín de destinos!
        </p>
        <p class="card-text"><small class="text-muted"></small></p>
    </div>
</div>
    </section>
<!-- Page Footer-->
<footer class="position-absolute bottom-0 bg-darkBlue text-white text-center py-3 w-100 text-xs" id="footer">
    <div class="container-fluid">
        <div class="row gy-2">
            <div class="col-sm-6 text-sm-start">
                <p class="mb-0">Your company &copy; 2017-2021</p>
            </div>
        </div>
    </div>
</footer>

@section Scripts{
    <script>
        $("#predetb").addClass("active");
    </script>
}
@section CSS{

    <style>
        * {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: large;
        }

        #rowPaquetes {
            margin: auto;
        }

        .cardPaquetes {
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            margin-left: 10px;
            margin-top: 3px;
            margin-bottom: 3px;
        }

        .imgContainer {
            align-self: center;
            max-width: 500px;
        }

        .imgPaquetes {
            border-radius: 15%;
            align-self: center;
        }

        .containerPaquetes {
            overflow-y: scroll;
            max-height: 80vh;
            align-content: center;
            margin-left: 6px;
            scroll-behavior: smooth;
        }

        .Paquetes {
            width: 99%;
            padding: 5px;
            border: 1px solid #17171746;
        }

            .Paquetes:hover {
                background-color: #b6b6b628;
            }

        input {
            border: 0;
        }

        label {
            color: gray;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }
    </style>

}


