@model AHM_TOTAL_TRAVEL_WEB.Models.ActivitiesExtrasViewModel

@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div id="frmCreateActivityExtra">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon bicycle"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear Actividad
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "ModulePartnersActivities")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <form>
                <div class="ui form attached fluid segment">
                    <div class="content">
                        <div class="field">
                            <div class=" two fields">
                                <input id="Part_ID" class="desaparezco" value="@ViewData["partnerID"]" />
                                <div class="required field">
                                    <label class="ui label">Actividad</label>
                                    <select id="Actv_ID" class="ui dropdown search" asp-items="ViewBag.Actv_ID">
                                        <option value="">Seleccione una actividad</option>
                                    </select>
                                </div>
                                <div class="required field">
                                    <label class="ui label">Descripción</label>
                                    <input id="AcEx_Descripcion" name="AcEx_Descripcion" placeholder="Ingrese la descripción de la actividad" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Precio</label>
                                    <div class="ui labeled input">
                                        <label for="amount" class="ui label">L</label>
                                        <input type="number" id="AcEx_Precio" name="AcEx_Precio" placeholder="Ingrese el precio" step="0.01" min="1" />
                                    </div>
                                </div>
                                <div class="required field">
                                    <label class="ui label">País</label>
                                    <select id="Count_ID" class="ui dropdown search" asp-items="ViewBag.Count_ID">
                                        <option value="">Seleccione un país</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Ciudad</label>
                                    <select id="City_ID" class="ui dropdown search"><option value="">Seleccione una ciudad</option></select>
                                </div>
                                <div class="required field">
                                    <label class="ui label">Colonia</label>
                                    <select id="Subu_ID" class="ui dropdown search"><option value="">Seleccione una colonia</option></select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Calle</label>
                                    <input type="number" min="1" id="Calle" placeholder="Ingrese la calle" />
                                </div>
                                <div class="required field">
                                    <label class="ui label">Avenida</label>
                                    <input id="Avenida" placeholder="Ingrese la avenida" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="field">
                                <label>Imagen</label>
                                <input id="Imagen" type="file" class="form-control" />
                            </div>
                        </div>
                        <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorError"></span>

                        <input type="button" id="btnGuardarActvExtra" onclick="CreateActividad()" value="Guardar" class="btn btn-edit ui positive button" />
                        <a type="button" href="@Url.Action("Index", "ModulePartnersActivities")" class="ui button mb-3 ms-3">Cancelar</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/ModulePartnesActivities/Create.js"></script>
    <script>$('.desaparezco').hide();</script>
}