@model AHM_TOTAL_TRAVEL_WEB.Models.ActivitiesExtrasListViewModel

@{
    ViewData["Title"] = "Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{
    <style>
        .titulo {
            position: absolute;
            top: 0;
            width: 100%;
            background: rgb(238,245,249);
            background: linear-gradient(0deg, rgba(238,245,249,1) 4%, rgba(203,191,252,1) 24%, rgba(139,105,184,1) 60%, rgba(109,73,157,1) 100%);
            color: #fff;
            height: 40%;
        }

        #imagen {
            height: 230px !important;
            object-fit: cover;
        }

        .h1 {
            margin-top: 2% !important;
            margin-left: 2% !important;
            color: white;
        }

        .container {
            max-width: 95% !important;
            margin: -5.150em 1.5em !important;
            top: 0;
            background-color: #f4fafd;
        }

        .ui.segment {
            margin: 5.125em 1.5em;
            max-width: 95%;
        }

        #a {
            text-decoration: none;
            margin: auto;
        }

        .ui.search.dropdown {
            min-width: 40% !important;
        }

        .ui.cards > .card {
            margin: 1.875em 1.5em !important;
        }
    </style>
}

<div class="titulo">
    <h1 id="tipoactividadtext" class="h1">TODOS</h1>
</div>
<div class="ui clearing segment">
    <div class="ui grid">
        <div class="eight wide column">
            <select id="Tipo_Actividad" class="ui dropdown search" asp-items="ViewBag.TiAc_ID">
                <option value="0">Todos</option>
            </select>
        </div>
        <div class="eight wide column">
            <a class="ui small btn-edit text-white labeled icon button" id="createTypesActivities" style="float:right">
                <i class="plus icon"></i> Agregar tipo de actividad
            </a>
            <a class="ui small btn-edit text-white labeled icon button" id="agregar" style="float:right" href="@Url.Action("Create", "ModulePartnersActivities")">
                <i class="plus icon"></i> Agregar actividad
            </a>
        </div>
    </div>
</div>
<div class="container card">
    <div class="ui cards centered" id="actividadesContainer">
    </div>
</div>

<br />
<br />

<!--MODAL CREATE TIPO DE ACTIVIDAD-->
<div class="ui modal longer" id="modalCreate">
    <div class="header">
        Ingresa un tipo de actividad
    </div>
    <form asp-action="CreateTypeActivities" asp-controller="ModulePartnersActivities" id="createTypesActivitiesForm">
        <div class="ui form attached fluid segment">
            <div class="content">
                <div class="required field">
                    <div class="field">
                        <div class="required field">
                            <label>Tipo de actividad</label>
                            <input name="TiAc_Descripcion" id="TiAc_Descripcion" class="form-control" placeholder="Ingrese una descripción" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actions">
        <button class="ui button btn-edit text-white" id="sendTypeActivities">Guardar</button>
        <button class="ui button" id="close">Cancelar</button>
    </div>
</div>

@section Scripts{

    <script>
        const PartnerID = "@ViewData["partnerID"]";
    </script>

    <script src="~/js/ModulePartnesActivities/Actividades.js"></script>
    <script src="~/js/ModulePartnesActivities/Create.js"></script>

    <script>

        //$('select.dropdown')
        //    .dropdown()
        //    ;

        $('.special.card .image').dimmer({
            on: 'hover'
        });

        const success = FindGetValue("success");

        if (success) {
            iziToastAlert("Proceso completado", "La acción se ha completado exitosamente.", "success")
        }

    </script>

    <script>
        function EliminarActividad(id) {
            const capsula1 = () => {
                var response = ajaxRequest("ModulePartnersActivities/Delete?id=" + id, null, "POST");
                if (response > 0) {
                    window.location.href = '/ModulePartnersActivities?success=true';
                }
            };
            sweetAlertconfirm("¿Seguro de eliminar esta actividad?", "Esta actividad se borrará permanentemente.", "warning", capsula1);
        };
    </script>
}

@section HighlightTile{
    <script>
        $("#ActivitiesTile").addClass("activeTile");
    </script>
}