
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <h2 class="mb-0 p-1">Reportes</h2>
    </div>
</header>
<!-- Dashboard Counts Section-->
<section class="pb-0">
    <div class="container-fluid">
        <div class="row align-items-stretch">
            <div class="container-fluid">
                <div class="row">

                    <!-- inicio columna contenedora -->
                    <div class="col-12">
                        <br>
                        <div class="btn-group" role="group">
                            <div class="btn-group" role="group">

                                <!-- dropdown de filtros de reportes -->
                                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" id="cbbReportes">
                                    Reporte de:  <b id="lblReport">Hoteles</b>
                                </button>
                                <!-- elementos de dropdown -->
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript: GetReport('ConciertoReport','concierto')">Hoteles</a></li>
                                    <li><a class="dropdown-item" href="javascript: GetReport('ClientReport','cliente')">Actividades</a></li>
                                    <li><a class="dropdown-item" href="javascript: GetReport('SalesReport','venta')">Restaurantes</a></li>
                                </ul>

                            </div>
                        </div>
                        <br><br>

                        <div class="card">
                            <div class="card card-body" style="height:125vh; width:150vh;">

                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <!-- dropdown de filtros de reporte -->
                                    <div class="btn-group" role="group" id="cbbFiltro">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                            Filtrar por:  <b id="lblfiltro">TODOS</b>
                                        </button>
                                        <!-- elementos de dropdown -->
                                        <ul class="dropdown-menu" id="cbbFiltro-body">
                                            <li><a class="dropdown-item" href="javascript: filterReport('CONCIERTOS')">Reservaciones Hoteles</a></li>
                                            <li><a class="dropdown-item" href="javascript: filtrar('ARTISTAS')">Reservaciones Actividades</a></li>
                                            <li><a class="dropdown-item" href="javascript: filtrar('ESTABLECIMIENTOS')">Restaurantes</a></li>
                                        </ul>
                                    </div>
                                    <!-- dropdown de filtros de reporte -->
                                    <select id="cbbRouteValue" class="form-select bg-white text-dark" style="border-radius:0px;">
                                        <option selected>Selecione un filtro</option>
                                    </select>

                                    <!-- boton trigger de filtro -->
                                    <button id="btnFiltro" type="button" class="btn btn-primary">Filtrar</button>
                                </div><br>

                                <iframe src="../assets/img/Reporte.jpg" width="100%" height="100%" style="border:1px solid black;">
                                </iframe>

                            </div>
                        </div>
                    </div>
                    <!-- fin columna contenedora -->

                </div>
            </div>

        </div>
    </div>
</section>

<!-- Page Footer-->
<footer class="position-absolute bottom-0 bg-darkBlue text-white text-center py-3 w-100 text-xs" id="footer">
    <div class="container-fluid">
        <div class="row gy-2">
            <div class="col-sm-6 text-sm-start">
                <p class="mb-0">Your company &copy; 2017-2021</p>
            </div>
            <div class="col-sm-6 text-sm-end">
                <p class="mb-0">Design by <a href="https://bootstrapious.com/p/admin-template" class="text-white text-decoration-none">Bootstrapious</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</footer>
@section Scripts{
    <script>
        $("#homenb").addClass("active");
    </script>
}



