@model AHM_TOTAL_TRAVEL_WEB.Models.TransportViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon bus"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear un Transporte
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "Transport")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <form>
                <div class="ui form attached fluid segment">
                    <div class="content">
                        @{
                            string usersRole = Context.Session.GetString("Role");
                            if (usersRole == "Administrador")
                            {
                                <div class="field">
                                    <div class="two fields">
                                        <div class="required field">
                                            <label class="ui label">Nombre</label>
                                            <input id="Tprt_Nombre" placeholder="Agrega un nombre" />
                                        </div>
                                        <div class="required field">
                                            <label class="ui label">Socio</label>
                                            <select id="Part_ID" class="ui dropdown search" asp-items="ViewBag.Part_ID">
                                                <option value="">Seleccione un socio</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="field" id="DD_TiTr_ID" hidden>
                                    <div class="required field">
                                        <label class="ui label">Tipo transporte</label>
                                        <select id="TiTr_ID" class="ui dropdown " asp-items="ViewBag.TiTr_ID">
                                            <option value="">Seleccione un tipo de transporte</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="field">
                                    <div class="two fields">
                                        <div class="required field">
                                            <label class="ui label">Nombre</label>
                                            <input id="Tprt_Nombre" name="Tprt_Nombre" placeholder="Agrega un nombre" />
                                        </div>
                                        <div class="required field">
                                            <label class="ui label">Tipo transporte</label>
                                            <select id="TiTr_ID" class="ui dropdown search" asp-items="ViewBag.TiTr_ID">
                                                <option value="">Seleccione un tipo de transporte</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="required field" hidden>
                                        <label class="ui label">Socio</label>
                                        <select id="Part_ID" class="ui dropdown search" asp-items="ViewBag.Part_ID">
                                            <option value="">Seleccione un socio</option>
                                        </select>
                                    </div>
                                </div>
                            }
                        }
                        <br>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">País</label>
                                    <select id="Count_ID" class="ui dropdown search" asp-items="ViewBag.Count_ID">
                                        <option value="">Seleccione un país</option>
                                    </select>
                                </div>
                                <div class="required field">
                                    <label class="ui label">Ciudad</label>
                                    <select id="City_ID" class="ui dropdown search"><option value="">Seleccione una ciudad</option></select>
                                </div>
                            </div>
                        </div>

                        <div class="required field">
                            <label class="ui label">Colonia</label>
                            <select id="Subu_ID" class="ui dropdown search"><option value="">Seleccione una colonia</option></select>
                        </div>

                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Calle</label>
                                    <input id="Calle" placeholder="Calle" />
                                </div>
                                <div class="required field">
                                    <label class="ui label">Avenida</label>
                                    <input id="Avenida" placeholder="Avenida" />
                                </div>
                            </div>
                        </div>
                        <input type="button" value="Guardar" onclick="createTransport()" class="btn btn-edit ui positive button" />
                        <a type="button" href="@Url.Action("Index", "Transport")" class="ui button mb-3 ms-3">Cancelar</a>
                    </div>
                </div>
                <div class="ui negative message bottom attached" id="errorDiv">
                    <div class="header">
                        Ha ocurrido un error al realizar la operación.
                    </div>
                    <p>

                    </p>
                </div>
            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>

@section HighlightTile{
    <script>
        $("#TransportModule").addClass("active");
        $("#Transport_Schema").addClass("show");
        $("#TransportModule").addClass("expandedList")

        $("#TransportModule").prop("aria-expanded");
        $("#TransportModule").attr("aria-expanded", "true");


        $("#TransportTile").addClass("activeTile");
    </script>
}

@section Scripts {

    <script src="~/js/TransportJs/Create.js"></script>
    <script>
        $("#menu_item_125").addClass("activeTile");
    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}