@model AHM_TOTAL_TRAVEL_WEB.Models.TransportViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon bus"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear
                    </div>
                    <p>Ingresa un nuevo transporte.</p>
                </div>
            </div>

            <form>
                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label>Partner</label>
                                    <select id="Part_ID" class="ui dropdown search" asp-items="ViewBag.Part_ID">
                                        <option value="">Seleccione un partner</option>
                                    </select>
                                    <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPartner"></label>
                                </div>
                                <div class="field">
                                    <label>Tipo transporte</label>
                                    <select id="TiTr_ID" class="ui dropdown search" asp-items="ViewBag.TiTr_ID">
                                        <option value="">Seleccione un tipo de transporte</option>
                                    </select>
                                    <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorTipoTransporte"></label>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label>País</label>
                                    <select id="Count_ID" class="ui dropdown search" asp-items="ViewBag.Count_ID">
                                        <option value="">Seleccione un país</option>
                                    </select>
                                    <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPais"></label>
                                </div>
                                <div class="field">
                                    <label>Ciudad</label>
                                    <select id="City_ID" class="ui dropdown search"><option value="">Seleccione una ciudad</option></select>
                                    <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorCiudad"></label>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label>Colonia</label>
                            <input id="Colonia" placeholder="Colonia" />
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorCol"></label>
                        </div>

                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label>Calle</label>
                                    <input id="Calle" placeholder="Calle" />
                                    <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorCalle"></label>
                                </div>
                                <div class="field">
                                    <label>Avenida</label>
                                    <input id="Avenida" placeholder="Avenida" />
                                    <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorAve"></label>
                                </div>
                            </div>
                        </div>
                        <input type="button" value="Crear" onclick="createTransport()" class="btn btn-primary ui positive button" />
                    </div>
                </div>
                <div class="ui negative message bottom attached" id="errorDiv">
                    <div class="header">
                        An error has occurred while performing the operation.
                    </div>
                    <p>

                    </p>
                </div>
            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/TransportJs/Create.js"></script>
    <script src="~/js/TransportJs/SelectCiudades.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}