
@{
    ViewData["Title"] = "ClientsReportPDF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{
    <style>

        #a {
            margin: -3.150em .0em !important;
        }
    </style>
}
<h1>Reporte Clientes</h1>
@try
{
    <div class="container-fluid">
        <div class="row">

            <!-- inicio columna contenedora -->
            <div class="col-10" style="margin: auto">
                <div class="ui segment form">
                    <div class="fields two">
                        <div class="field">
                            <label>Escoge un filtro</label>
                            <select class="ui dropdown search" id="cbbFiltro">
                            </select>
                        </div>
                        <div class="field">
                            <label>Seleccione una opción</label>
                            <select class="ui dropdown search" id="cbbValor">
                                <option value="">Seleccione una opción</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="ui segment form">
                    <a href="@Url.Action("ExportPDF", "Report", new ReportCreationModel{DataSourceIndex= 5, HTMLFile = "ClientsReportHTML"} )" class="ui button icon">PDF <i class="file pdf icon"></i></a>
                    <a href="@Url.Action("ClientsReportXLS", "Report", new ReportCreationModel{DataSourceIndex= 5, HTMLFile = "ClientsReportXLS"} )" class="ui button icon">Excel <i class="file excel icon"></i> </a>

                </div>
                <br>
                <br>

                <div class="card" id="a">
                    <div class="card card-body">

                        <iframe src="" frameborder="0" height="650" id="ifrReport"></iframe>

                    </div>
                </div>
            </div>
            <!-- fin columna contenedora -->

        </div>
    </div>
}
catch (Exception)
{
<script>location.assign("@Url.Action("Error", "Home")");</script>}

@section HighlightTile{
    <script>

        $("#ReportModule").addClass("active");
        $("#ReportModule").addClass("expandedList");
        $("#ReportModule").prop("aria-expanded");
        $("#ReportModule").attr("aria-expanded", "true");

        $("#Report_Schema").addClass("show");

        $("#ClientsReportTile").addClass("activeTile");
    </script>
}


@section Scripts{

    <script>
        const action = "ClientsReportPDF";
        const DataSourceIndex = 5;
        var HMTLFile = "ClientsReportHTML";
    </script>

    <script src="~/js/Reports/Reports.js"></script>
    <script>
        $(document).ready(function () {

            var reportParameter = reportCreation;
            reportParameter.ReportName = "ReporteClientesPDF";
            reportParameter.HTMLFile = HMTLFile;
            reportParameter.DataSourceIndex = DataSourceIndex;
            fillIFrame(reportParameter);
        });
    </script>
}

