
@{
    ViewData["Title"] = "IndexClientesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
@try
{
    <div id="frmClientReports" class="container ui segment">


        <div class="ui floating dropdown labeled search icon button" id="cbbSexo">
            <i class="filter icon"></i>
            <span class="text">Filtrar por sexo</span>
            <div class="menu">
                <div class="header">
                    <i class="tags icon"></i> Filter by tag
                </div>
                <div class="item" data-value="0">Todos</div>
                <div class="item" data-value="Femenino">Femenino</div>
                <div class="item" data-value="Masculino">Masculino</div>
            </div>
        </div>

        <input type="text" name="txtEdad" id="txtEdad" />



        <button class="ui positive button" onclick="REPORTS_FUNCTIONS.getReport_client(true)">FILTRAR REPORTE</button>
        <button class="ui positive button" onclick="REPORTS_FUNCTIONS.getReport_client(false)">TRAER TODOS</button>
        <a href="@Url.Action("ClientsReportXLS", "Report", new ReportCreationModel{DataSourceIndex= 6, HTMLFile = "ClientsReportXLS"} )" class="ui button icon">Excel <i class="file excel icon"></i> </a>

        <div class="ui segment">
            <iframe id="ifrReport" src="" frameborder="0" width="100%" height="680px"></iframe>
        </div>
    </div>
}
catch (Exception)
{
    <script>location.assign("@Url.Action("Error", "Home")");</script>
}
@section Scripts{

    <script>
        $(".ui.dropdown").dropdown();
    </script>

    <script>
        const REPORTS_FUNCTIONS = {
            getReport_client: function (parameter = false) {
                var query = {

                    parameters: {},
                    user_name: Client_User_Name

                };
                query.parameters.role_ID = 2;
                if (parameter) {


                    if ($("#cbbSexo .item.selected").length > 0 && $("#cbbSexo .item.selected").attr("data-value") != 0) {
                        var id_Sexo = $("#cbbSexo .item.selected").attr("data-value");
                        query.parameters.sexo = id_Sexo;
                    }
                    else {

                        delete query.parameters["sexo"];
                    }
                    if ($("#txtEdad").val() != 0) {
                        const regex = "[0-9-]+$";
                        const edad = $("#txtEdad").val();
                        if (edad.match(regex) != null) {

                            query.parameters.edad = edad;
                        }
                        else {
                            iziToastAlert("formato incorrecto. Seria 21-30", "", "error");
                        }
                    }
                }
                $('#frmClientReports #ifrReport').attr('src', `https://totaltravelfileservices.yourgreatbusinesscenter.com/PDFs/Users_report_pdf.php?query=${JSON.stringify(query)}`);
            },
        }
        REPORTS_FUNCTIONS.getReport_client(false);
    </script>
}