@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.PaymentRecordListViewModel>

@{
    ViewData["Title"] = "RecordPaymentReport";
}
@section CSS{
    <style>

        #a {
            margin: -3.150em .0em !important;
        }
    </style>
}
<h1>Reporte Registros Pagos</h1>
@try
{
    <div class="container-fluid">
        <div class="row">

            <!-- inicio columna contenedora -->
            <div class="col-10" style="margin: auto">
                <br>

                <div class="ui segment form">
                    <div class="fields two">
                        <div class="field">
                            <label>Escoge un filtro</label>
                            <select class="ui dropdown search" id="cbbFiltro">
                            </select>
                        </div>
                        <div class="field">
                            <label>Seleccione una opción</label>
                            <select class="ui dropdown search" id="cbbValor">
                                <option value="">Seleccione una opción</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Seleccione una opción</label>
                            <div class="ui calendar" id="standard_calendar">
                                <div class="ui input action">
                                    <input id="txtValor" type="text" placeholder="Fecha">
                                    <button class="ui button" id="filtrar">Filtrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment form">
                    <a href="@Url.Action("ExportPDF", "Report", new ReportCreationModel{DataSourceIndex= 7, HTMLFile = "RecordPaymentReportHTML"} )" class="ui button icon">PDF <i class="file pdf icon"></i></a>
                    <a href="@Url.Action("RecordPaymentReportXLS", "Report", new ReportCreationModel{DataSourceIndex= 7, HTMLFile = "RecordPaymentReportXLS"} )" class="ui button icon">Excel <i class="file excel icon"></i> </a>

                </div>
                <br>
                <br>
                <div class="card" id="a">
                    <div class="card card-body">

                        <iframe src="" frameborder="0" height="650" id="ifrReport"></iframe>

                    </div>
                </div>
            </div>
            <!-- fin columna contenedora -->

        </div>
    </div>
}
catch (Exception)
{
    <script>location.assign("@Url.Action("Error", "Home")");</script>
}

@section HighlightTile{
    <script>
        highlightTile();
    </script>
}


@section Scripts{

    <script>
        const action = "RecordPaymentReportPDF";
        const DataSourceIndex = 7;
        var HMTLFile = "RecordPaymentReportHTML";
    </script>

    <script src="~/js/Reports/Reports.js"></script>
    <script>
        $(document).ready(function () {

            var reportParameter = reportCreation;
            reportParameter.ReportName = "ReporteRegistrosPagosPDF";
            reportParameter.HTMLFile = HMTLFile;
            reportParameter.DataSourceIndex = DataSourceIndex;
            fillIFrame(reportParameter);
        });
    </script>
}










