
@{
    ViewData["Title"] = "TransportReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS{
    <style>

        #a {
            margin: -3.150em .0em !important;
        }
    </style>
}
<h1>Reporte Transportes</h1>

<div class="container-fluid">
    <div class="row">

        <!-- inicio columna contenedora -->
        <div class="col-10" style="margin: auto">
            <br>

            <div class="ui segment form">
                <div class="fields two">
                    <div class="field">
                        <label>Escoge un filtro</label>
                        <select class="ui dropdown search" id="cbbFiltro">
                        </select>
                    </div>
                    <div class="field">
                        <label>Seleccione una opción</label>
                        <select class="ui dropdown search" id="cbbValor">
                            <option value="">Seleccione una opción</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="ui segment form">
                <a href="@Url.Action("TransportReportPDF", "Report", new { ReportTiype = "1" })" class="ui button icon">PDF <i class="file pdf icon"></i></a>
                <a href="@Url.Action("TransportReportPDF", "Report",new { ReportTiype="2"})" class="ui button icon">Excel <i class="file excel icon"></i> </a>

            </div>
            <br>
            <br>
            <div class="card" id="a">
                <div class="card card-body">


                    <iframe src="@Url.Action("TransportReportPDF", "Report",new { ReportTiype="1"} )" frameborder="0" height="650" id="ifrReport"></iframe>

                </div>
            </div>
        </div>
        <!-- fin columna contenedora -->

    </div>
</div>


@section HighlightTile{
    <script>

        $("#ReportModule").addClass("active");
        $("#ReportModule").addClass("expandedList");
        $("#ReportModule").prop("aria-expanded");
        $("#ReportModule").attr("aria-expanded", "true");

        $("#Report_Schema").addClass("show");

        $("#ReportTile").addClass("activeTile");
    </script>
}


@section Scripts{

    <script>
        const action = "TransportReportPDF";
    </script>

    <script src="~/js/Reports/Reports.js"></script>
}

