
@{
    ViewData["Title"] = "TransportReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TransportReport</h1>
<div class="container-fluid">
    <div class="card">
        <div class="card card-body">
            <iframe src="@Url.Action("TransportReport", "Report")  " frameborder="0" height="500" id="ifrReport"></iframe>
        </div>
    </div>
</div>


@section HighlightTile{
    <script>

        $("#ReportModule").addClass("active");
        $("#ReportModule").addClass("expandedList");
        $("#ReportModule").prop("aria-expanded");
        $("#ReportModule").attr("aria-expanded", "true");

        $("#Report_Schema").addClass("show");

        $("#ReportTile").addClass("activeTile");
    </script>
}