@model AHM_TOTAL_TRAVEL_WEB.Models.ActivitiesExtrasViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateActivityExtra">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon bicycle"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear Actividad Extra
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "ActivitiesExtra")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <!-- formulario-->
            <form>

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">
                            <div class=" two fields">
                                <div class="required field">
                                    <label>Socio</label>
                                    <select id="Part_ID" class="ui dropdown search" asp-items="ViewBag.Part_ID">
                                        <option value="">Seleccione un partner</option>
                                    </select>
                                    <span class="labelvalidator" id="labelvalidatorPartner"></span>
                                </div>
                                <div class="required field">
                                    <label>Actividad</label>
                                    <select id="Actv_ID" class="ui dropdown search" asp-items="ViewBag.Actv_ID">
                                        <option value="">Seleccione una actividad</option>
                                    </select>
                                    <span class="labelvalidator" id="labelvalidatorActividad"></span>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Precio</label>
                                    <input id="acEx_Precio" name="acEx_Precio" placeholder="Precio" />
                                    <span class="labelvalidator" id="labelvalidatorPrecio"></span>
                                </div>
                                <div class="required field">
                                    <label>Descripcion</label>
                                    <input id="acEx_Descripcion" name="acEx_Descripcion" placeholder="Descripcion de la Actividad Extra" />
                                    <span class="labelvalidator" id="labelvalidatorDescrip"></span>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="required field">
                                <label>Imagen</label>
                                <input id="FileAct" type="file" multiple />
                            </div>
                        </div>
                        <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorError"></span>

                        <input type="button" id="btnGuardarActvExtra" value="Guardar" class="btn btn-purple ui positive button" />
                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{
<script src="~/js/ActivitiesExtraJs/Create.js"></script>

}