@model AHM_TOTAL_TRAVEL_WEB.Models.MenusViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon food"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear menú
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "Menus")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <!-- formulario-->
            <form>

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">
                          
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Menú</label>
                                    <input id="Menu_Nombre" placeholder="Menú" />
                                </div>
                                <div class="required field">
                                    <label class="ui label">Precio</label>
                                    <div class="ui right labeled input">
                                        <input type="number" placeholder="Precio" id="Menu_Precio">
                                        <div class="ui basic label">.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="required field">
                                <label class="ui label">Descripcion</label>
                                <input id="Menu_Descripcion" placeholder="Descripcion" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Restaurante</label>
                                    <select id="Rest_ID" class="ui dropdown search" asp-items="ViewBag.Rest_ID">  <option value="">Seleccione un restaurante</option></select>
                                </div>
                                <div class="required field">
                                    <label class="ui label">Tipo de menús</label>
                                    <select id="Time_ID" class="ui dropdown search" asp-items="ViewBag.TiMe_ID">  <option value="">Seleccione un tipo de menú</option></select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="field">
                                <label class="ui label">Imagen</label>
                                <input id="File" type="file" multiple />
                            </div>
                        </div>

                        <input type="button" value="Crear" onclick="createMenus()" class="btn btn-primary ui positive button" />
                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{
    
    <script>
        var UserID = '@ViewData["UserID"]';
        console.log(UserID);
    </script>
    <script src="~/js/MenusJs/Create.js"></script>
}

