@model AHM_TOTAL_TRAVEL_WEB.Models.MenusViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon food"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear
                    </div>
                    <p class="text-capitalize">Ingresa un nuevo menú.</p>
                </div>
            </div>

            <!-- formulario-->
            <form>

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">
                            <label class="control-label">Menú</label>
                            <div class="three fields">
                                <div class="field">
                                    <input id="Menu_Nombre" placeholder="Menú" />
                                    <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorMenu"></label>
                                </div>
                                <div class="field">
                                    <input id="Menu_Descripcion" placeholder="Descripcion" />
                                    <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorDescripcion"></label>
                                </div>
                                <div class="field">
                                    <input id="Menu_Precio" type="number" placeholder="Precio" />
                                    <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPrecio"></label>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <!--<select id="Time_ID" class="ui dropdown search" asp-items="ViewBag.Count_ID"></select>-->
                                    <select id="Rest_ID" class="ui dropdown search" asp-items="ViewBag.Rest_ID">  <option value="">Seleccione un restaurante</option></select>
                                    <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorRest"></label>
                                </div>
                                <div class="field">
                                    <select id="Time_ID" class="ui dropdown search" asp-items="ViewBag.TiMe_ID">  <option value="">Seleccione un tipo de menú</option></select>
                                    <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorTipo"></label>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="field">
                                <label class="control-label">Imagen</label>
                                <input id="File" type="file" class="form-control" multiple />
                            </div>
                            <label style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorError"></label>
                        </div>

                        <input type="button" value="Crear" onclick="createMenus()" class="btn btn-primary ui positive button" />
                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{
    
    <script>
        var UserID = '@ViewData["UserID"]';
        console.log(UserID);
    </script>
    <script src="~/js/MenusJs/Create.js"></script>
}

