@model AHM_TOTAL_TRAVEL_WEB.Models.MenusViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon food"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear menú
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "Menus")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <!-- formulario-->
            <form>

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">

                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Menú</label>
                                    <input id="Menu_Nombre" placeholder="Menú" />
                                </div>
                                <div class="required field">
                                    <label class="ui label">Precio</label>
                                    <div class="ui right labeled input">
                                        <input type="number" min="1"  oninput="this.value = Math.abs(this.value)" placeholder="Precio" id="Menu_Precio">
                                        <div class="ui basic label">.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="required field">
                                <label class="ui label">Descripcion</label>
                                <input id="Menu_Descripcion" placeholder="Descripcion" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label class="ui label">Restaurante</label>
                                    <select id="Rest_ID" class="ui dropdown search" asp-items="ViewBag.Rest_ID">  <option value="">Seleccione un restaurante</option></select>
                                </div>
                                <div class="required field">
                                    <label class="ui label">Tipo de menús</label>
                                    <select id="Time_ID" class="ui dropdown search" asp-items="ViewBag.TiMe_ID">  <option value="">Seleccione un tipo de menú</option></select>
                                </div>
                            </div>
                        </div>
                        <div class="ui grid three column stackable mt-4">

                            <div class="column">
                                <label class="ui label">Imagenes en fila.</label>
                                <div class="ui segment">
                                    <div class="ui middle aligned divided list" id="image-upload-list">

                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">
                                    <div class="ui icon header">
                                        <i class="pdf file outline icon"></i>
                                        Sube tus imagenes al sistema.
                                    </div>
                                    <input type="file" (change)="fileEvent($event)" class="inputfile"
                                           id="File" />
                                    <label for="File" class="ui primary button">
                                        Añade una imagen
                                    </label>
                                </div>

                            </div>

                            <div class="column">
                                <div class="ui placeholder segment" style="cursor:pointer; opacity:inherit">
                                    <div class="ui icon header" id="MenusCarousel">
                                        <i class="images icon"></i>
                                        Tus imagenes aparecerán aquí.
                                    </div>

                                    <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" id="MenusCarousel" data-auto="false">
                                    </div>
                                </div>
                            </div>

                            <input type="button" value="Guardar" onclick="createMenus()" class="btn btn-edit ui positive button mb-3 ms-3" />
                            <a type="button" href="@Url.Action("Index", "Menus")" class="ui button mb-3 ms-3">Cancelar</a>
                        </div>
                    </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{

    <script>
        var UserID = '@ViewData["UserID"]';
    </script>
    <script src="~/js/MenusJs/Create.js"></script>
}

@section HighlightTile{
    <script>
        highlightTile();
    </script>
}