@model AHM_TOTAL_TRAVEL_WEB.Models.ReservationRestaurantsViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon food"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Crear Reservacion Restaurante
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "ReservationRestaurant")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <!-- formulario-->
            <form asp-action="Create" asp-controller="ReservationRestaurant" id="CreateReservationRestaurant">

                <div class="ui form attached fluid segment">
                    <div class="content">

                        <div class="field">
                            <div class=" two fields">
                                <div class="required field">
                                    <label class="ui label">Reservacion</label>
                                    <select id="Resv_ID" name="Resv_ID" class="ui dropdown search" asp-items="ViewBag.Resv_ID">
                                        <option value="">Seleccione una reservacion</option>
                                    </select>
                                </div>
                                <div class="required field">
                                    <label class="ui label">Restaurante</label>
                                    <select id="Rest_ID" name="Rest_ID" class="ui dropdown search" asp-items="ViewBag.Rest_ID">
                                        <option value="">Seleccione una reservacion</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Fecha Reservacion</label>
                                    <input id="ReRe_FechaReservacion" name="ReRe_FechaReservacion" placeholder="Fecha Reservacion" type="date" />
                                </div>
                                <div class="required field">
                                    <label>Hora Reservacion</label>
                                    <input id="ReRe_HoraReservacion" name="ReRe_HoraReservacion" placeholder="Hora Reservacion" />
                                </div>
                            </div>
                        </div>
                        <span class="labelvalidator" id="labelvalidatorError"></span>

                        <input type="button" value="Guardar" id="btnCreateReservationrestaurante" class="btn btn-purple ui positive button" />
                        <a type="button" href="@Url.Action("Index", "ReservationRestaurant")" class="ui button mb-3 ms-3">Cancelar</a>

                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/ReservationRestauranteJS/Creat.js"></script>
}

@section HighlightTile{
    <script>
        $("#ReservationModule").addClass("active");
        $("#Reservation_Schema").addClass("show");
        $("#ReservationModule").addClass("expandedList")
    </script>
}



