@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.ReservationRestaurantsListViewModel>

@{
    ViewData["Title"] = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{
    <style>
        #hotel_nav > .item {
            padding: 0;
        }

        .blue_text {
            color: #4183c4;
            text-decoration: none;
        }

        .header {
            text-decoration: none;
        }

        .label {
            text-decoration: none;
        }

        .ui.dropdown.selection {
            border-radius: 0;
        }
    </style>
}

<br />
<br />
<div class="container">
    <div class="ui clearing segment">
        <div class="ui grid">
            <div class="eight wide column">
                <select id="Estado" class="ui dropdown search">
                    <option value="0" selected>Todos</option>
                    <option value="1">Pendientes</option>
                    <option value="2">Confirmados</option>
                </select>
            </div>
        </div>
        <br />
    </div>
    <div class="ui stackable grid">

        <!-- reservation historial section -->
        <div class="five wide column">
            <div class="ui segment" id="asa">

                <!-- top reservation filter menu -->
                <div class="ui cards overflow-auto" style="max-height: 55em;" id="tarjetaT">

                </div>

            </div>
        </div>

        <div class="eleven wide column">
            <div class="ui segment">
                <div class="ui top attached tabular menu" id="Reservation_Details_Info">
                    <a class="item active" onclick="ShowContent('frmReservation_Info',0)">
                        Detalles
                    </a>
                </div>
                <div class="ui bottom attached segment overflow-auto" id="Reservation_Details_Content"
                     style="padding: 1em !important; max-height: 55em;">

                    <div class="Reservation_Details_Content_Item" id="Default_Item">
                        <h2 class="ui icon header" style=" width: 100%; height: 100%;">
                            <i class="folder open icon"></i>
                            <div class="content">
                                Selecciona una reservación
                            </div>
                        </h2>
                    </div>

                    <div class="Reservation_Details_Content_Item" id="frmReservation_Info">
                        <div class="ui form attached fluid segment">
                            <div class="content">
                                <div id="InfoDet" hidden>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        const RestauranteID = "@ViewData["RestauranteID"]";
    </script>
    <script src="~/js/ModuleRestaurantsJs/Reservaciones.js"></script>
}

@section HighlightTile{
    <script>
        /*        $("#Restaurant_Schema").addClass("show");*/
        //$("#RestaurantsTile").addClass("activeTile");
        //$("#MenusTile").addClass("activeTile");
        $("#TypeMenusTile").addClass("activeTile");
    </script>
}