@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.ReservationRestaurantsListViewModel>

@{
    ViewData["Title"] = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reservations</h1>

<div id="reservacionesContainer">

</div>

@section Scripts{

    <script>
        const RestauranteID = "@ViewData["RestauranteID"]";
    </script>

    <script src="~/js/ModuleRestaurantsJs/Reservaciones.js"></script>
}