@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AHM Boletos</title>
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="../assets/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../assets/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../assets/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../assets/img/favicon.ico">
    <!-- Tweaks for older IEs-->
</head>
<body>
    <div class="container-xxl d-flex align-items-center justify-content-md-center position-relative py-5">
        <div class="pasword-forgot">
            <div class="row justify-content-md-center py-5">
                <div class="col-md-12 py-5">
                    <div class="card">
                        <div class="card-header align-items-center justify-content-center" style="background-color: #652D90">
                            <h3 class="text-white">Recuperar Contraseña</h3>
                        </div>
                        <div class="card-body">
                            <form class="login-form py-2 w-100" method="get" action="index.html">
                                <h4>Ingrese una Nueva Contraseña</h4>
                                <div class="input-material-group mb-3">
                                    <input class="input-material" id="contra-recuperar" type="text" name="contra-recuperar" autocomplete="off">
                                    <label class="label-material" for="contra_recuperar">Contraseña Nueva</label>
                                </div>
                                <div class="input-material-group mb-4">
                                    <input class="input-material" id="contra-recuperar-confirm" type="password" name="contra-recuperar-confirm">
                                    <label class="label-material" for="contra_recuperar-confirm">Confirmar Contraseña</label>
                                </div>
                                <button class="btn btn-primary mb-3" id="login" type="submit">Confirmar</button><br><small class="text-gray-500">Ya recuerdas tu Contraseña? </small><a class="text-sm text-paleBlue" href="register.html">Ingresa</a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript files-->
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/chart.js/Chart.min.js"></script>
    <script src="../assets/vendor/just-validate/js/just-validate.min.js"></script>
    <script src="../assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
    <!-- Main File-->
    <script src="../assets/js/front.js"></script>
</body>
</html>