
@{
    ViewData["Title"] = "Restaurantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <h2 class="mb-0 p-1"></h2>
    </div>
</div>

<br />

<div class="container">
    <div class="ui grid">
        <div class="five wide column">
            <div class="ui segment">
                <div class="ui top attached menu mb-4">
                    <div class="item">PLATILLOS</div>
                </div>

                <div class="container">

                    <div class="row">
                        <div class="card col-12">
                            <img src="https://i0.wp.com/paulabolanosrivas.weebly.com/uploads/3/1/0/5/31057765/8267117_orig.jpg" class="card-img-top" alt="Restaurante Menu">
                            <div class="card-body">
                                <div class="col-12 text-start">
                                    <h5 class="fw-600">Res Ramsey Corte</h5>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-end">
                                        <a href="#" class="ms-5 me-0 fs-5">Ver detalles</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card col-12">
                            <img src="https://www.hotelmousai.com.mx/blog/wp-content/uploads/2016/08/agua-chile-rojo.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="col-12 text-start">
                                    <h5 class="fw-600">AguaChile Rojo</h5>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-end">
                                        <a href="#" class="ms-5 me-0 fs-5">Ver detalles</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card col-12">
                            <img src="https://www.hotelmousai.com.mx/blog/wp-content/uploads/2020/10/dinning-hiroshi.jpg" class="card-img-top" alt="Restaurante Menu">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12 text-start">
                                        <h5 class="fw-600">Wrap de Jícama</h5>
                                    </div>
                                    <div class="col-12 text-end">
                                        <a href="#" class="ms-5 me-0 fs-5">Ver detalles</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="eleven wide column">
            <div class="ui segment">
                <div class="ui top attached menu mb-4">
                    <div class="item">ACTIVIDADES</div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="card col-6">
                            <img src="https://www.hotelmousai.com.mx/blog/wp-content/uploads/2020/10/dinning-hiroshi.jpg" class="card-img-top" alt="Restaurante Menu">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12 text-start">
                                        <h5 class="fw-600">Wrap de Jícama</h5>
                                    </div>
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Detalles</a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Editar</a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Eliminar</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="card col-6">
                            <img src="https://www.hotelmousai.com.mx/blog/wp-content/uploads/2020/10/dinning-hiroshi.jpg" class="card-img-top" alt="Restaurante Menu">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12 text-start">
                                        <h5 class="fw-600">Wrap de Jícama</h5>
                                    </div>
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Detalles</a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Editar</a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Eliminar</a>
                                        </div>

                                </div>
                            </div>
                        </div>
                        <div class="card col-6">
                            <img src="https://www.hotelmousai.com.mx/blog/wp-content/uploads/2020/10/dinning-hiroshi.jpg" class="card-img-top" alt="Restaurante Menu">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12 text-start">
                                        <h5 class="fw-600">Wrap de Jícama</h5>
                                    </div>
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Detalles</a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Editar</a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Eliminar</a>
                                        </div>

                                </div>
                            </div>
                        </div>
                        <div class="card col-6">
                            <img src="https://www.hotelmousai.com.mx/blog/wp-content/uploads/2020/10/dinning-hiroshi.jpg" class="card-img-top" alt="Restaurante Menu">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12 text-start">
                                        <h5 class="fw-600">Wrap de Jícama</h5>
                                    </div>
                            
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Detalles</a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Editar</a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Eliminar</a>
                                        </div>

                                </div>
                            </div>
                        </div>
                        <div class="card col-6">
                            <img src="https://www.hotelmousai.com.mx/blog/wp-content/uploads/2020/10/dinning-hiroshi.jpg" class="card-img-top" alt="Restaurante Menu">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12 text-start">
                                        <h5 class="fw-600">Wrap de Jícama</h5>
                                    </div>
                                   
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Detalles</a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Editar</a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#" class="btn btn-success fs-5">Eliminar</a>
                                        </div>
                                       
                                   
                                </div>
                            </div>
                        </div>
                        <div class="card col-6">
                            <img src="https://www.hotelmousai.com.mx/blog/wp-content/uploads/2020/10/dinning-hiroshi.jpg" class="card-img-top" alt="Restaurante Menu">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12 text-start">
                                        <h5 class="fw-600">Wrap de Jícama</h5>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex">
                                            <div>
                                                <a href="#" class="btn btn-success fs-5">Detalles</a>
                                            </div>
                                            <div>
                                                <a href="#" class="btn btn-success fs-5">Editar</a>
                                            </div>
                                            <div>
                                                <a href="#" class="btn btn-success fs-5">Eliminar</a>
                                            </div>
                                        </div>
                                    </div>
                                           
                                      
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
             </div>
         </div>
    </div>
</div>


@section Scripts{
    <script>
        $("#restaurantesnb").addClass("active");
    </script>
}
