@model AHM_TOTAL_TRAVEL_WEB.Models.HotelViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>HotelViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Hote_Nombre" class="control-label"></label>
                <input asp-for="Hote_Nombre" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Hote_Descripcion" class="control-label"></label>
                <input asp-for="Hote_Descripcion" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Dire_ID" class="control-label"></label>
                <input asp-for="Dire_ID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Part_ID" class="control-label"></label>
                <input asp-for="Part_ID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Hote_Url" class="control-label"></label>
                <input asp-for="Hote_Url" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section HighlightTile{
    <script>
        $("#HotelModule").addClass("active");
        $("#Hotel_Schema").addClass("show");
        $("#HotelModule").addClass("expandedList")
    </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
