@model AHM_TOTAL_TRAVEL_WEB.Models.DefaultPackagesViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon archive"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Editar
                    </div>
                    <p>Actualiza este paquete predeterminado.</p>
                </div>
            </div>

            <!-- formulario-->
           <form asp-action="Update" id="frmUpdateDefaultPackagues">

                <div class="ui form attached fluid segment">
                    <div class="content">
                        <div class="required field" hidden>
                            <label>ID</label>
                            <input asp-for="paqu_ID" class="form-control" />                           
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Nombre</label>
                                    <input asp-for="paqu_Nombre" id="Nombre" class="form-control" />
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorNombre"></span>
                                </div>
                                <div class="required field">
                                    <label>Descripción</label>
                                    <input asp-for="paqu_Descripcion" id="Descripcion" class="form-control" />
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorDescripcion"></span>
                                </div>                              
                            </div>
                        </div>  
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Precio</label>
                                    <input asp-for="paqu_Precio" id="Precio" class="form-control" />
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorPrecio"></span>
                                </div>
                                <div class="required field">
                                    <label>Duración</label>
                                    <input asp-for="paqu_Duracion" id="Duracion" class="form-control" />
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorDuracion"></span>
                                </div>
                            </div>
                        </div>  
                        <div class="field">
                            <div class="two fields">
                                 <div class="required field">
                                    <label>Hotel</label>
                                    <select asp-for="hote_ID" id="hote_ID" class="ui dropdown search" asp-items="ViewBag.hote_ID">
                                        <option value="">Seleccione un hotel</option>
                                    </select>
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorHotel"></span>
                                </div>          
                                <div class="required field">
                                    <label>Restaurante</label>
                                    <select asp-for="rest_ID" id="rest_ID" class="ui dropdown search" asp-items="ViewBag.rest_ID">
                                        <option value="">Seleccione un restaurante</option>
                                    </select>
                                    <span style="color: darkred; font-size: 16px;" class="labelvalidator" id="labelvalidatorRestaurantes"></span>
                                </div>                         
                            </div>
                        </div>  
                      

                        <input type="button" value="Actualizar" onclick="updateDefaultPackages()" class="btn btn-purple ui positive button" />
                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/DefaultPackaguesJS/Update.js"></script>
}


