@model AHM_TOTAL_TRAVEL_WEB.Models.DefaultPackagesViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="frmCreateUser">
    <div class="container card">
        <div class="ui basic segment">
            <div class="ui icon attached message">
                <i class="icon archive"></i>
                <div class="content">
                    <div class="header text-capitalize">
                        Editar
                    </div>
                </div>
                <div class="right floated content" style="text-align: end;">
                    <a class="ui left labeled icon button" href="@Url.Action("Index", "DefaultPackages")">
                        Regresar
                        <i class="left arrow icon"></i>
                    </a>
                </div>
            </div>

            <!-- formulario-->
           <form asp-action="Update" asp-controller="DefaultPackages" id="frmUpdateDefaultPackagues">

                <div class="ui form attached fluid segment">
                    <div class="content">
                        <div class="required field" hidden>
                            <label>ID</label>
                            <input asp-for="paqu_ID" class="form-control" />
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Nombre</label>
                                    <input asp-for="paqu_Nombre" id="Nombre" class="form-control" />
                                </div>
                                <div class="required field">
                                    <label>Descripción</label>
                                    <input asp-for="paqu_Descripcion" id="Descripcion" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>Precio (L.)</label>
                                    <input asp-for="paqu_Precio" id="Precio" class="form-control" type="number" min="1" pattern="^[0-9]+" onpaste="return false;" onDrop="return false;" autocomplete=off />
                                </div>
                                <div class="required field">
                                    <label>Duración</label>
                                    <input asp-for="paqu_Duracion" id="Duracion" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="required field">
                                    <label>¿Desea agregar restaurante?</label>
                                    <div class="field">
                                        <div class="ui toggle checkbox">
                                            <input type="checkbox" id="checkResta" tabindex="0" class="hidden">
                                            <label>Si</label>
                                        </div>
                                    </div>
                                    <div class="required field" id="restau" hidden>
                                        <label>Restaurante</label>
                                        <select asp-for="rest_ID" id="rest_ID" class="ui dropdown search" asp-items="ViewBag.rest_ID">
                                            <option value="0" selected="selected">Seleccione un restaurante</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="required field">
                                    <label>Hotel</label>
                                    <select asp-for="hote_ID" id="hote_ID" class="ui dropdown search" asp-items="ViewBag.hote_ID">
                                        <option value="">Seleccione un hotel</option>
                                    </select>

                                </div>
                            </div>
                        </div>                      

                        <input type="button" value="Guardar" onclick="updateDefaultPackages()" class="btn btn-edit ui positive button" />
                        <a type="button" href="@Url.Action("Index", "DefaultPackages")" class="ui button mb-3 ms-3">Cancelar</a>

                    </div>
                </div>

            </form>
            <!-- fin formulario-->
        </div>
    </div>
</div>
@section Scripts{   
    <script>
        $('.ui.checkbox').checkbox();
        const campoNumerico = document.getElementById('Precio');

        campoNumerico.addEventListener('keydown', function (evento) {
            const teclaPresionada = evento.key;
            const teclaPresionadaEsUnNumero =
                Number.isInteger(parseInt(teclaPresionada));

            const sePresionoUnaTeclaNoAdmitida =
                teclaPresionada != 'ArrowDown' &&
                teclaPresionada != 'ArrowUp' &&
                teclaPresionada != 'ArrowLeft' &&
                teclaPresionada != 'ArrowRight' &&
                teclaPresionada != 'Backspace' &&
                teclaPresionada != 'Delete' &&
                teclaPresionada != 'Enter' &&
                !teclaPresionadaEsUnNumero;
            const comienzaPorCero =
                campoNumerico.value.length === 0 &&
                teclaPresionada == 0;

            if (sePresionoUnaTeclaNoAdmitida || comienzaPorCero) {
                evento.preventDefault();
            }

        });

       
        if ($("#rest_ID").val() == 0) {
            $("#restau").hide();
            $("#checkResta").removeAttr("checked");            
        }
        else {           
            $("#restau").removeAttr('hidden');
            $("#restau").show();
        }
        
        $("#checkResta").change(function () {
            if ($("#checkResta").prop("checked") == true) {
                $("#restau").removeAttr('hidden');
                $("#restau").show();
            }
            else {
                $("#restau").hide();
                SetDropDownValue($("#rest_ID"), "0");
            }
        });

    </script>
    <script src="~/js/DefaultPackaguesJS/Update.js"></script>
}

@section HighlightTile{
    <script>
        $("#SalesModule").addClass("active");
        $("#Sale_Schema").addClass("show");
        $("#SalesModule").addClass("expandedList")
    </script>
}
