@model AHM_TOTAL_TRAVEL_WEB.Models.DefaultPackagesViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<h4>DefaultPackagesViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div class="form-group" hidden>
                <label asp-for="paqu_ID" class="control-label"></label>
                <input asp-for="paqu_ID" class="form-control" />
                <span asp-validation-for="paqu_ID" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="paqu_Nombre" class="control-label"></label>
                <input asp-for="paqu_Nombre" class="form-control" />
                <span asp-validation-for="paqu_Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paqu_Descripcion" class="control-label"></label>
                <input asp-for="paqu_Descripcion" class="form-control" />
                <span asp-validation-for="paqu_Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paqu_Duracion" class="control-label"></label>
                <input asp-for="paqu_Duracion" class="form-control" />
                <span asp-validation-for="paqu_Duracion" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="paqu_Precio" class="control-label"></label>
                <input asp-for="paqu_Precio" class="form-control" />
                <span asp-validation-for="paqu_Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hote_ID" class="control-label"></label>
                <input asp-for="hote_ID" class="form-control" />
                <span asp-validation-for="hote_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rest_ID" class="control-label"></label>
                <input asp-for="rest_ID" class="form-control" />
                <span asp-validation-for="rest_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

