@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{

    @*<link rel="stylesheet" href="~/assets/client/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/client/css/style.css">*@

    <style>
        .carta {
        }

            .carta:hover {
                background-color: #F8E8FF;
            }

        .bot {
            background-color: transparent;
            border-color: transparent;
            color: #19bdce;
            text-decoration: none;
        }

        .in {
            font-weight: 300;
            font-size: 15px;
            line-height: 24px;
            color: #818c8d;
        }

        .ma {
            margin: 20px;
        }

        .con {
            background-color: white;
            border-radius: 10px
        }
    </style>
}

<br>
<br>
<div class="container">
    <div class="ui attached segment">
        <div class="fullwidth-block">
            <div class="container con">
                Ciudad de origen:
                <select id="Origen" class="ui dropdown search ma" asp-items="ViewBag.ciudadesResidencia">
                    <option value="0" selected>Todos</option>
                </select>
                Destinos:
                <select id="Destinos" class="ui dropdown search ma" asp-items="ViewBag.ciudades">
                    <option value="0" selected>Todos</option>
                </select>
            </div>
        </div>
    </div>
    <div class="ui attached segment">
        <div class="ui secondary pointing menu" id="navbar_packages">
            <a class="item active" data-target="#frmPackages">PAQUETES</a>
            <a class="item" data-target="#frmTransports">TRANSPORTES</a>
            <a class="item" data-target="#frmActivities">ACTIVIDADES EXTRAS</a>
            <a class="item" data-target="#frmDetails">FINALIZAR MI COMPRA</a>
            <!--
            <div class="right menu">
                <a class="ui item">Logout</a>
            </div>-->
        </div>
        <div class="ui segment" id="frmMenu_container">

            <div id="frmPackages">
                <div class="ui grid stackable three columns"></div>
            </div>

            <div id="frmTransports">
                <div class="ui fluid three item top attached menu" id="frmTransporte_menu">
                    <a class="item active" data-target="#frmTransportes">TRANSPORTES</a>
                    <a class="item" data-target="#frmVuelos">VUELOS</a>
                    <a class="item" data-target="#frmPortuarios">PORTUARIOS</a>
                </div>
                <div id="frmTransports_Container">
                    <div class="ui attached segment" id="frmTransportes">
                        <div class="ui divided items"></div>
                    </div>
                    <div class="ui attached segment" id="frmVuelos">
                        <div class="ui divided items"></div>
                    </div>
                    <div class="ui attached segment" id="frmPortuarios">
                        <div class="ui divided items"></div>
                    </div>
                </div>
            </div>

            <div id="frmActivities">
                <div class="ui divided items"></div>
            </div>

            <div id="frmDetails">
                <div class="ui divided items"></div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/BuyDefaults/DefaultPackagesJS.js"></script>
}

