@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{

    @*<link rel="stylesheet" href="~/assets/client/css/animate.min.css">
        <link rel="stylesheet" href="~/assets/client/css/style.css">*@

    <style>
        .carta {
        }

            .carta:hover {
                background-color: #F8E8FF;
            }

        .bot {
            background-color: transparent;
            border-color: transparent;
            color: #19bdce;
            text-decoration: none;
        }

        .in {
            font-weight: 300;
            font-size: 15px;
            line-height: 24px;
            color: #818c8d;
        }

        .ma {
            margin: 20px;
        }

        .con {
            background-color: white;
            border-radius: 10px
        }
    </style>
}

<br>
<br>
<div class="container">
    <div class="ui attached segment">
        <div class="fields">
            <div class="field">
                <label>Ciudad de origen:</label>
                <select id="Origen" class="ui dropdown search" asp-items="ViewBag.ciudadesResidencia">
                    <option value="0" selected>Todos</option>
                </select>
            </div>
            <div class="field">
                <label>Destinos:</label>
                <select id="Destinos" class="ui dropdown search" asp-items="ViewBag.ciudades">
                    <option value="0" selected>Todos</option>
                </select>
            </div>
        </div>
    </div>
    <div class="ui attached segment">
        <div class="ui secondary pointing menu" id="navbar_packages">
            <a class="item active menu_item" data-target="#frmPackages">PAQUETES</a>
            <a class="item menu_item" data-target="#frmTransports">TRANSPORTES</a>
            <a class="item menu_item" data-target="#frmActivities">ACTIVIDADES EXTRAS</a>
            <a class="item disabled" id="pay_item" data-target="#frmDetails">FINALIZAR MI COMPRA</a>
            <!--
            <div class="right menu">
                <a class="ui item">Logout</a>
            </div>-->
        </div>
        <div class="ui segment" id="frmMenu_container">

            <div id="frmPackages">
                <div class="ui grid stackable three columns"></div>
            </div>

            <div id="frmTransports">
                <div class="ui fluid three item top attached menu" id="frmTransporte_menu">
                    <a class="item active" data-target="#frmTransportes">TRANSPORTES</a>
                    <a class="item" data-target="#frmVuelos">VUELOS</a>
                    <a class="item" data-target="#frmPortuarios">PORTUARIOS</a>
                </div>
                <div id="frmTransports_Container">
                    <div class="ui attached segment" id="frmTransportes">
                        <div class="ui divided items"></div>
                    </div>
                    <div class="ui attached segment" id="frmVuelos">
                        <div class="ui divided items"></div>
                    </div>
                    <div class="ui attached segment" id="frmPortuarios">
                        <div class="ui divided items"></div>
                    </div>
                </div>
            </div>

            <div id="frmActivities">
                <div class="ui divided items"></div>
            </div>

            <div id="frmDetails">
                <div class="ui grid one columns">

                    <div class="column" id="frmPackagesDetail">
                        <br>
                        <h4 class="ui left floated header">
                            <i class="user icon"></i> Información de paquete
                        </h4>
                        <div class="ui clearing divider"></div>

                        <div class="ui grid two stackable columns"></div>
                    </div>

                    <div class="column" id="frmTransportDetail">
                        <br>
                        <h4 class="ui left floated header">
                            <i class="user icon"></i> Transporte
                        </h4>
                        <div class="ui clearing divider"></div>

                        <div class="ui grid two stackable columns"></div>
                    </div>

                    <div class="column" id="frmActivitiesDetail">
                        <br>
                        <h4 class="ui left floated header">
                            <i class="bed icon"></i> Actividades
                        </h4>
                        <div class="ui clearing divider"></div>

                        <div class="ui grid two stackable columns"></div>
                    </div>

                    <div class="column" id="frmBreakdownDetail">
                        <br>
                        <h4 class="ui left floated header">
                            <i class="bed icon"></i> Finalizar compra
                        </h4>
                        <div class="ui clearing divider"></div>

                        <div class="ui grid two columns" id="grdBreakdown">
                            <!-- formulario de compra -->
                            <div class="column twelve wide column">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="h4 mb-0">Ingresa los siguientes datos</h3>
                                    </div>
                                    <div class="card-body ">
                                        <div id="frmCreateReservation" class="ui form attached fluid segment">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="two fields">
                                                        <div class="field">
                                                            <div class="col-md-12">
                                                                <label class="form-label">Fecha Entrada - Salida</label><label class="text-danger">*</label>
                                                                <input type="text" name="daterange" id="dateRangePicker" class="form-control">
                                                                <br>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="col-md-12">
                                                                <label class="form-label">Número de Personas</label><label class="text-danger">*</label>
                                                                <input class="form-control" type="number" min="1" id="personas">
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="two fields">
                                                        <div class="field">
                                                            <div class="col-md-12">
                                                                <label class="form-label">Cantidad de pagos</label><label class="text-danger">*</label>
                                                                <input class="form-control" type="number" min="1" max="5" id="txtCantidadPagos">
                                                                <br>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="col-md-12">
                                                                <label class="form-label">Elige tu método de pago</label><label class="text-danger">*</label>
                                                                <select id="cbbFormaPago" class="ui dropdown search" asp-items="ViewBag.MetodosPagos">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="col-md-12">
                                                <label class="form-label" for="exampleInputEmail1">E-mail</label><label class="text-danger">*</label>
                                                <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" readonly value="@ViewData["Correo"]">
                                                <div class="form-text" id="emailHelp">El correo de confirmación se enviará a esta dirección.</div>
                                                <br>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- desgloce de compra -->
                            <div class="column four wide column">

                                
                            </div>
                            <div class="extra content">
                                <button class="ui button btn-edit" id="btnFinalizar">Finalizar compra</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/BuyDefaults/DefaultPackagesJS.js"></script>
    @*<script src="~/js/BuyDefaults/Reserva.js"></script>*@
}


