@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.DefaultPackagesListViewModel>

@{
    ViewData["Title"] = "Index";


}

<!-- Loading third party fonts -->
<!-- Loading main css file -->
<link rel="stylesheet" href="~/assets/client/css/animate.min.css">
<link rel="stylesheet" href="~/assets/client/css/style.css">

<style>
    .carta {
    }

        .carta:hover {
            background-color: #F8E8FF;
        }

    .bot {
        background-color: transparent;
        border-color: transparent;
        color: #19bdce;
        text-decoration: none;
    }

    .in {
        font-weight: 300;
        font-size: 15px;
        line-height: 24px;
        color: #818c8d;
    }

    .ma {
        margin: 20px;
    }

    .con {
        background-color: white;
        border-radius: 10px
    }
</style>


<div class="content">
    <div class="fullwidth-block">
        <div class="container con">
            Ciudad de origen:
            <select id="Origen" class="ui dropdown search ma" asp-items="ViewBag.CiudadesOrigen">
                <option value="0" selected>Todos</option>
            </select>
            Destinos:
            <select id="Destinos" class="ui dropdown search ma" asp-items="ViewBag.Destinos">
                <option value="0" selected>Todos</option>
            </select>
            <br />
            <div class="filterable-items" id="paquetesContainer">
                <br />
                @*@foreach (var item in Model)
                    {

                        <div class="filterable-item south-america ">
                            <article class="offer-item">
                                <figure class="featured-image">
                                    <img src="~/assets/dummy/offer-thumbnail-1.jpg" alt="">
                                </figure>
                                <h2 class="entry-title"><a href="#">@Html.DisplayFor(modelItem => item.Nombre)</a></h2>

                                <p>@Html.DisplayFor(modelItem => item.Descripcion_Paquete)</p>
                                <div class="price">
                                    <strong>@Html.DisplayFor(modelItem => item.precio) LPS</strong>
                                    <small>/<a class="bot" href="@Url.Action("Details","BuyDefaults", new { id=item.Id })">Ver detalles</a></small>

                                </div>
                            </article>
                        </div>

                    }*@
            </div>

            @*<div class="pagination wow fadeInUp">
                    <span class="page-numbers current">1</span>
                    <a href="#" class="page-numbers">2</a>
                    <a href="#" class="page-numbers">3</a>
                    <a href="#" class="page-numbers">4</a>
                </div>*@

        </div>

    </div>
</div>

@section Scripts{
    @*<script src="~/assets/client/js/jquery-1.11.1.min.js"></script>*@
    <script src="~/assets/client/js/min/plugins-min.js"></script>
    <script src="~/assets/client/js/min/app-min.js"></script>
    <script src="~/js/BuyDefaults/Index.js"></script>
    <script>

        const success = FindGetValue("success");

        if (success) {
            iziToastAlert("Proceso completado", "La acción se ha completado exitosamente.", "success")
        }

    </script>
}
@section HighlightTile{
    <script>
        highlightTile();
    </script>
}