@model IEnumerable<AHM_TOTAL_TRAVEL_WEB.Models.TransportListViewModel>

@{
    ViewData["Title"] = "Transport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{
    <style>
        h1{
            text-align:left !important;
        }
    </style>
}

<div class="container">
    <div id="Transporte" class="tabcontent">
        <div class="row">
            <div class="col">
                <div class="list-group list-group-horizontal text-nowrap overflow-auto" id="cbbTransporte">
                    <a id="RP-0" class="list-group-item list-group-item-action active">TODOS</a>
                    <a id="RP-1" class="list-group-item list-group-item-action">AÉREO</a>
                    <a id="RP-2" class="list-group-item list-group-item-action">TERRESTRE</a>
                    <a id="RP-3" class="list-group-item list-group-item-action">MARÍTIMO</a>
                </div>
            </div>
        </div>


        <div class="row overflow-auto" style="background: #eef5f9; height: 100%;">
            <div class="col-12">

                <br>
                <div class="card">
                    <ul class="list-group">
                        <!-- inicio de lista -->
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item">
                                <div class="card-body mb-3" style="padding: 0;">
                                    <div class="row g-0">
                                        <div class="col-md-3" align="center">
                                            <img src="https://masdeslavandes.net/wp-content/uploads/1627432896_189_Las-10-mejores-aplicaciones-de-reserva-de-vuelos-Android.jpg">
                                        </div>
                                        <div class="col-md-6">
                                            <h1 style="color: gray; font-style: italic; font-size: 40px;">@Html.DisplayFor(modelItem => item.NombrePartner)</h1>
                                            <p class="card-text">
                                                <b>From: </b>
                                                <b class="text-danger"> @Html.DisplayFor(modelItem => item.Colonia), @Html.DisplayFor(modelItem => item.Ciudad) </b> <i class='bx bxs-map'></i> <br>
                                                <b>To: </b>
                                                <b class="text-primary">@Html.DisplayFor(modelItem => item.TipoTransporte)</b> <i class='bx bxs-map'></i> <br>
                                                <b>At: </b> <b class="text-secondary"> 20-09-2022 12:15 pm</b>
                                            </p>
                                        </div>
                                        <div class="col-md-3" align="center">
                                            <br>
                                            <b class="text-muted text-decoration-line-through" style="font-size: 20px;">$ 00,000.00</b>
                                            <span class="badge bg-warning" style="font-size:15px">25% OFFER</span>
                                            <br>
                                            <b class="text-success" style="font-size: 30px;">$ 00,000.00</b> <br>
                                            <button class="btn btn-primary w-100">RESERVAR</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </div>


    </div>
</div>


